<template>
  <div class="categories-overview-container">
      <div class="categories-img-block">
        <div class="categories-img" v-bind:style="{ backgroundImage: `url(${require('./../../assets/img/categories/' + topCategory.categoryThumbnail + '.svg')})` }"></div>
      </div>
      <div class="categories-title-block">
        <div class="categories-name">{{topCategory.categoryName}}</div>
        <!-- <div class="freelancer-title">ux engineer</div> -->
      </div>
      <div class="category-count-container">
        <span class="category-count">({{topCategory.categoryItemCount}})</span>
      </div>
  </div>
</template>

<script>
export default {
  name: 'categories-overview',
  data () {
    return {
      userImage: 'camera.svg'
    }
  },
  props: {
    topCategory: {
      type: Object
    }
  }
}
</script>

<style scoped>
.categories-overview-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.0625);
  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25); */
  margin: 0px 0px 10px 0px;
  padding: 5px 10px 5px 10px;
  box-sizing: border-box;
  border-radius: 4px;
  transition: 0.2s;
}
.categories-overview-container:hover {
  cursor: pointer;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.125);
  /* transform: scale(1.0125); */
  transition: 0.2s;
}
.categories-overview-container:last-child {
  margin: 0px 0px 0px 0px;
}
.categories-img-block, .categories-title-block {
  display: inline-block;
}
.categories-img-block {
  width: 36px;
  height: 36px;
  border-right: 1px solid #aeaeae;
  padding: 0px 5px 0px 0px;
}
.categories-img {
  width: 100%;
  height: 100%;
  border-radius: 0%;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: calc(100% - 5px);
}
.categories-title-block {
  position: relative;
  margin: 0px 0px 0px 10px;
}
.categories-name {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 0px;
  line-height: 1;
}
.categories-name,
.freelancer-title {
  color: var(--main-bg-color);
}
.categories-name {
  font-size: 12px;
  text-transform: capitalize;
}
.freelancer-title {
  font-style: normal;
  font-size: 10px;
  text-transform: uppercase;
  margin: 3px 0px 0px 0px;
}
.category-count-container {
  display: inline-block;
  position: absolute;
  right: 15px;
  margin-top: -3px;
}
.category-count {
  font-style: normal;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 3px 0px 0px 0px;
  line-height: 1px;
  color: var(--main-bg-color);
}
.categories-img-block {
    position: relative;
    z-index: 1;
}
.categories-overview-container:before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    width: 0%;
    height: 100%;
    background-color: #F5F5F5;
    transition: 0.3s;
    z-index: 0;
}
.categories-overview-container:hover:before {
    width: 100%;
    transition: 0.3s;
}
</style>