<template>
  <div class="post-card-response-comment-trigger-container">
    <div class="post-card-response-comment-count">{{commentCount > 99 ? '99+' : commentCount}}</div>
    <i class="material-icons" v-bind:style="[commentCount > 99 ? {'margin': '10px 20px 0px 0px'} : {}]" v-on:click="toggleComment">insert_comment</i>
  </div>
</template>

<script>
export default {
  name: 'comment-trigger',
  data () {
    return {
      // commentCount: 100
    }
  },
  props: {
    togglePostComment: undefined,
    commentCount: {
      type: Number
    }
  },
  methods: {
    toggleComment: function () {
      this.togglePostComment()
    }
  }
}
</script>

<style scoped>
.post-card-response-comment-trigger-container {
  position: relative;
}
.post-card-response-comment-trigger-container > i {
  margin: 10px 15px 0px 0px;
  user-select: none;
  color: var(--main-bg-color);
  text-shadow: 0px 0px 10px rgba(11, 18, 71, 0.25);
  font-size: 26px;
}
.post-card-response-comment-trigger-container > i:hover {
  cursor: pointer;
}
.post-card-response-comment-count {
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: right;
  color: #646992;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
}
</style>