<template>
  <div class="freelancers-overview-container">
      <UserImage :userImage="topRatedFreelancer.userDp + '.jpg'"/>
      <div class="freelancer-title-block">
        <div class="freelancer-name">{{topRatedFreelancer.username}}</div>
        <div class="freelancer-title">{{topRatedFreelancer.title}}</div>
      </div>
      <div class="service-rate-container">
        <div class="service-rate-block">
          <i class="material-icons rate-icon">star</i>
          <span class="rate-value">{{topRatedFreelancer.rating}}</span>
        </div>
      </div>
  </div>
</template>

<script>
import UserImage from './UserImage'
export default {
  name: 'freelancers-overview',
  components: {
    UserImage
  },
  data () {
    return {
      userImage: 'user.jpg'
    }
  },
  props: {
    topRatedFreelancer: {
      type: Object
    }
  }
}
</script>

<style scoped>
.freelancers-overview-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.0625);
  margin: 0px 0px 10px 0px;
  padding: 5px 10px 5px 10px;
  box-sizing: border-box;
  border-radius: 4px;
  transition: 0.2s;
}
.freelancers-overview-container:hover {
  cursor: pointer;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.125);
  transition: 0.2s;
}
.freelancers-overview-container:last-child {
  margin: 0px 0px 0px 0px;
}
.freelancer-img-block, .freelancer-title-block {
  display: inline-block;
}
/* .freelancers-overview-container >>> .freelancer-img {
  width: 42px;
  height: 42px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.125);
} */
.freelancer-title-block {
  position: relative;
  margin: 0px 0px 0px 15px;
}
.freelancer-name {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 0px;
  text-transform: uppercase;
  line-height: 1;
}
.freelancer-name,
.freelancer-title {
  color: var(--main-bg-color);
}
.freelancer-name {
  font-size: 12px;
}
.freelancer-title {
  font-style: normal;
  font-size: 10px;
  text-transform: uppercase;
  margin: 3px 0px 0px 0px;
}
.service-rate-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rate-icon {
  font-size: 16px;
  color: #FDD835;
  position: relative;
  top: 1px;
}
.rate-value {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin: 0px;
  color: var(--main-bg-color);
  font-weight: 300;
  line-height: 1.2;
  margin-left: 5px;
  position: relative;
  top: 2px;
  text-align: right;
}
.service-rate-container {
  position: absolute;
  right: 15px;
}
.freelancer-img-block {
    position: relative;
    z-index: 1;
}
.freelancers-overview-container:before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    width: 0%;
    height: 100%;
    background-color: #fafafa;
    transition: 0.3s;
    z-index: 0;
}
.freelancers-overview-container:hover:before {
    width: 100%;
    transition: 0.3s;
}
</style>