<template>
  <div class="header-container">
    <div class="container">
      <Logo :isMobile="isMobile"/>
      <Search v-if="!isMobile"/>
      <div class="notifier-section">
        <!-- <Notifier :notifierIcon="'group'" :notifierCount="45"/>
        <Notifier :notifierIcon="'message'" :notifierCount="99"/>
        <Notifier :notifierIcon="'notifications_none'" :notifierCount="108"/> -->
        <div v-if="!isLoggedIn" @click="getLogin" class="login-navigate-container">
          <p class="login-navigate-text">Login</p>
        </div>
        <UserWidget v-if="!isMobile && isLoggedIn" :eventBus="eventBus" :gotoProfile="gotoMyProfile" :isMobile="isMobile"/>
        <div v-if="isMobile" class="mobile-menu-icon-wrapper" @click="getMobileMenu">
          <i v-if="isMobileMenu" class="mobile-menu-icon material-icons">close</i>
          <i v-if="!isMobileMenu" class="mobile-menu-icon material-icons">menu</i>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Logo from './Logo'
import Search from './Search'
import Notifier from './Notifier'
import UserWidget from './UserWidget'
import Menu from './../Mobile/Menu'

export default {
  name: 'Header',
  components: {
    Logo,
    Search,
    Notifier,
    UserWidget,
    Menu
  },
  props: {
    eventBus: undefined,
    isLoggedIn: {
      type: Boolean,
      default: false
    },
    gotoMyProfile: undefined,
    isMobile: {
      type: Boolean
    },
    isMobileMenu: {
      type: Boolean
    }
  },
  data () {
    return {
    }
  },
  methods: {
    getLogin() {
      this.eventBus.$emit('is-login', true)
    },
    getMobileMenu () {
      this.eventBus.$emit('mobile-menu-state')
    }
  },
  mounted() {
  }
}
</script>

<style scoped>
.login-navigate-container {
  float: right;
  height: 50px;
  font-size: 12px;
  margin: 0px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px 0px 10px;
  margin: 0px 0px 0px 10px;
  cursor: pointer;
  user-select: none;
}
.login-navigate-text {
  margin: 0px;
}
.mobile-menu-icon-wrapper {
  width: 40px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.mobile-menu-icon {
  color: #fff;
  margin: 0px !important;
  float: right;
}
</style>
