<template>
  <div class="post-card-response-like-container">
    <div class="post-card-response-like-wrapper" v-on:click="hitLike">
      <div class="post-card-response-like-count" v-bind:style="[likeCount > 99 ? {'right': '-7px'} : {'right': '0px'}]" v-if="likeCount != 0">{{likeCount > 99 ? '99+' : likeCount}}</div>
      <i class="material-icons not-liked" v-if="!likeState">thumb_up</i>
      <i class="material-icons liked" v-if="likeState">thumb_up</i>
    </div>
    <div class="who-else-liked-wrapper" v-if="whoElseLiked">
      <div class="who-else-liked">
        <span class="who-else-liked-you" v-if="likeState">You</span>
        <span v-if="likeState">, </span>
        <span class="who-else-liked-your-contact">Pasindu Erange Silva</span>
        <span class="who-else-liked-your-contact"> and {{likeCount - 1}} others</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'like',
  data () {
    return {}
  },
  props: {
    likeEvent: undefined,
    likeState: {
      type: Boolean,
      default: false
    },
    likeCount: {
      type: Number,
      default: 0
    },
    whoElseLiked: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    hitLike: function () {
      if (this.likeEvent) {
        this.likeEvent()
      }
    }
  }
}
</script>

<style scoped>
.post-card-response-like-wrapper {
  position: relative;
  display: inline-block;
}
.post-card-response-like-wrapper > .not-liked,
.post-card-response-like-wrapper > .liked,
.post-card-response-like-wrapper > .unliked {
  margin: 10px 10px 0px 0px;
  user-select: none;
  font-size: 22px;
}
.post-card-response-like-wrapper > .not-liked:hover,
.post-card-response-like-wrapper > .liked:hover,
.post-card-response-like-wrapper > .unliked:hover {
  cursor: pointer;
}
.post-card-response-like-wrapper > .not-liked {
  text-shadow: 0px 0px 10px rgba(11, 18, 71, 0.75);
  color: #fff;
}
.post-card-response-like-wrapper > .liked,
.post-card-response-like-wrapper > .unliked {
  color: var(--main-bg-color);
  text-shadow: 0px 0px 10px rgba(11, 18, 71, 0.75);
}
.post-card-response-like-count {
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: right;
  color: #646992;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.who-else-liked-wrapper {
  width: 100%;
  max-width: 150px;
  line-height: 15px;
  margin: 0px 0px 0px 10px;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  position: relative;
  bottom: 0px;
  color: #646992;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  overflow: hidden;
  display: -webkit-inline-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
</style>