<template>
  <div class="logo-wrapper">
    <router-link to="/">
      <div class="logo-img-wrapper">
        <img class="logo-img" src="@/assets/img/logo.png"/>
      </div>
      <div class="logo-text-wrapper" v-if="!isMobile">
        <span class="logo-name">Findyo.lk</span>
        <span class="logo-tagline">Find your own way</span>
      </div>
    </router-link>
  </div>
</template>

<script>
import vue from 'vue'
import router from 'vue-router'
export default {
  name: 'Logo',
  data () {
    return {}
  },
  props: {
    isMobile: {
      type: Boolean
    }
  }
}
</script>

<style scoped>
.logo-img {
    max-width: 100%;
    width: 56px;
    float: left;
}
.logo-img-wrapper, .logo-text-wrapper {
    float: left;
}
.logo-img-wrapper {
    margin: 0px 10px 0px 0px;
}
.logo-name, .logo-tagline {
    display: block;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    line-height: 22px;
}
.logo-name {
    font-size: 26px;
    font-weight: 300;
}
.logo-tagline {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.25px;
    line-height: 1;
    margin: 5px 0px 0px 0px;
}
.logo-wrapper a {
    float: left;
}
</style>
