<template>
  <div class="notifier-container">
    <div class="notifier" @click="toggleNotifierBox">
      <div class="notifier-icon">
        <div class="notifier-icon-inner-wrapper">
          <span v-if="notifierCount" class="notifier-count">{{notifierCountFunc}}</span>
          <i class="material-icons">{{notifierIcon}}</i>
        </div>
      </div>
    </div>
    <div class="notifier-background" @click="toggleNotifierBox" v-if="isNotifierBox"></div>
    <div class="notifier-box white-box" v-if="isNotifierBox">
      <component v-bind:is="currentNotificationComponent"></component>
    </div>
  </div>
</template>

<script>
import Requests from '@/components/Includes/Notifiers/Requests'
export default {
  name: 'Notifier',
  data () {
    return {
      isNotifierBox: false,
      currentNotificationComponent: Requests
    }
  },
  components: {
    Requests
  },
  props: {
    notifierCount: {
      type: Number
    },
    notifierIcon: {
      type: String,
      required: true,
      default: 'group'
    }
  },
  methods: {
    toggleNotifierBox: function () {
      this.isNotifierBox = !this.isNotifierBox
    }
  },
  computed: {
    notifierCountFunc: function () {
      return (this.notifierCount > 99) ? ('99+') : (this.notifierCount)
    }
  }
}
</script>

<style scoped>
.notifier-container {
  float: left;
}
.notifier-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 56px;
}
.notifier-icon-inner-wrapper {
  display: inline-block;
  position: relative;
}
.notifier-icon i {
  color: #8e91ac;
  font-size: 24px;
  line-height: 1;
  float: left;
  transition: 0.2s;
}
.notifier-count {
  position: absolute;
  top: -5px;
  right: -10px;
  color: #fff;
  background-color: #e53935;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  transition: 0.2s;
}
/* hover */
.notifier-container:hover .notifier-icon i {
  cursor: pointer;
  /* font-size: 20px; */
  /* transition: 0.2s; */
}
.notifier-container:hover .notifier-icon .notifier-count {
  cursor: pointer;
  /* width: 24px;
  height: 24px;
  font-size: 11px;
  transition: 0.2s; */
}
/* hover */
.notifier-box {
  margin: 0px 0px 0px 0px;
  position: absolute;
  z-index: 1;
}
.notifier-background {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.notifier-box >>> ul {
  margin: 0px;
}
</style>