<template>
  <div class="rating-block">
    <i v-for="(rate, idx) in rates" v-bind:key="idx" class="material-icons">star</i>
  </div>
</template>

<script>
export default {
  name: 'rates',
  data () {
    return {
    }
  },
  props: {
    rates: {
      type: [Array, Number]
    }
  }
}
</script>

<style scoped>
.rating-block {
  padding: 0px;
  color: #ffb901;
  font-size: 14px;
  float: left;
  height: 25px;
  margin: 5px 0px 0px 0px;
}
</style>