<template>
  <div class="post-card-response-save-trigger-container">
  <div class="post-card-response-save-trigger-wrapper" v-on:click="saveTriggerButton">
    <i class="material-icons" v-if="!saveState">bookmark_border</i>
    <i class="material-icons" v-if="saveState">bookmark</i>
  </div>
  </div>
</template>

<script>
export default {
  name: 'save-trigger',
  data () {
    return {
      // saveState: false
    }
  },
  props: {
    saveEvent: undefined,
    saveState: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    saveTriggerButton: function () {
      if(this.saveEvent) {
        this.saveEvent()
      }
    }
  }
}
</script>

<style scoped>
.post-card-response-save-trigger-container {
  position: relative;
}
.post-card-response-save-trigger-wrapper {
  user-select: none;
  color: var(--main-bg-color);
  text-shadow: 0px 0px 10px rgba(11, 18, 71, 0.25);
  font-size: 26px;
}
.post-card-response-save-trigger-wrapper:hover {
  cursor: pointer;
}
</style>