<template>
  <div class="search-block">
    <input class="search-field" type="text" placeholder="Search here"/>
    <button class="search-button">
      <i class="material-icons">search</i>
    </button>
  </div>
</template>

<script>
export default {
  name: 'Search',
  data () {
    return {}
  },
  methods: {
    searchKeyUp: function () {
    }
  }
}
</script>

<style scoped>
.search-block {
  background-color: #1b2258;
  position: relative; 
}
input.search-field {
    background-color: transparent;
    border: none;
    background: none;
    display: inline-block;
    padding: 18px 19px;
    color: #868aa6;
    width: 200px;
}
input.search-field::placeholder {
    color: #868aa6;
}
input.search-field, button.search-button {
    float: left;
}

button.search-button {
  font-size: 24px;
  color: #8e91ac;
  background-color: transparent;
  border: none;
  padding: 0px;
  line-height: 1;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

button.search-button:hover {
  color: #e1e1e1;
  transition: 0.2s;
}

.search-suggestion-container {
  position: absolute;
  top: 56px;
  left: 0px;
  width: 100%;
  background-color: #1b2258;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  text-transform: capitalize;
  box-sizing: border-box;
}
ul.search-suggestion > li {
  padding: 10px 10px;
  transition: 0.2s;
}
ul.search-suggestion > li:hover {
  background-color: #252d6b;
  cursor: pointer;
  transition: 0.2s;
}
</style>