<template>
  <div class="services-overview-container">
      <div class="services-img-block">
        <div class="freelancer-img" v-bind:style="{ backgroundImage: `url(${require('./../../assets/img/' + topService.userDp + '.jpg')})` }"></div>
      </div>
      <div class="services-title-block">
        <div class="services-name">{{topService.serviceTitle}}</div>
        <div class="freelancer-title">{{topService.username}}</div>
      </div>
      <div class="service-rate-container">
        <div class="service-rate-block">
          <i class="material-icons rate-icon">star</i>
          <span class="rate-value">{{topService.serviceRating}}</span>
        </div>
      </div>
      <div class="services-overview-details-container">
        <div class="services-overview-details">
          <div class="services-overview-details-desc">
            I will {{topService.serviceTitle}} for
            <span class="services-overview-details-price">Rs.{{topService.servicePrice}}</span>
          </div>
        </div>
        <a class="services-overview-goto">
          View
        </a>
      </div>
  </div>
</template>

<script>
export default {
  name: 'services-overview',
  data () {
    return {
      userImage: 'user.jpg'
    }
  },
  props: {
    topService: {
      type: Object
    }
  }
}
</script>

<style scoped>
.services-overview-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.0625);
  margin: 0px 0px 10px 0px;
  padding: 5px 10px 5px 10px;
  box-sizing: border-box;
  border-radius: 4px;
  transition: 0.2s;
  overflow: hidden;
}
.services-overview-container:hover {
  cursor: auto;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.125);
  /* transform: scale(1.0125); */
  transition: 0.2s;
}
.services-overview-container:last-child {
  margin: 0px 0px 0px 0px;
}
.services-img-block, .services-title-block {
  display: inline-block;
}
.services-img-block {
  width: 42px;
  height: 42px;
  border-right: 1px solid #aeaeae;
  padding: 0px 10px 0px 0px;
}
.freelancer-img {
  width: 42px;
  height: 42px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.125);
}
/* .categories-img {
  width: 100%;
  height: 100%;
  border-radius: 0%;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: calc(100% - 5px);
} */
.services-title-block {
  position: relative;
  margin: 0px 0px 0px 10px;
}
.services-name {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 0px;
  line-height: 1;
}
.services-name,
.freelancer-title {
  color: var(--main-bg-color);
}
.services-name {
  font-size: 12px;
  text-transform: capitalize;
  overflow: hidden;
  white-space: nowrap;
  max-width: 120px;
  text-overflow: ellipsis;
}
.freelancer-title {
  font-style: normal;
  font-size: 10px;
  text-transform: uppercase;
  margin: 5px 0px 0px 0px;
}
.categorty-count-container {
  display: inline-block;
  position: absolute;
  right: 15px;
  margin-top: -3px;
}
.categorty-count {
  font-style: normal;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 3px 0px 0px 0px;
  line-height: 1px;
  color: var(--main-bg-color);
}
.service-rate-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rate-icon {
  font-size: 16px;
  color: #FDD835;
  position: relative;
  top: 1px;
}
.rate-value {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin: 0px;
  color: var(--main-bg-color);
  font-weight: 300;
  line-height: 1.2;
  margin-left: 5px;
  position: relative;
  top: 2px;
  text-align: right;
}
.service-rate-container {
  position: absolute;
  right: 15px;
}

.services-overview-details-container {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 0%;
    height: 100%;
    background-color: #F5F5F5;
    color: var(--main-bg-color);
    font-size: 12px;
    font-weight: 500;
    padding: 0px 0px;
    box-sizing: border-box;
    overflow: hidden;
    transition: 0.3s;
}
.services-overview-details {
    width: calc(100% - 50px);
    line-height: 1.3;
}
.services-overview-details-desc {
    line-height: 16px;
    font-style: italic;
    opacity: 0;
    transition: 0.3s;
    cursor:default;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
a.services-overview-goto {
    position: absolute;
    top: 0px;
    right: -50px;
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b2258;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1;
    transition: 0.3s;
    box-shadow: var(--main-shadow);
    cursor: pointer;
}
.services-overview-details-price {
    font-weight: 600;
}
.services-overview-container:hover .services-overview-details-container {
    width: 100%;
    padding: 10px 12px;
    transition: 0.3s;
}
.services-overview-container:hover a.services-overview-goto {
    right: 0px;
    transition: 0.5s;
}
.services-overview-container:hover .services-overview-details-desc {
    opacity: 1;
    transition: 1.5s;
}
.services-overview-container > .services-img-block,
.services-overview-container > .services-title-block,
.services-overview-container > .service-rate-container {
    transition: 0.3s;
    opacity: 1;
    transform: scale(1);
}
.services-overview-container:hover > .services-img-block,
.services-overview-container:hover > .services-title-block,
.services-overview-container:hover > .service-rate-container {
    transition: 0.3s;
    opacity: 0;
    transform: scale(0);
}
</style>