<template>
  <div class="post-card-response-share-trigger-container">
    <div class="post-card-response-share-count">{{shareCount > 99 ? '99+' : shareCount}}</div>
    <i class="material-icons post-card-response-share-trigger" v-bind:style="[shareCount > 99 ? {'margin': '10px 20px 0px 0px'} : {}]" v-on:click="shareTriggerButton">share</i>
    <div class="post-card-response-share-list" v-if="shareTriggerState">
      <div class="share-remover-overlay" v-on:click="shareTriggerButton"></div>
      <ul class="post-card-response-share-list-ul">
        <li class="social-share-item social-share-fb"><a><span class="ti-facebook"></span><span class="post-card-response-share-title">Facebook</span></a></li>
        <li class="social-share-item social-share-google"><a><span class="ti-google"></span><span class="post-card-response-share-title">Google</span></a></li>
        <li class="social-share-item social-share-linkedin"><a><span class="ti-linkedin"></span><span class="post-card-response-share-title">Linkedin</span></a></li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'share-trigger',
  data () {
    return {
    }
  },
  props: {
    shareCount: {
      type: Number
    },
    toggleShareEvent: undefined,
    shareTriggerState: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    shareTriggerButton: function () {
      if (this.toggleShareEvent) {
        this.toggleShareEvent()
      }
    }
  }
}
</script>

<style scoped>
.post-card-response-share-trigger-container {
  position: relative;
}
.post-card-response-share-trigger {
  margin: 10px 15px 0px 0px;
  user-select: none;
  color: var(--main-bg-color);
  text-shadow: 0px 0px 10px rgba(11, 18, 71, 0.25);
  font-size: 26px;
}
.post-card-response-share-trigger:hover {
  cursor: pointer;
}
.post-card-response-share-count {
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: right;
  color: #646992;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.share-remover-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.post-card-response-share-list {
  position: absolute;
  top: 50px;
  right: 0px;
  background-color: #fff;
  box-shadow: var(--main-shadow);
  margin-bottom: 20px;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 4px;
}
.post-card-response-share-list-ul {
  position: relative;
  z-index: 0;
}
.post-card-response-share-list-ul > li {
  display: inline-block;
  width: 100%;
  padding: 10px;
  color: var(--main-bg-color);
  box-sizing: border-box;
}
.post-card-response-share-list-ul > li:hover {
  cursor: pointer;
}
.post-card-response-share-list-ul > li > a > span.post-card-response-share-title {
    margin: 0px 0px 0px 20px;
}
li.social-share-item.social-share-fb {
  color: #3B5998;
  transition: 0.2s;
}
li.social-share-item.social-share-fb:hover {
  background-color: #3B5998;
  color: #ffffff;
  transition: 0.2s;
}
li.social-share-item.social-share-google {
  color: #EA4335;
  transition: 0.2s;
}
li.social-share-item.social-share-google:hover {
  background-color: #EA4335;
  color: #ffffff;
  transition: 0.2s;
}
li.social-share-item.social-share-linkedin {
  color: #0077B5;
  transition: 0.2s;
}
li.social-share-item.social-share-linkedin:hover {
  background-color: #0077B5;
  color: #ffffff;
  transition: 0.2s;
}
</style>