<template>
  <div class="sidebar-gallery-block">
    <div v-if="thumbnails.length > 0">
      <div class="sidebar-gallery-item" v-for="(thumbnail, index) in thumbnails" v-bind:key="index">
        <div class="sidebar-gallery-img-container">
          <img v-bind:title="thumbnail.title" class="sidebar-gallery-img" v-bind:src="thumbnail.imageURL">
        </div>
      </div>
    </div>
    <content-placeholders v-else :rounded="true">
      <content-placeholders-img v-for="thumb in 6" :key="thumb"/>
    </content-placeholders>
  </div>
</template>

<script>
import Vue from 'vue'
import VueContentPlaceholders from 'vue-content-placeholders'

Vue.use(VueContentPlaceholders)

export default {
  name: 'thumbnail-grid',
  data () {
    return {
    }
  },
  props: {
    thumbnails: {
      type: Array,
      required: true
    }
  }
}
</script>

<style scoped>
.sidebar-gallery-block {
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
}
.sidebar-gallery-item {
  width: 33.33%;
  float: left;
  padding: 4px;
  background-color: #fff;
  transition: 0.2s;
  box-sizing: border-box;
  border-radius: 4px;
}
.sidebar-gallery-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  overflow: hidden;
  border-radius: 4px;
}
img.sidebar-gallery-img {
  max-width: none;
  height: 100%;
}
.sidebar-gallery-item:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.125);
  transition: 0.2s;
}
.sidebar-gallery-block >>> .vue-content-placeholders {
  display: flex;
  flex-wrap: wrap;
}
.sidebar-gallery-block >>> .vue-content-placeholders-img {
  height: 70px;
  width: calc(33.33% - 10px);
  margin: 0px 10px 10px 0px;
}
</style>