<template>
  <div class="user-widget-container">
    <!-- <a> -->
      <!-- <div class="freelancer-img-block">
        <div
          class="freelancer-img"
          v-bind:style="{ backgroundImage: `url(${require('./../../assets/img/' + userImage)})` }"
        ></div>
      </div> -->
      <UserImage :userImage="userImage" :gotoProfile="gotoProfile"/>
      <div class="freelancer-title-block" v-if="!isMobile">
        <div class="freelancer-name">Gayan sandamal</div>
        <div class="freelancer-title">ux engineer</div>
      </div>
      <div class="user-more-click-block" v-if="isMore" v-on:click="userGetMore">
        <i class="material-icons">play_arrow</i>
      </div>
    <!-- </a> -->
    <div class="user-widget-more-overlay" v-on:click="userGetMore" v-if="isUserMore && isMore"></div>
    <div class="user-widget-more-wrapper white-box" v-if="isUserMore && isMore">
      <ul>
        <li>
          <a @click="settingsbtn"><router-link to="/settings">Settings</router-link></a>
        </li>
        <br>
        <li>
          <a @click="logoutbtn">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import UserImage from './UserImage'
export default {
  name: "UserWidget",
  components: {
    UserImage
  },
  data() {
    return {
      userImage: "user.jpg",
      isUserMore: false
    };
  },
  props: {
    eventBus: undefined,
    gotoProfile: undefined,
    isMobile: {
      type: Boolean,
      default: false
    },
    isMore: {
      type: Boolean,
      default: true
    }
  },
  methods: {
    userGetMore: function() {
      if (this.isUserMore) {
        this.isUserMore = false;
      } else {
        this.isUserMore = true;
      }
    },
    logoutbtn: function() {
      this.eventBus.$emit("logout-event");
    }
  }
};
</script>

<style scoped>
.user-widget-container a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.freelancer-img-block,
.freelancer-title-block {
  display: inline-block;
}
.user-widget-container .freelancer-img-block {
  margin-right: 10px;
}
.freelancer-img {
  width: 36px;
  height: 36px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* border: 2px solid #f5f5f5; */
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
}
.freelancer-title-block {
  position: relative;
}
.freelancer-name {
  font-size: 14px;
  margin: 0px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
}
.freelancer-name,
.freelancer-title {
  color: #fff;
}
.freelancer-name {
  font-size: 12px;
}
.freelancer-title {
  font-style: normal;
  font-size: 10px;
  text-transform: uppercase;
  margin: 3px 0px 0px 0px;
  font-weight: 300;
}
.user-widget-container {
  position: relative;
  float: left;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0px 0px 0px 20px;
}
.user-more-click-block {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #fff;
}
.user-more-click-block:hover {
  cursor: pointer;
}
.user-more-click-block i {
  font-size: 12px;
  transform: rotate(90deg);
  position: relative;
  top: -8px;
  margin: 0px 0px 0px 10px;
}

.user-widget-more-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9;
}
.user-widget-more-wrapper {
  position: absolute;
  top: 56px;
  left: 0px;
  width: 100%;
  z-index: 10;
}
.user-widget-more-wrapper ul {
  margin: 0px;
}
/* .user-widget-more-wrapper ul li {
} */
.user-widget-more-wrapper ul li,
.user-widget-more-wrapper ul li a {
  font-family: "Roboto", sans-serif;
  color: #646992;
  font-size: 14px;
  font-weight: 400;
  margin: 0px;
  line-height: 1;
  text-transform: capitalize;
  text-align: left;
  justify-content: flex-start;
}
.user-widget-more-wrapper ul li a {
  cursor: pointer;
}
</style>