<template>
  <div class="freelancer-img-block" v-on:click="viewUserProfile">
    <div class="freelancer-img" v-if="userImage.trim() !== ''" v-bind:style="{ backgroundImage: `url(${require('./../../assets/img/' + userImage)})` }"
    ></div>
    <content-placeholders v-else :rounded="true">
      <content-placeholders-img />
    </content-placeholders>
  </div>
</template>

<script>
import Vue from 'vue'
import VueContentPlaceholders from 'vue-content-placeholders'

Vue.use(VueContentPlaceholders)

export default {
  name: "UserImage",
  data() {
    return {
    };
  },
  props: {
    eventBus: undefined,
    gotoProfile: undefined,
    userImage: {
      type: String,
      default: 'default-avatar.jpg'
    }
  },
  methods: {
    viewUserProfile: function () {
      if (this.gotoProfile) {
        return this.gotoProfile()
      }
    }
  }
};
</script>

<style scoped>
.freelancer-img-block,
.freelancer-title-block {
  display: inline-block;
}
.user-widget-container .freelancer-img-block {
  margin-right: 10px;
}
.freelancer-img {
  width: 36px;
  height: 36px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
}
.freelancer-img-block >>> .vue-content-placeholders-img {
  width: 36px;
  height: 36px;
}
</style>