<template>
  <div class="profile-completion-container">
    <div class="profile-completion-wrapper">
      <div class="white-box-title-box">
        <h3 class="white-box-title">Profile summary</h3>
      </div>
      <VuePerfectScrollbar class="profile-completion-scroll" :settings="settings">
        <DynamicInputs v-if="eventBus" :eventBus="eventBus" :screen="screen" :profileCompletion="profileCompletion" :key="current_screen" :current_screen="current_screen"/>
      </VuePerfectScrollbar>
      <div class="profile-completion-button-wrapper">
        <button v-if="current_screen > 0" class="profile-completion-button profile-completion-next-button service-post-button" @click="prevScreen()">
          <span>Back</span>
        </button>
        <button v-if="current_screen < (profileCompletion.length - 1)" class="profile-completion-button profile-completion-next-button service-post-button" @click="nextScreen()">
          <span>Next</span>
        </button>
        <button class="profile-completion-button profile-completion-skip-button service-post-button" @click="later()">
          <span>Do this later</span>
        </button>
        <button v-if="current_screen < (profileCompletion.length - 1) && !screen.required" class="profile-completion-button profile-completion-skip-button service-post-button" @click="skipScreen()">
          <span>Skip</span>
        </button>
        <button v-if="current_screen ===  profileCompletion.length - 1" class="profile-completion-button profile-completion-done-button service-post-button" @click="saveProfileData()">
          <span>Done</span>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import vue from 'vue'
import router from 'vue-router'
import VuePerfectScrollbar from 'vue-perfect-scrollbar'

import WhiteBox from '@/components/Boxes/WhiteBox'
import DynamicInputs from '@/components/pages/ProfileCompletion/repeatables/DynamicInputs'

import firebase from 'firebase'
import db from './../../../components/firebaseInit'
export default {
  name: 'profile-completion',
  components: {
    'white-box': WhiteBox,
    VuePerfectScrollbar,
    DynamicInputs
  },
  data () {
    return {
      settings: {
        wheelSpeed: 0.5
      },
      current_screen: 0,
      profileCompletion: [
        {
          screen_type: 0,
          content: {
            profile_picture: ''
          }
        },
        {
          required: true,
          screen_type: 1,
          content: {
            personal_details: {
              first_name: 'a',
              last_name: '',
              date_of_birth: '',
              contact_numbers: [''],
              job_title: '',
              area: {
                country: '',
                province: '',
                district: '',
                city: '',
                postal_code: ''
              }
            }
          },
        },
        {
          screen_type: 2,
          content: {
            bio: {
              about_me: ''
            }
          }
        },
        {
          required: true,
          screen_type: 3,
          content: {
            skills: []
          }
        },
        {
          required: true,
          screen_type: 3,
          content: {
            preferences_and_interests: [],
          }
        }
        // {
        //   screen_type: 3,
        //   content: {
        //     experiences: []
        //   }
        // }
      ],
      proCompleteArr: [],
      user: {
        id: '',
        email: '',
        username: ''
      },
      userId: ''
    }
  },
  props: {
    eventBus: undefined
  },
  computed: {
    screen() {
      return this.profileCompletion[this.current_screen]
    }
  },
  methods: {
    skipScreen: function() {
      if (this.current_screen < this.profileCompletion.length - 1) {
        this.current_screen++
      }
      this.pushToUserObj()
    },
    prevScreen: function() {
      if (this.current_screen > 0) {
        this.current_screen--
      }
    },
    nextScreen: function() {
      this.skipScreen()
    },
    saveProfileData () {
      _.find(this.profileCompletion, (o) => {
        this.proCompleteArr.push(o.content)
      })
      this.updateUser()
    },
    later () {
      this.pushToUserObj()
    },
    pushToUserObj () {

      // this.proCompleteArr.forEach(el => {
      //   this.user.push(el)
      // })
      // this.$router.push('/Profile')
    },
    assignToUserObj () {
      this.user.id = this.userId
      this.user.username = this.$route.params.user.username
      this.user.email = this.$route.params.user.email,
      this.user.userImage = this.$route.params.user.profile_picture
    },
    updateUser () {
      debugger
      let self = this
      _.find(this.proCompleteArr, function (o) {
        o.profile_picture ? self.$set(self.user, 'userImage', o.profile_picture) : undefined
        o.personal_details ? self.$set(self.user, 'personal_details', o.personal_details) : undefined
        o.bio ? self.$set(self.user, 'bio', o.bio) : undefined
        o.skills && o.skills.length > 0 ? self.$set(self.user, 'skills', o.skills) : undefined
        o.preferences_and_interests && o.preferences_and_interests.length > 0 ? self.$set(self.user, 'preferences_and_interests', o.preferences_and_interests) : undefined
      })
      db.collection('Users').doc(this.userId).set(this.user)
        .then((res) => {
          debugger
          this.$router.push({ name: 'Profile' })
        }).catch((e) => {
          debugger
        })
    }
  },
  mounted () {
    let self = this
    this.userId = firebase.auth().currentUser.uid
    this.assignToUserObj()
    debugger
    this.profileCompletion[0].content.profile_picture = this.user.userImage
    db.collection('Users').where('id', '==', this.userId).get().then((querySnapshop) => {
      querySnapshop.forEach(doc => {
        let uName = doc.data().username.split(' ')
        self.profileCompletion[1].content.personal_details.first_name = uName[0]
        if (uName[1]) {
          self.profileCompletion[1].content.personal_details.last_name = uName[1]
        }
      })
    })
    if (this.eventBus) {
      this.eventBus
    }
  }
}
</script>

<style scoped>
.profile-completion-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
}
.profile-completion-wrapper {
  min-width: 600px;
}
.profile-completion-scroll {
  padding: 20px;
  box-sizing: border-box;
  margin-left: -20px;
  margin-right: -20px;
  max-height: calc(100vh - 200px);
}
.white-box-title-box {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
  margin: -15px 0px 20px 0px;
}
.white-box-title {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
  text-transform: capitalize;
  color: var(--main-bg-color);
}
.white-box-title-box:after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 50%;
  height: 2px;
  background-color: #ef5350;
}
.profile-completion-button {
  padding: 10px 10px;
  box-shadow: var(--main-shadow);
  min-width: 100px;
}
.profile-completion-button:hover:before {
  left: -140%;
}
.profile-completion-button:hover:after {
  right: -70%;
}
.profile-completion-skip-button,
.profile-completion-done-button {
  float: right;
}
.profile-completion-button.profile-completion-skip-button {
  background-color: #ffb901;
}
.profile-completion-button.profile-completion-skip-button:before {
  background-color: #ffb901;
}
.profile-completion-button.profile-completion-skip-button:hover:before {
  background-color: #ffc839;
}
.profile-completion-button.profile-completion-skip-button:after {
  background-color: #ffb901;
}
.profile-completion-button.profile-completion-skip-button:hover:after {
  background-color: #f5b40c;
}
</style>
