<template>
  <ul class="skills-ul">
    <li v-for="(endorsement, index) in endorsements" v-bind:key="index">
      <a class="material-btn-click-md">
        #<span class="skill-tag-name">{{endorsement.skill}}</span>
        <span class="skill-endorsement-count">{{endorsement.endorsement}}</span>
      </a>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'input-endorse',
  data () {
    return {
    }
  },
  props: {
    endorsements: {
      type: Array
    }
  }
}
</script>

<style scoped>
ul.skills-ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: inline-block;
  width: 100%;
}
ul.skills-ul > li {
  display: inline-block;
  float: left;
  margin: 0px 10px 7px 0px;
}
ul.skills-ul > li > a {
  background-color: #cfd8dc;
  padding: 3px 4px 3px 9px;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin: 0px;
  text-transform: capitalize;
  color: var(--main-bg-color);
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  transition: 0.5;
}
ul.skills-ul > li > a:hover {
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
  transition: 0.5;
}
span.skill-endorsement-count {
  background-color: #f5f5f5;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  text-align: center;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
span.skill-tag-name {
  margin: 0px 5px 0px 0px;
}
</style>