<template>
  <div class="post-card-input-comment-container">
    <div class="post-card-input-comment-wrapper">
      <textarea class="post-card-input-comment-input" autofocus v-model="commentModel" v-bind:style="{'height': textareaMinHeight + 'px'}"  @keyup.enter="addComment"></textarea>
      <div class="post-card-add-comment-button-wrapper service-post-button"
      v-bind:class="{'disabled': isButtonDisabled}">
        <InputButtonAsync :label="label" :clickEvent="addComment" :buttonState="isButtonDisabled"/>
      </div>
    </div>
  </div>
</template>

<script>
import InputButtonAsync from '@/components/Inputs/InputButtonAsync'
export default {
  name: 'input-comment',
  components: {
    InputButtonAsync
  },
  data () {
    return {
      commentModel: '',
    }
  },
  props: {
    setComment: undefined,
    label: {
      type: String,
      default: 'send'
    },
    isButtonDisabled: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    addComment: function () {
      if (this.setComment) {
        var commentModelUpdated = this.commentModel.replace(/\r?\n/g, '<br />')
        this.setComment(commentModelUpdated)
        this.commentModel = ''
      }
    }
  },
  computed: {
    textareaMinHeight: function () {
      var enteredText = this.commentModel
      var numberOfLineBreaks = (enteredText.match(/\n/g)||[]).length
      if (numberOfLineBreaks > 0) {
        return 30 + (20 * numberOfLineBreaks)
      } else {
        return 35
      }
    }
  }
}
</script>

<style scoped>
.post-card-input-comment-container {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 20px 0px 20px;
}
.post-card-input-comment-wrapper {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.125);
}
.post-card-input-comment-input {
  display: inline-block;
  width: calc(100% - 90px);
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 5px 0px 0px 5px;
  border: none;
  resize: none !important;
  overflow: hidden;
  color: #646992;
  font-size: 14px;
  font-weight: 400;
  margin: 0px;
  line-height: normal;
}
.post-card-add-comment-button-wrapper {
  position: relative;
  border-radius: 0px 5px 5px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100px;
  box-sizing: border-box;
  cursor: pointer;
}
.post-card-add-comment-button-wrapper:hover:before {
  left: -170%;
}
.post-card-add-comment-button-wrapper:hover:after {
  right: -100%;
}
.post-card-add-comment-button-wrapper >>> .input-button-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.post-card-add-comment-button-wrapper.disabled {
  cursor: not-allowed;
  background-color: #96a3c4;
}
.post-card-add-comment-button-wrapper.disabled:before,
.post-card-add-comment-button-wrapper.disabled:after {
  display: none !important;
}
</style>