<template>
  <div class="checkbox-wrapper">
    <input class="inputcheck" id="checkbox1" type="checkbox" style="display: none;" :checked="value" @change="$emit('input', $event.target.checked)"/>
    <label class="checkbox" for="checkbox1">
      <span>
        <svg width="12px" height="10px" viewbox="0 0 12 10">
          <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
        </svg>
      </span>
      <span v-if="checkboxLabel" class="checkbox-label">{{checkboxLabel}}</span>
    </label>
  </div>
</template>

<script>
export default {
  name: 'input-checkbox',
  data () {
    return {
    }
  },
  props: {
    checkboxLabel: {
      type: String,
      default: ''
    },
    value: ''
  }
}
</script>

<style scoped>
.checkbox-wrapper {
  display: inline-block;
}
.checkbox {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.checkbox span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
}
.checkbox span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid var(--main-bg-color);
  transition: all 0.2s ease;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.checkbox span:first-child svg {
  position: absolute;
  top: 4px;
  left: 3px;
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
}
.checkbox span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #28b17b;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}
.checkbox:hover span:first-child {
  border-color: var(--main-bg-color);
}

.inputcheck:checked + .checkbox span:first-child {
  background: #28b17b;
  border-color: #28b17b;
  animation: wave 0.4s ease;
}
.inputcheck:checked + .checkbox span:first-child svg {
  stroke-dashoffset: 0;
}
.inputcheck:checked + .checkbox span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}

.checkbox-label {
  color: #8588a3;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 300;
  margin: 0px 0px 0px 5px;
}
</style>