<template>
  <ul class="professional-interests-ul">
    <li>
      <carousel  class="reviews-slider"
        :navigationEnabled="true"
        :paginationEnabled="false" 
        :autoplay="true"
        :loop="true"
        :autoplayTimeout=4000
        :perPage="1" 
        :navigationNextLabel='`<div class="slider-navigation slider-navigation-next"><i class="material-icons">chevron_right</i></div>`'
        :navigationPrevLabel='`<div class="slider-navigation slider-navigation-prev"><i class="material-icons">chevron_left</i></div>`'>
        <slide v-for="(review, index) in reviews" v-bind:key="index">
          <div class="reviewer user-block">
            <UserImage :userImage="review.userImage ? review.userImage : userImage"/>
            <div class="user-post-right">
              <div class="user-published-block">
                "{{review.title}}"
              </div>
            </div>
          </div>
          <div class="sidebar-content-desc-block">
            <p class="sidebar-content-desc">
              "{{review.comment}}"
            </p>
            <Rates :rates="review.rate"></Rates>
            <div class="reviewer-name">
              <p>-{{review.userName}}-</p>
            </div>
          </div>
          <!-- <div class="post-slide" v-bind:id="'post-slide-' + index" :style="{'background-image': `url(${require('./../../assets/img/' + sliderImage.sliderImgName + '.jpg')})`}"></div> -->
        </slide>
      </carousel>
    </li>
  </ul>
</template>

<script>
import UserImage from '@/components/Includes/UserImage'
import Rates from '@/components/Includes/Rates'
import { Carousel, Slide } from "vue-carousel"
export default {
  name: 'input-review',
  data () {
    return {
      userImage: 'user.jpg'
    }
  },
  components: {
    UserImage,
    Rates
  },
  props: {
    reviews: {
      type: Array
    }
  }
}
</script>

<style scoped>
ul.professional-interests-ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: inline-block;
  width: 100%;
}
ul.professional-interests-ul > li {
    display: inline-block;
    width: 100%;
}
ul.professional-interests-ul > li:not(:last-child) {
  margin: 0px 0px 20px 0px;
}
.reviewer.user-block {
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  margin: 0px 0px 15px 0px;
}
.reviewer >>> .freelancer-img-block {
  margin-right: 10px;
}
.sidebar-content-desc-block {
  margin: 10px 0px 0px 0px;
  display: inline-block;
  color: #646992;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding: 0px;
  margin: -5px 0px 0px 0px;
  line-height: 1.6;
  width: 100%;
}
.reviewer-name {
  font-weight: 500;
  display: inline-block;
  width: 100%;
  padding: 0px 0px 5px 0px;
}
.reviewer.user-block .user-published-block {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  text-transform: capitalize;
  color: var(--main-bg-color);
}
.reviews-slider >>> .VueCarousel-navigation-next {
  transform: translateY(-50%) translateX(80%) !important;
  padding: 0px !important;
}
.reviews-slider >>> .VueCarousel-navigation-next .slider-navigation {
  color: var(--main-bg-color) !important;
}
.reviews-slider >>> .VueCarousel-navigation-prev {
  transform: translateY(-50%) translateX(-80%) !important;
  padding: 0px !important;
}
.reviews-slider >>> .VueCarousel-navigation-prev .slider-navigation {
  color: var(--main-bg-color) !important;
}
.sidebar-content-desc {
  padding: 0px 0px;
}
</style>