<template>
  <div class="input-button-container">
    <div class="input-button" v-on:click="clickAsyncButton">
      <span class="input-button-text">{{label}}</span>
      <div class="input-button-loader"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'input-button-async',
  data () {
    return {}
  },
  props: {
    clickEvent: undefined,
    label: {
      type: String,
      default: 'Send'
    }
  },
  methods: {
    clickAsyncButton: function () {
      if (this.clickEvent) {
        this.clickEvent()
      }
    }
  }
}
</script>

<style scoped>
.post-card-input-comment-container {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 20px 0px 20px;
}
.post-card-input-comment-wrapper {
  display: flex;
  justify-content: space-between;
}
.post-card-input-comment-input {
  display: inline-block;
  width: calc(100% - 90px);
}
.post-card-add-comment-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 90px;
  padding: 10px;
  box-sizing: border-box;
}
.input-button {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-button:hover {
  cursor: pointer;
}
.input-button-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.service-post-button {
  width: 220px;
  height: 40px;
  margin: 0px 0px 20px 20px;
}
</style>