<template>
  <div class="more-info-container">
    <div class="more-info-btn" @click="clickEvent()">
      <div class="more-info-label">
        {{label}}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'more-info',
  data () {
    return {}
  },
  props: {
    action: undefined,
    label: {
      type: String,
      default: 'View more'
    }
  },
  methods: {
    clickEvent: function () {
      if(this.action()) {
        return this.action()
      }
    }
  }
}
</script>

<style scoped>
.more-info-container {
  display: block;
  text-align: center;
}
.more-info-btn {
  display: inline-block;
  padding: 10px 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  color: var(--main-bg-color);
  border-radius: 4px;
  position: relative;
  margin: 10px 0px 0px 0px;
  transition: 0.3s;
}
.more-info-btn:hover {
  cursor: pointer;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.125);
  transition: 0.3s;
}
.more-info-btn:before,
.more-info-label:before,
.more-info-btn:after,
.more-info-label:after {
    content: '';
    position: absolute;
    background-color: #ef5350;
    transition: 0.3s;
}
.more-info-btn:after,
.more-info-btn:before {
    width: 50%;
    height: 1px;
}
.more-info-btn:before {
    top: 0px;
    right: 0px;
}
.more-info-btn:after {
    bottom: 0px;
    left: 0px;
}
.more-info-label:before,
.more-info-label:after {
    width: 1px;
    height: 50%;
}
.more-info-label:before {
    top: 0px;
    right: 0px;
}
.more-info-label:after {
    bottom: 0px;
    left: 0px;
}
.more-info-btn:hover:before,
.more-info-btn:hover:after {
  width: 0%;
  transition: 0.3s;
}
.more-info-btn:hover .more-info-label:before,
.more-info-btn:hover .more-info-label:after {
  height: 0%;
  transition: 0.3s;
}
</style>