<template>
  <div class="white-box">
    <content-placeholders :rounded="true" v-if="isLoading">
      <content-placeholders-text :lines="1"/>
    </content-placeholders>
    <div v-else class="white-box-title-box" v-show="!noHeading">
      <content-placeholders :rounded="true">
        <content-placeholders-heading />
      </content-placeholders>
      <h3 class="white-box-title" v-if="title">{{title}}</h3>
    </div>
    <slot></slot>
  </div>
</template>

<script>
// import Vue from 'vue'
// import VueContentPlaceholders from 'vue-content-placeholders'

// Vue.use(VueContentPlaceholders)

export default {
  name: 'white-box',
  props: {
    title: {
      type: String
    },
    isLoading: {
      type: Boolean,
      default: false
    },
    noHeading: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {}
  }
}
</script>

<style scoped>
.white-box-title-box {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
  margin: -15px 0px 20px 0px;
}
.white-box-title-box:after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 50%;
  height: 2px;
  background-color: #ef5350;
}
.white-box-title {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
  text-transform: capitalize;
  color: var(--main-bg-color);
}
</style>
