<template>
  <div>
    <input v-if="!isTextArea" class="input" type="text" v-model="value"/>
    <textarea v-if="isTextArea" class="input input-textarea" v-model="value"/>
  </div>
</template>

<script>
import _ from 'lodash'
export default {
  name: 'dynamicInputs-text',
  components: {
  },
  data () {
    return {
      value: ''
    }
  },
  props: {
    eventBus: undefined,
    keyname: {
      type: String
    },
    index: {
      type: Number
    },
    singleItemInner: {
      type: String
    },
    isTextArea: {
      type: Boolean,
      default: false
    },
    initVal: {
      type: String
    }
  },
  computed: {
  },
  methods: {
  },
  watch: {
    value: {
      immediate: true,
      handler: function (val, oldVal) {
        if (this.eventBus) {
          this.eventBus.$emit('dynamic-input-text', val, this.keyname, this.index, this.singleItemInner)
        }
      },
      deep: true
    }
  },
  mounted () {
    this.value = this.initVal ? this.initVal : ''
  }
}
</script>

<style scoped>
.add-input-wrapper {
  position: relative;
}
.add-another-field {
  position: absolute;
  top: 0px;
  right: -34px;
  height: 100%;
  padding: 0px 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.input-textarea {
  width: 100%;
}
</style>
