<template>
  <white-box :title="stringCleaner(screenTitle)">
    <div class="add-dp-wrapper" v-if="screen.screen_type === 0">
      <input type="file" ref="displayPicture" v-show="false" accept=".jpg, .jpeg, .png" @change="attachPhoto($event)"/>
      <UserImage v-if="!screen.content.profile_picture" class="add-dp" :userImage="screen.content.profile_picture ? screen.content.profile_picture + '.jpg' : undefined"/>
      <div class="add-dp-cover" v-if="screen.content.profile_picture">
        <img class="add-dp" v-bind:src="profilePicture"/>
        <div class="remove-dp-button" @click.stop="removeImage">
          <i class="material-icons">close</i>
        </div>
      </div>
      <div class="add-dp-trigger" @click="browseImages">{{screen.content.profile_picture ? 'Click here to change image' : 'Click here to add image'}}</div>
    </div>
    <div class="prof-complete-form-wrapper" v-if="screen.screen_type === 1">
      <!-- {{JSON.parse(Object.values(screen.content))}} -->
      <!-- {{screenTitle}} -->
      <!-- {{Object.values(screen.content)}} -->
      <ul>
        <li v-for="(item, key, idx) in screen.content[screenTitle]" :key="idx">
          <div class="input-wrapper" v-if="isArrayObject(item) === 'string'">
            <label>{{stringCleaner(key)}}</label>
            <DynamicInputText :eventBus="eventBus" :keyname="key" :index="idx" :initVal="item"/>
          </div>
          <div class="input-wrapper" v-if="isArrayObject(item) === false">
            <label>{{(stringCleaner(key))}}</label>
            <ul class="input-list-wrapper">
              <li v-for="(singleItem, singleKey, idxx) in item" :key="idxx">
                <label>{{stringCleaner(singleKey)}}</label>
                <!-- <input class="input" type="text"/> -->
                <DynamicInputText :eventBus="eventBus" :singleItemInner="key" :keyname="singleKey" :index="idxx"/>
              </li>
            </ul>
          </div>
          <div class="input-wrapper full-with-list" v-if="isArrayObject(item) === true">
            <label>{{stringCleaner(key)}}</label>
            <ul class="input-list-wrapper">
              <li v-for="(singleItem, idxx) in item" :key="idxx">
                <DynamicInputSub :string="key" :eventBus="eventBus" :item="item" :index="idxx"/>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="prof-complete-form-wrapper full-width-inputs" v-if="screen.screen_type === 2">
      <ul>
        <li v-for="(item, key, idx) in screen.content[screenTitle]" :key="idx">
          <label>{{stringCleaner(key)}}</label>
          <!-- <textarea v-model="textareaModel" @keyup="item = textareaModel"/> -->
          <DynamicInputText :isTextArea="true" :eventBus="eventBus" :keyname="key" :index="idx"/>
        </li>
      </ul>
    </div>
    <div class="prof-complete-form-wrapper full-width-inputs" v-if="screen.screen_type === 3">
      <div class="taglist-div">
        <ul class="taglist-div-ul">
          <li v-for="(item, idx) in screen.content[screenTitle]" :key="idx">
            <a>#{{item}}</a>
          </li>
          <li class="taglist-div-add-wrapper">
            <input ref="tagRef" type='text' :placeholder="stringCleaner(screenTitle)" class="taglist-div-add" style="white-space:pre;" v-model="tagAdd" @keyup="addToList($event)"/>
          </li>
        </ul>
        <ul class="suggestion-list" v-if="isSkillSet">
          <li v-for="(skill, ix) in skillSet" :key="ix" @click="addFromSuggestions(skill)">
            {{skill}}
          </li>
        </ul>
      </div>
    </div>
  </white-box>
</template>

<script>
import WhiteBox from '@/components/Boxes/WhiteBox'
import UserImage from '@/components/Includes/UserImage'
import DynamicInputSub from './DynamicInputSub'
import DynamicInputText from './DynamicInputText'
import _ from 'lodash'
export default {
  name: 'dynamic-inputs',
  components: {
    'white-box': WhiteBox,
    UserImage,
    DynamicInputSub,
    DynamicInputText
  },
  data () {
    return {
      screen_title: 'personal_details',
      innerItem: '',
      textareaModel: '',
      tag: [],
      tagAdd: '',
      skillSet: [
        'C#',
        'PHP',
        'HTML',
        'CSS',
        'Photoshop',
        'Writing',
        'CSS3'
      ],
      isSkillSet: false
    }
  },
  props: {
    eventBus: undefined,
    screen: {
      type: Object
    },
    profileCompletion: {
      type: Array
    }
  },
  computed: {
    screenTitle() {
      return Object.keys(this.screen.content).toString()
    },
    profilePicture() {
      return this.screen.content.profile_picture
    }
  },
  methods: {
    browseImages() {
      this.$refs.displayPicture.click()
    },
    attachPhoto(event) {
      this.screen.content.profile_picture = URL.createObjectURL(event.target.files[0])
    },
    removeImage() {
      this.screen.content.profile_picture = undefined
    },
    isArrayObject(value) {
      let val
      val = typeof value
      if (val === 'object') {
        val = Array.isArray(value)
      }
      return val
    },
    stringCleaner(string) {
      return string.split('_').join(' ')
    },
    setDynamicInputText (val, keyname, index, innerKey) {
      if (!innerKey) {
        if (this.screen.content[this.screenTitle]) {
          this.screen.content[this.screenTitle][keyname] = val
        }
      } else {
        if (this.screen.content[this.screenTitle]) {
          this.screen.content[this.screenTitle][innerKey][keyname] = val
        }
      }
    },
    innerItemMethod (val) {
      this.innerItem = val
    },
    addToList (event) {
      this.getMatchingTags(this.tagAdd)
      if (event.keyCode === 188) {
        if (this.tagAdd.trim() !== '' && this.tagAdd.search(',')) {
          let arr = this.screen.content[this.screenTitle]
          this.tagAdd = this.tagAdd.replace(/,\s*$/, '')
          let self = this
          let isTag = _.find(arr, (elm) => {
            return elm.toLowerCase() === self.tagAdd.toLowerCase()
          })
          if (arr.length === 0) {
            arr.push(this.tagAdd)
            this.$refs.tagRef.focus()
          } else {
            if (!isTag) {
              arr.push(this.tagAdd)
              this.$refs.tagRef.focus()
            }
          }
          this.tag.splice(0, this.tag.length)
          this.tagAdd = ''
        }
      }
    },
    getMatchingTags (tag) {
    },
    addFromSuggestions (tag) {
      let arr = this.screen.content[this.screenTitle]
      let isTag = _.find(arr, (elm) => {
        return elm.toLowerCase() === tag.toLowerCase()
      })
      if (arr.length === 0) {
        arr.push(tag)
        this.tagAdd = ''
        this.$refs.tagRef.focus()
      } else {
        if (!isTag) {
          arr.push(tag)
          this.tagAdd = ''
          this.$refs.tagRef.focus()
        }
      }
    }
  },
  mounted () {
    if (this.eventBus) {
      this.eventBus.$on('dynamic-input-text', this.setDynamicInputText)
    }
  },
  beforeDestroy () {
    this.eventBus.$off('dynamic-input-text', this.setDynamicInputText)
  },
  watch: {
    tagAdd: {
      immediate: true,
      handler: function (val, oldVal) {
        if (val.length >= 2) {
          this.getMatchingTags(val)
          this.isSkillSet = true
        } else {
          this.isSkillSet = false
        }
      },
      deep: true
    }
  }
}
</script>

<style scoped>
.add-dp >>> .freelancer-img {
  width: 180px;
  height: 180px;
  background-size: 180px;
}
.add-dp-wrapper {
  position: relative;
  width: 180px;
}
.add-dp-trigger {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  color: var(--main-bg-color);
  transition: 0.2s;
  box-shadow: var(--main-shadow);
}
.add-dp-trigger:hover {
  background-color: rgba(0,0,0,0.2);
  color: #fff;
  transition: 0.2s;
}
img.add-dp {
  height: 100%;
  width: auto;
}
.add-dp-cover {
  position: relative;
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
}
.remove-dp-button {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  cursor: pointer;
}
.prof-complete-form-wrapper {
  display: inline-block;
  width: 100%;
  max-width: 600px;
}
.prof-complete-form-wrapper > ul {
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 0px 0px;
}
.prof-complete-form-wrapper li {
  margin: 0px 0px 20px 0px;
}
.prof-complete-form-wrapper > ul > li {
  display: inline-block;
  width: 100%;
  padding: 0px 15px;
}
.prof-complete-form-wrapper ul li {
  display: inline-grid;
  width: 50%;
}
.prof-complete-form-wrapper.full-width-inputs ul li {
  width: 100%;
}
.prof-complete-form-wrapper li ul {
  margin: 0px 0px 0px 10px;
}
.prof-complete-form-wrapper li ul li {
  padding: 0px 10px;
}
.input-wrapper.full-with-list ul li {
  width: 100%;
}
.prof-complete-form-wrapper.full-width-inputs ul li textarea,
.taglist-div {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 570px;
  padding: 0px;
  box-sizing: border-box;
  border-radius: 4px 4px 0px 0px;
  border: none;
  border-bottom: 1px solid #8588a3;
  color: #646992;
  font-size: 14px;
  font-weight: 400;
  margin: 0px;
  line-height: normal;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.125);
  outline: none !important;
}
.taglist-div ul {
  display: inline-block;
  margin: 0px;
  padding: 10px;
  width: auto;
}
.prof-complete-form-wrapper .taglist-div ul li a {
  background-color: #cfd8dc;
  padding: 3px 7px;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin: 0px;
  text-transform: capitalize;
  color: var(--main-bg-color);
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
.prof-complete-form-wrapper .taglist-div ul li {
  margin: 0px 10px 10px 0px;
  display: inline-block;
  width: auto;
}
.taglist-div-add-wrapper {
  width: auto;
  height: 22px;
}
.taglist-div-add {
  width: auto;
  height: 23px;
  box-sizing: border-box;
  padding: 0px;
  position: relative;
  top: 1px;
  caret-color: #646992;
  font-family: 'Roboto', sans-serif;
  color: #646992;
  font-size: 13px;
  font-weight: 400;
  border: none;
  width: auto;
}
.taglist-div-add:focus {
  border-radius: 4px 4px 0px 0px;
  border: none;
  border-bottom: 1px solid #8588a3;
}
.suggestion-list {
  position: relative;
  top: -1x0px;
  left: 0px;
  padding: 5px 3px 5px 3px;
  margin: 0px;
  list-style: none;
  display: block;
  background-color: #fff;
  box-shadow: var(--main-shadow);
  border-radius: 4px;
}
.suggestion-list > li {
  background-color: #17a06a;
  color: #fff;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 3px 7px !important;
  margin: 0px 2.5px !important;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.2s;
  width: auto !important;
}
.suggestion-list > li:hover {
  background-color: #2fb580;
  transition: 0.2s;
}
</style>
