<template>
  <div class="add-input-wrapper">
    <input class="input" type="text" v-model="value"/>
    <span v-if="value" class="add-another-field" @click="addEmptyItem(item)">
      <i class="material-icons">add</i>
    </span>
  </div>
</template>

<script>
import _ from 'lodash'
export default {
  name: 'dynamicInputs-sub',
  components: {
  },
  data () {
    return {
      value: ''
    }
  },
  props: {
    eventBus: undefined,
    item: {
      type: Array
    },
    index: {
      type: Number
    },
    string: {
      type: String
    }
  },
  computed: {
    toStringMethod() {
      return this.inputKey.toString()
    }
  },
  methods: {
    addEmptyItem(arr) {
      this.item.push('')
    }
  },
  watch: {
    value: {
      immediate: true,
      handler: function (val, oldVal) {
        if (val.trim() !== '') {
          this.item.splice(this.index, 1)
          this.item.splice(this.index, 0, this.value)
        }
      },
      deep: true
    }
  }
}
</script>

<style scoped>
.add-input-wrapper {
  position: relative;
}
.add-another-field {
  position: absolute;
  top: 0px;
  right: -34px;
  height: 100%;
  padding: 0px 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
</style>
