<template>
<div class="callback">
    <h1>Callbacking stuff...</h1>
</div>
</template>

<script>
import Vue from 'vue'
import Router from 'vue-router'
import {handleAuth, token} from './../../utils/auth.js'
import {EventBus} from './../../event-bus.js'

export default {
    name: 'Callback',
    data () {
        return {
            eventBus: undefined
        }
    },
    beforeMount() {
        handleAuth((err) => {
            if (err) {
                console.log(err)
                return
            }
            localStorage.token = token()
            this.$router.push({ path: '/' })
        })
    }
}
</script>