<template>
  <div class="chat-page">
    <chat-header></chat-header>
    <div class="container">
      <div class="row">
        <div class="white-box chat-list">
          <div class="search">
            <search-chat></search-chat>
          </div>
          <div v-if="topRatedFreelancers && topRatedFreelancers.length > 0 ? false : true">
            <content-placeholders :rounded="true" v-for="(item, index) in 4" :key="index">
              <content-placeholders-text :lines="2" />
            </content-placeholders>
          </div>
          <VuePerfectScrollbar v-else class="chat-sidebar-scroll">
            <div class="chat-freelancer-wrapper">
              <div
                class="chat-freelancer-loop-wrapper"
                v-for="(topRatedFreelancer, topRatedFreelancersIndex) in topRatedFreelancers"
                v-bind:key="topRatedFreelancersIndex"
              >
                <chat-freelancers-overview :topRatedFreelancer="topRatedFreelancer"></chat-freelancers-overview>
              </div>
            </div>
          </VuePerfectScrollbar>
        </div>
        <div class="white-box chat-detailed">
          <div class="chat-detaled-header">
            <div class="chat-current">
              <UserImage class="chat-header-userImage"></UserImage>
              <div class="chat-header-details">
                <div class="user-name">
                  <b>Test Name</b>
                </div>
                <div class="active-status">Active Now</div>
              </div>
            </div>
            <div class="chat-header-action-wrapper">
              <div class="search-msgs">
                <search-chat></search-chat>
              </div>
              <div class="footer-action-icon settings-icon"></div>
              <hr />
            </div>
          </div>
          <div class="msg">
            <VuePerfectScrollbar class="chat-thread-scroll" :settings="settings">
              <!-- <div v-bind:class="[{ received: isMe }, sent]"> -->
              <div class="msg-row" v-for="(msg,item) in messageLoop"   v-bind:key="item" :class="{'sent': msg.isMe }">
                <UserImage class="userImage"></UserImage>
                <div class="msg-balloon">
                  <div class="chat-received-loop-msg">{{msg.message}}</div>
                </div>
                <span class="time-date">{{msg.time}}</span>
              </div>
              <!-- <div class="msg-row sent" >
                <UserImage class="userImage"></UserImage>
                 <div class="msg-balloon">
                  <div class="chat-received-loop-msg">{{msg.message}}</div>
                </div>
                <span class="time-date">{{msg.time}}</span>
              </div> -->
              <!-- </div> -->
            </VuePerfectScrollbar>
          </div>
          <div class="footer-detailed-chat">
            <textarea
              v-model="message"
              v-autosize="message"
              id="msg-box"
              class="msg-box"
              placeholder="Type your message..."
            ></textarea>
            <!-- <button id="send" type="button" class="btn btn-primary send-button">Send</button> -->
            <div class="chat-footer-action-wrapper">
              <div class="footer-action-icon emoji"></div>
              <div class="footer-action-icon attachment"></div>
              <button class="chat-send-button service-post-button">
                <span>Send</span>
                <div class="send-icon"></div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import VueContentPlaceholders from "vue-content-placeholders";
import VuePerfectScrollbar from "vue-perfect-scrollbar";
import ChatFreelancers from "@/components/Includes/ChatFreelancers";
import Header from "@/components/Includes/Header";
import Search from "@/components/Includes/Search";
import UserImage from "@/components/Includes/UserImage";

Vue.use(VueContentPlaceholders);

export default {
  name: "Chat",
  components: {
    "chat-freelancers-overview": ChatFreelancers,
    "chat-header": Header,
    "search-chat": Search,
    VuePerfectScrollbar,
    UserImage
  },
  data() {
    return {
      message: "",
      topRatedFreelancers: [
        {
          userDp: "1",
          username: "user-1",
          title: "Plumber"
        },
        {
          userDp: "2",
          username: "user-2",
          title: "Dev"
        },
        {
          userDp: "3",
          username: "user-3",
          title: "Make-up artist"
        },
        {
          userDp: "1",
          username: "user-1",
          title: "Plumber"
        },
        {
          userDp: "2",
          username: "user-2",
          title: "Dev"
        },
        {
          userDp: "3",
          username: "user-3",
          title: "Make-up artist"
        },
        {
          userDp: "1",
          username: "user-1",
          title: "Plumber"
        },
        {
          userDp: "2",
          username: "user-2",
          title: "Dev"
        },
        {
          userDp: "3",
          username: "user-3",
          title: "Make-up artist"
        },
        {
          userDp: "1",
          username: "user-1",
          title: "Plumber"
        },
        {
          userDp: "2",
          username: "user-2",
          title: "Dev"
        },
        {
          userDp: "3",
          username: "user-3",
          title: "Make-up artist"
        }
      ],
      messageLoop: [
        {
          id: 1,
          username: "someone",
          time: "01:00 PM",
          message:
            "dummy message goes here Received msg Received msgReceived msgReceived msg Received msg Received msgReceived msg Received msgReceived msg",
          isMe: false
        },
        {
          id: 2,
          username: "you",
          time: "01:00 PM",
          message: "dummy message goes here send",
          isMe: true
        },
        {
          id: 3,
          username: "someone",
          time: "01:00 PM",
          message: "dummy message goes here received",
          isMe: false
        }
      ]
    };
  },
  props: {
    eventBus: undefined,
    profileSummary: {
      type: [Object, Array]
    }
  },
  methods: {},
  mounted() {},
  created() {},
  destroyed() {}
};
</script>
<style scoped>
.chat-page {
  margin-top: 80px;
}
.chat-list {
  width: 280px;
  padding: 0px;
  display: inline-block;
}
.chat-current {
  display: flex;
  align-items: center;
}
.chat-freelancer-wrapper {
  margin-bottom: 20px;
}
.chat-freelancer-wrapper
  .chat-freelancer-loop-wrapper
  >>> .freelancers-overview-container {
  background-color: #fff;
}
.chat-freelancer-wrapper
  .chat-freelancer-loop-wrapper
  >>> .freelancer-title-block
  .freelancer-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #0b1247;
}
.chat-freelancer-wrapper
  .chat-freelancer-loop-wrapper
  >>> .freelancer-title-block
  .freelancer-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #0b1247;
  text-transform: none;
}
.chat-detailed {
  width: calc(100% - 300px);
  float: right;
  padding: 0px;
}
.msg-row {
  display: flex;
  align-items: flex-end;
  margin-bottom: 50px;
}
.msg-row.received {
  justify-content: flex-start;
}
.msg-row.sent {
  justify-content: flex-start;
  flex-direction: row-reverse;
}
.msg-balloon {
  margin-left: 9px;
}
.msg-balloon {
  display: inline-block;
  margin-left: 20px;
  padding: 14px 20px 13px 20px;
  width: 60%;
  background: #e4f1fe;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px 20px 20px 0px;
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.07em;
  color: #1b2258;
}
.msg-row.sent .msg-balloon {
  margin-right: 20px;
  background: #c8f7c5;
  border-radius: 20px 20px 0px 20px;
}
.time-date {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-align: right;
  color: #0b1247;
  margin: 0px 0px 0px 20px;
}
.sent-msg .time-date {
  float: left;
  margin: -14px 0px 0px 83px;
}
.msg {
  float: left;
  padding: 24px 0px 0 0px;
  width: 100%;
}
.sent-msg p {
  color: #1b2258;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 60%;
  position: relative;
  margin-left: 148px;
  background: #c8f7c5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px 20px 20px 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.07em;
}
.outgoing-msg {
  /* overflow: hidden; */
  margin: 26px 0 26px;
}
.sent-msg {
  float: right;
  width: 60%;
}

.search .search-block {
  background-color: #fff;
  display: inline-block;
  width: 100%;
}
.search >>> .search-block input.search-field {
  width: 100%;
  max-width: 224px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #c4c4c4;
}
.search >>> button.search-button {
  float: right;
}
.search-msgs {
  float: right;
}
.search-msgs .search-block {
  background-color: #fff;
}
.search-msgs >>> .search-block input.search-field {
  width: 271px;
}

.search-msgs .search-block >>> .search-field::placeholder {
  color: transparent;
}
/* .chat-detaled-header{
  
} */
.send-button {
  float: right;
  background-color: #2dd52d;
  border-width: 0px;
  padding: 10px;
  margin: 10px;
}
hr {
  margin: 10px;
}
.msg-box {
  width: calc(100% - 100px);
  padding: 0px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 0px;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  /* display: flex;
  align-items: center; */
  color: rgba(27, 34, 88, 0.6);
}
.userImage-user {
  margin: 0px 0px -10px 0px;
}
.user-name {
  display: inline-block;
}
.chat-header-details {
  position: relative;
  display: inline-block;
  padding-left: 12px;
}

.user-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #0b1247;
}
.active-status {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: rgba(11, 18, 71, 0.5);
}
.chat-send-button {
  padding: 9px 15px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100px;
  height: 40px;
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}
/* .chat-send-button span {
} */
.footer-detailed-chat {
  border-top: 2px solid rgba(11, 18, 71, 0.1);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #fff;
}
.chat-send-button:hover:before {
  left: -150%;
}
.chat-send-button:hover:after {
  right: -90%;
}
.send-icon {
  position: relative;
  z-index: 2;
  background-image: url(./../../assets/img/icons/send-icon.svg);
  width: 20px;
  height: 20px;
  background-size: 20px;
  background-repeat: no-repeat;
}
.chat-footer-action-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-action-icon {
  width: 20px;
  height: 20px;
  background-size: 20px;
  background-repeat: no-repeat;
  margin: 0px 15px 0px 0px;
  cursor: pointer;
}
.emoji {
  background-image: url(./../../assets/img/icons/emoji-icon.svg);
}
.attachment {
  background-image: url(./../../assets/img/icons/attachment-icon.svg);
}
.settings-icon {
  background-image: url(./../../assets/img/icons/settings-icon.svg);
}
.search {
  display: inline-block;
  width: 100%;
}
.chat-sidebar-scroll {
  height: calc(100vh - 160px);
}
.chat-thread-scroll {
  height: calc(100vh - 190px);
  padding: 0px 20px 80px 20px;
}
.chat-detailed >>> .freelancer-img {
  border-radius: 30px;
}
.msg-row >>> .freelancer-img {
  margin-top: 16px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  margin-left: 9px;
}
.sent-msg >>> .freelancer-img {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}
.footer-action-icon.settings-icon {
  margin-right: 0px;
  /* do not use minus value for margins to align elements. it will leads to reponsive issue and may double your responsive fixing time */
}
.chat-detaled-header,
.chat-header-action-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
}
.chat-detaled-header {
  padding-top: 10px !important;
}
.chat-detaled-header:after {
  content: "";
  position: absolute;
  left: 20px;
  bottom: 0px;
  height: 2px;
  background-color: rgba(11, 18, 71, 0.1);
  width: calc(100% - 40px);
}
.chat-header-details .active-status {
  margin: 0px 0px 5px 0px;
}
</style>
