<template>
  <div class="profile-feed-container feed-container">
    <div class="row">
      <div v-if="topRatedFreelancers && topRatedFreelancers.length > 0 ? false : true">
        <content-placeholders class="col-md-3" :rounded="true" v-for="(item, index) in 4" :key="index">
          <content-placeholders-text :lines="2"/>
        </content-placeholders>
      </div>
      <div v-else class="connections-freelancer-wrapper">
        <div class="connections-freelancer-loop-wrapper col-md-3" v-for="(topRatedFreelancer, topRatedFreelancersIndex) in topRatedFreelancers" v-bind:key="topRatedFreelancersIndex">
          <freelancers-overview :topRatedFreelancer="topRatedFreelancer"></freelancers-overview>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import VueContentPlaceholders from 'vue-content-placeholders'
import Freelancers from '@/components/Includes/Freelancers'

Vue.use(VueContentPlaceholders)

export default {
  name: 'Conenctions',
  components: {
    'freelancers-overview': Freelancers
  },
  data () {
    return {
      topRatedFreelancers: [
        {
          userDp: '1',
          username: 'user-1',
          title: 'Plumber',
          rating: 4
        },
        {
          userDp: '2',
          username: 'user-2',
          title: 'Dev',
          rating: 1
        },
        {
          userDp: '3',
          username: 'user-3',
          title: 'Make-up artist',
          rating: 1
        },
        {
          userDp: '1',
          username: 'user-1',
          title: 'Plumber',
          rating: 4
        },
        {
          userDp: '2',
          username: 'user-2',
          title: 'Dev',
          rating: 1
        },
        {
          userDp: '3',
          username: 'user-3',
          title: 'Make-up artist',
          rating: 1
        },
        {
          userDp: '1',
          username: 'user-1',
          title: 'Plumber',
          rating: 4
        },
        {
          userDp: '2',
          username: 'user-2',
          title: 'Dev',
          rating: 1
        },
        {
          userDp: '3',
          username: 'user-3',
          title: 'Make-up artist',
          rating: 1
        },
        {
          userDp: '1',
          username: 'user-1',
          title: 'Plumber',
          rating: 4
        },
        {
          userDp: '2',
          username: 'user-2',
          title: 'Dev',
          rating: 1
        },
        {
          userDp: '3',
          username: 'user-3',
          title: 'Make-up artist',
          rating: 1
        }
      ]
    }
  },
  props: {
    eventBus: undefined,
    profileSummary: {
      type: [Object, Array]
    }
  },
  methods: {
    
  },
  mounted() {
  },
  created () {
  },
  destroyed () {
  }
}
</script>

<style scoped>
.connections-freelancer-wrapper {
  display: inline-block;
  width: 100%;
}
.connections-freelancer-wrapper .connections-freelancer-loop-wrapper {
  margin-bottom: 20px;
}
.connections-freelancer-wrapper .connections-freelancer-loop-wrapper >>> .freelancers-overview-container {
  background-color: #fff;
}
</style>