<template>
  <div class="feed-container">
    <div v-if="!isMobile" class="sidebar" ref="homeLeftSidebar" v-bind:style="leftBar" v-bind:class="{'is-sticky': isSticky}">
      <VuePerfectScrollbar class="home-feed-sidebar-scroll" :settings="settings">
        <white-box :title="'Top rated freelancers'" :isLoading="topRatedFreelancers && topRatedFreelancers.length > 0 ? false : true">
          <content-placeholders :rounded="true" v-if="topRatedFreelancers && topRatedFreelancers.length > 0 ? false : true">
            <content-placeholders-text :lines="2"/>
          </content-placeholders>
          <div v-else>
            <freelancers-overview v-for="(topRatedFreelancer, topRatedFreelancersIndex) in topRatedFreelancers" v-bind:key="topRatedFreelancersIndex" :topRatedFreelancer="topRatedFreelancer"></freelancers-overview>
            <MoreInfo/>
          </div>
        </white-box>
        <white-box :title="'Top selling categories'" :isLoading="topCategories && topCategories.length > 0 ? false : true">
          <content-placeholders :rounded="true" v-if="topCategories && topCategories.length > 0 ? false : true">
            <content-placeholders-heading :img="true" />
          </content-placeholders>
          <div v-else>
            <categories-overview v-for="(topCategory, topCategoriesIndex) in topCategories" v-bind:key="topCategoriesIndex" :topCategory="topCategory"></categories-overview>
            <MoreInfo/>
          </div>
        </white-box>
      </VuePerfectScrollbar>
    </div>
    <div class="news-feed-container" v-bind:style="newsFeed">
      <post-publisher v-if="isLoggedIn" :eventBus="eventBus"></post-publisher>
      <div v-if="posts.length > 0">
        <post-card :comments="comments" :posts="posts" :postIndex="postIndex" :post="post" v-for="(post, postIndex) in posts" v-bind:key="postIndex"></post-card>
      </div>
      <div v-else>
        <post-card-placeholder v-for="placeholder in 3" :key="placeholder" :postType="placeholder"></post-card-placeholder>
      </div>
    </div>
    <div v-if="!isMobile" class="sidebar" ref="homeRightSidebar" v-bind:style="rightBar" v-bind:class="{'is-sticky': isSticky}">
      <VuePerfectScrollbar class="home-feed-sidebar-scroll" :settings="settings">
        <white-box :title="'Top rated services'" :isLoading="topServices && topServices.length > 0 ? false : true">
          <content-placeholders :rounded="true" v-if="topServices && topServices.length > 0 ? false : true">
            <content-placeholders-heading :img="true" />
          </content-placeholders>
          <div v-else>
            <services-overview v-for="(topService, topServicesIndex) in topServices" v-bind:key="topServicesIndex" :topService="topService"></services-overview>
            <MoreInfo/>
          </div>
        </white-box>
      </VuePerfectScrollbar>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import VueContentPlaceholders from 'vue-content-placeholders'

import WhiteBox from '@/components/Boxes/WhiteBox'
import Freelancers from '@/components/Includes/Freelancers'
import Categories from '@/components/Includes/Categories'
import Services from '@/components/Includes/Services'
import MoreInfo from '@/components/Inputs/MoreInfo'
import PostCard from '@/components/Post/PostCard'
import PostCardPlaceholder from '@/components/Post/PostCardPlaceholder'
import PostPublisher from '@/components/Post/PostPublisher'

Vue.use(VueContentPlaceholders)

export default {
  name: 'feed',
  components: {
    'white-box': WhiteBox,
    'freelancers-overview': Freelancers,
    'categories-overview': Categories,
    'services-overview': Services,
    MoreInfo,
    'post-card': PostCard,
    'post-card-placeholder': PostCardPlaceholder,
    VuePerfectScrollbar,
    'post-publisher': PostPublisher
  },
  data () {
    return {
      isSticky: false,
      leftBar: {
        left: undefined,
        width: undefined
      },
      rightBar: {
        left: undefined,
        width: undefined
      },
      newsFeed: {
        left: undefined
      },
      settings: {
        wheelSpeed: 0.5,
        wheelPropagation: true
      }
    }
  },
  props: {
    eventBus: {
      type: undefined
    },
    comments: {
      type: Array
    },
    posts: {
      type: Array
    },
    topRatedFreelancers: {
      type: Array
    },
    topCategories: {
      type: Array
    },
    topServices: {
      type: Array
    },
    homeBanner: {
      type: Object
    },
    isLoggedIn: {
      type: Boolean
    },
    isMobile: {
      type: Boolean
    }
  },
  methods: {
    // handleHomeScroll (event) {
    //   var windowY = window.scrollY
    //   var homeBannerHeight = this.homeBanner.height
    //   var totalOffset = homeBannerHeight + 20

    //   var homeLeftSidebar = this.$refs.homeLeftSidebar
    //   var homeRightSidebar = this.$refs.homeRightSidebar

    //   var homeLeftSidebarLeft = homeLeftSidebar.offsetLeft
    //   var homeRightSidebarLeft = homeRightSidebar.offsetLeft
      
    //   var homeLeftSidebarWidth = homeLeftSidebar.clientWidth
    //   var homeRightSidebarWidth = homeRightSidebar.clientWidth

    //   if (windowY >= totalOffset) {
    //     this.isSticky = true
    //     this.leftBar.left = homeLeftSidebarLeft + 'px'
    //     this.leftBar.width = homeLeftSidebarWidth + 'px'
    //     this.rightBar.left = homeRightSidebarLeft + 'px'
    //     this.rightBar.width = homeRightSidebarWidth + 'px'
    //     this.newsFeed.left = (homeLeftSidebarWidth + 0) + 'px' 
    //     this.eventBus.$emit('set-homeBannerScrolled', true)
    //   } else {
    //     this.isSticky = false
    //     this.leftBar.left = undefined
    //     this.leftBar.width = undefined
    //     this.rightBar.left = undefined
    //     this.rightBar.width = undefined
    //     this.newsFeed.left = undefined 
    //     this.eventBus.$emit('set-homeBannerScrolled', false)
    //   }
    // }
    handleHomeScroll (event) {
      var windowY = window.scrollY
      var homeBannerHeight = this.homeBanner.height
      var totalOffset = 0

      var homeLeftSidebar = this.$refs.homeLeftSidebar
      var homeRightSidebar = this.$refs.homeRightSidebar
      if (homeLeftSidebar && homeRightSidebar) {
        var homeLeftSidebarLeft = homeLeftSidebar.offsetLeft
        var homeRightSidebarLeft = homeRightSidebar.offsetLeft
        
        var homeLeftSidebarWidth = homeLeftSidebar.clientWidth
        var homeRightSidebarWidth = homeRightSidebar.clientWidth

        if (windowY >= totalOffset) {
          this.isSticky = true
          this.leftBar.left = homeLeftSidebarLeft + 'px'
          this.leftBar.width = homeLeftSidebarWidth + 'px'
          this.rightBar.left = homeRightSidebarLeft + 'px'
          this.rightBar.width = homeRightSidebarWidth + 'px'
          this.newsFeed.left = (homeLeftSidebarWidth + 0) + 'px' 
          this.eventBus.$emit('set-homeBannerScrolled', true)
        } else {
          this.isSticky = false
          this.leftBar.left = undefined
          this.leftBar.width = undefined
          this.rightBar.left = undefined
          this.rightBar.width = undefined
          this.newsFeed.left = undefined 
          this.eventBus.$emit('set-homeBannerScrolled', false)
        }
      }
    }
  },
  created () {
    window.addEventListener('scroll', this.handleHomeScroll);
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleHomeScroll);
  }
}
</script>

<style scoped>
.sidebar.is-sticky {
  position: fixed;
  top: 85px;
}
.home-feed-sidebar-scroll {
  margin: -15px -15px 0px -15px;
  padding: 15px 15px 0px 15px;
  max-height: calc(100vh - 70px);
}
</style>
