<template>
  <div class="page-container">
    <Header :isLoggedIn="isLoggedIn" :eventBus="eventBus" :gotoMyProfile="gotoMyProfile"
    :isMobile="isMobile"/>
    <!-- <HomeBanner :eventBus="eventBus" Header :isLoggedIn="isLoggedIn" :homeBanner="homeBanner"/> -->
    <div class="feed-section fixed-feed-section container">
    <feed
    :eventBus="eventBus"
    :comments="comments"
    :posts="posts"
    :topRatedFreelancers="topRatedFreelancers"
    :topCategories="topCategories"
    :topServices="topServices"
    :homeBanner="homeBanner"
    :isLoggedIn="isLoggedIn"
    :isMobile="isMobile"
    ></feed>
    </div>
  </div>
</template>

<script>
import vue from 'vue'
import axios from 'axios'
import router from 'vue-router'

import db from './../firebaseInit'
// import {dummyTopRatedFreelancers, dummyTopCategories, dummyTopServices} from './../../Api/topRated.js'

import Header from '@/components/Includes/Header'
import HomeBanner from '@/components/Banners/HomeBanner'
import Feed from '@/components/Pages/Feed'
import { log } from 'util';
export default {
  name: 'Home',
  components: {
    Header,
    HomeBanner,
    Feed
  },
  data () {
    return {
      leaderBoardApiUrl: this.apiBaseUrl + '/api/LeaderBoard/LeaderBoard',
      homePostsFeedApiUrl: this.apiBaseUrl + '/api/HomePostsFeed/Feeds',
      data: {},
      headers: {
        'Content-Type': 'application/json'
      },
      topRatedFreelancers: [],
      topCategories: [],
      topServices: [],
      posts: [],
      homeBanner: {
        'height': 0
      }
    }
  },
  props: {
    eventBus: undefined,
    comments: {
      type: Array
    },
    // posts: {
    //   type: Array
    // },
    // topRatedFreelancers: {
    //   type: Array
    // },
    // topCategories: {
    //   type: Array
    // },
    // topServices: {
    //   type: Array
    // },
    isLoggedIn: {
      type: Boolean
    },
    apiBaseUrl: {
      type: String
    },
    isHomeBannerScrolled: {
      type: Boolean
    },
    isMobile: {
      type: Boolean
    }
  },
  methods: {
    gotoMyProfile: function () {
      this.$router.push('Profile')
    },
    // handleHomeScroll (event) {
    //   debugger
    //   var windowY = window.scrollY
    //   var homeBannerHeight = this.homeBanner.height
    //   var totalOffset = homeBannerHeight + 0
    //   if (windowY >= totalOffset) {
    //     this.isSticky = true
    //     this.eventBus.$emit('set-homeBannerScrolled', true)
    //   } else {
    //     this.isSticky = false
    //     this.eventBus.$emit('set-homeBannerScrolled', false)
    //   }
    // }
  },
  computed: {
    // topRatedFreelancers: function () {
    //   return dummyTopRatedFreelancers()
    // },
    // topCategories: function () {
    //   return dummyTopCategories()
    // },
    // topServices: function () {
    //  return dummyTopServices()
    // }
  },
  mounted () {
    // let topFreelancersRef = db.collection('TopFreelancers')
    // let usersRef = db.collection('Users')
    // var museums = usersRef.where("user_id", "==", 3)
    // museums.get().then(function (querySnapshot) {
    //   querySnapshot.forEach(function (doc) {
    //     console.log(doc.id, ' => ', doc.data());
    //   })
    // })
    // var landmarks = Promise.all([
    //   usersRef.doc('SF').collection('Users').doc().set({
    //     name: 'Golden Gate Bridge',
    //     type: 'bridge'
    //   })
    // ])
    // console.log(landmarks)
    // topFreelancersRef.get().then((querySnapshop) => {
    //   querySnapshop.forEach(doc => {
    //     console.log(doc.data())
    //   })
    // })
    if (this.eventBus) {
      this.eventBus.$emit('check-login')
    }
    // console.log(this.posts)
  },
  created() {
    // db.collection('Users').get().then((querySnapshop) => {
    //   querySnapshop.forEach(doc => {
    //     console.log(doc.data())
    //     const data = {

    //     }
    //   })
    // })
    axios.get(this.leaderBoardApiUrl, this.data, this.headers).then(response => {
      this.topRatedFreelancers = response.data.topFreelancers
      this.topCategories = response.data.topCategories
      this.topServices = response.data.topServices
    })
    .catch(e => { 
      this.errors.push(e)
    })
    axios.get(this.homePostsFeedApiUrl, this.data, this.headers).then(response => {
      this.posts = response.data
    })
    .catch(e => { 
      this.errors.push(e)
    })
  }
}
</script>

<style scoped>
</style>
