<template>
  <div class="page-container margin-top-header">
    <Header :isLoggedIn="isLoggedIn" :eventBus="eventBus" :gotoMyProfile="gotoMyProfile" :isMobile="isMobile"/>
    <ProfileBanner :eventBus="eventBus" :profileBanner="profileBanner" :profileSelectedTab="profileSelectedTab" :profilePicture="profileSummary.profile_picture"
    :isMobile="isMobile"/>
    <div class="feed-section profile-feed-section container">
      <ProfileTimeline
        v-if="profileSelectedTab.value === 0"
        :eventBus="eventBus"
        :comments="comments"
        :posts="[]"
        :topRatedFreelancers="topRatedFreelancers"
        :topCategories="topCategories"
        :topServices="topServices"
        :profileBanner="profileBanner" :profileSummary="isEmpty(profileSummary) ? [] : profileSummary"
        :isMobile="isMobile"
      ></ProfileTimeline>
      <ServicesPage v-if="profileSelectedTab.value === 1" :profileSummary="isEmpty(profileSummary) ? [] : profileSummary"/>
      <Connections v-if="profileSelectedTab.value === 2" :profileSummary="isEmpty(profileSummary) ? [] : profileSummary"/>
    </div>
  </div>
</template>

<script>
import vue from 'vue'
import axios from 'axios'
import router from 'vue-router'
import firebase from 'firebase'

import Header from "@/components/Includes/Header"
import ProfileBanner from "@/components/Banners/ProfileBanner"
import Feed from "@/components/Pages/Feed"
import ProfileTimeline from "@/components/Pages/ProfileTimeline"
import ProfileBio from "@/components/Pages/ProfileBio"
import Connections from "@/components/Pages/Connections"
import ServicesPage from "@/components/Pages/ServicesPage"

import {dummyProfileSummary} from './../../Api/userProfile.js'
import { debug } from 'util';


export default {
  name: "Profile",
  components: {
    Header,
    ProfileBanner,
    ProfileTimeline,
    ProfileBio,
    Connections,
    ServicesPage
  },
  data() {
    return {
      homePostsFeedApiUrl: this.apiBaseUrl + '/api/HomePostsFeed/Feeds',
      data: {},
      headers: {
        'Content-Type': 'application/json'
      },
      profileBanner: {
        'height': 0
      },
      profileSelectedTab: {
        value: 0
      },
      posts: []
    }
  },
  props: {
    eventBus: undefined,
    apiBaseUrl: {
      type: String
    },
    comments: {
      type: Array
    },
    topRatedFreelancers: {
      type: Array
    },
    topCategories: {
      type: Array
    },
    topServices: {
      type: Array
    },
    isLoggedIn: {
      type: Boolean,
      default: false
    },
    isMobile: {
      type: Boolean
    }
  },
  computed: {
    profileSummary: function () {
      return dummyProfileSummary()
    }
  },
  methods: {
    gotoMyProfile: function() {
      alert("hi");
    },
    isEmpty (obj) {
      for(var key in obj) {
        if(obj.hasOwnProperty(key))
          return false
      }
      return true
    },
    checkAuth () {
      if (!firebase.auth().currentUser) {
        this.$router.push('/')
      }
    }
  },
  mounted() {
    if (this.eventBus) {
      this.eventBus.$emit("check-login")
      this.eventBus.$on('check-auth', this.checkAuth)
    }
  },
  created() {
    axios.get(this.homePostsFeedApiUrl, this.data, this.headers).then(response => {
      this.posts = response.data
    })
    .catch(e => { 
      this.errors.push(e)
    })
  }
};
</script>

<style scoped>
.profile-feed-container {
  margin: 30px 0px 0px 0px;
}
</style>
