<template>
  <div class="profile-feed-container feed-container">
    <div class="row">
      <div class="col-md-4">
        <white-box :title="'Cover Letter'">
          <p class="white-box-description">
            {{profileSummary.bio.coverLetter}}
          </p>
          <!-- <MoreInfo :label="'View all reviews'"/> -->
        </white-box>
      </div>
      <div class="col-md-4">
        <white-box :title="'Skills'">
          <ul class="profile-skills-ul">
            <li v-for="(skill, index) in profileSummary.endorsements" v-bind:key="index">
              <p class="white-box-description">{{skill.skill}}</p>
              <Rates :rates="skill.rate"></Rates>
            </li>
          </ul>
        </white-box>
      </div>
      <div class="col-md-4">
        <white-box :title="'Work history'">
          <ul class="experience-ul">
            <li v-for="(experience, index) in profileSummary.experiences" v-bind:key="index">
              <a href="#">
                <p>{{experience.title}} at {{experience.employer}} <span class="experience-time">({{new Date(experience.from).getFullYear()}} - {{new Date(experience.to).getFullYear() ? new Date(experience.to).getFullYear() : 'current'}})</span></p>
              </a>
            </li>
          </ul>
        </white-box>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <white-box :title="'Education'">
          <ul class="experience-ul">
            <li v-for="(experience, index) in profileSummary.experiences" v-bind:key="index">
              <a href="#">
                <p>{{experience.title}} at {{experience.employer}} <span class="experience-time">({{new Date(experience.from).getFullYear()}} - {{new Date(experience.to).getFullYear() ? new Date(experience.to).getFullYear() : 'current'}})</span></p>
              </a>
            </li>
          </ul>
        </white-box>
      </div>
    </div>
  </div>
</template>

<script>
import WhiteBox from '@/components/Boxes/WhiteBox'
import MoreInfo from '@/components/Inputs/MoreInfo'
import Rates from '@/components/Includes/Rates'

export default {
  name: 'profile-bio',
  components: {
    'white-box': WhiteBox,
    MoreInfo,
    Rates
  },
  data () {
    return {}
  },
  props: {
    eventBus: undefined,
    profileSummary: {
      type: [Object, Array]
    }
  },
  methods: {
  },
  mounted() {
  },
  created () {
  },
  destroyed () {
  }
}
</script>

<style scoped>
.profile-skills-ul li {
  display: inline-block;
  width: 100%;
  margin: 0px 0px 10px 0px;
}
.profile-skills-ul li > p.white-box-description, .profile-skills-ul li > .rating-block {
  display: block;
}
.profile-skills-ul li > .rating-block {
  margin: 0px;
}
</style>