<template>
  <div class="profile-feed-container feed-container">
    <!-- <div class="sidebar margin-right-main"> -->
    <div v-if="!isMobile" class="sidebar" ref="profileLeftSidebar" v-bind:style="leftBar" v-bind:class="{'is-sticky': isSticky}">
      <!-- https://www.npmjs.com/package/vue-perfect-scrollbar -->
      <VuePerfectScrollbar class="profile-summary-scrollbar profile-feed-sidebar-scroll" v-once :settings="settings">
        <white-box :title="'Profile summary'" :isLoading="profileSummary.length > 0 ? false : true">
          <div v-if="profileSummary.length > 0">
            <div class="white-box-sub-section">
              <label class="white-box-sub-title">About me</label>
              <p class="white-box-description">
                {{profileSummary.aboutMe}}
              </p>
            </div>
            <div class="white-box-sub-section">
              <label class="white-box-sub-title">Skills &amp; Endorsements</label>
              <InputEndorse :endorsements="profileSummary.endorsements"></InputEndorse>
              <MoreInfo/>
            </div>
            <div class="white-box-sub-section">
              <label class="white-box-sub-title">Experiences</label>
              <ul class="experience-ul">
                <li v-for="(experience, index) in profileSummary.experiences" v-bind:key="index">
                  <a href="#">
                    <p>{{experience.title}} at {{experience.employer}} <span class="experience-time">({{new Date(experience.from).getFullYear()}} - {{new Date(experience.to).getFullYear() ? new Date(experience.to).getFullYear() : 'current'}})</span></p>
                  </a>
                </li>
              </ul>
              <MoreInfo/>
            </div>
            <div class="white-box-sub-section">
              <label class="white-box-sub-title">Share this profile</label>
              <ul class="share-profile-ul">
                <li><a class="fb" href="#"><span class="ti-facebook"></span></a></li>
                <li><a class="twitter" href="#"><span class="ti-twitter"></span></a></li>
                <li><a class="gplus" href="#"><span class="ti-google"></span></a></li>
                <li><a class="linkedin" href="#"><span class="ti-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
          <content-placeholders :rounded="true" v-else>
            <content-placeholders-text v-for="item in 2" :key="item"/>
          </content-placeholders>
        </white-box>
        <white-box :title="'Client Reviews'" :isLoading="profileSummary.length > 0 ? false : true">
          <div v-if="profileSummary.length > 0">
            <InputReview :reviews="profileSummary.clientReviews"></InputReview>
            <MoreInfo :label="'View all reviews'"/>
          </div>
          <content-placeholders :rounded="true" v-else>
            <content-placeholders-heading :img="true"/>
          </content-placeholders>
        </white-box>
      </VuePerfectScrollbar>
    </div>
    <!-- news-feed -->
    <div class="news-feed-container" v-bind:style="newsFeed">
      <post-publisher :eventBus="eventBus" :profilePicture="profileSummary.length > 0 ? profileSummary.profile_picture : ''"></post-publisher>
      <div v-if="posts.length > 0">
        <post-card :comments="comments" :posts="posts" :postIndex="index" :post="post" v-for="(post, index) in posts" v-bind:key="index"></post-card>
      </div>
      <div v-else>
        <post-card-placeholder v-for="placeholder in 2" :key="placeholder" :postType="placeholder"></post-card-placeholder>
      </div>
    </div>
    <!-- news-feed -->
    <div v-if="!isMobile" class="sidebar" ref="profileRightSidebar" v-bind:style="rightBar" v-bind:class="{'is-sticky': isSticky}">
      <VuePerfectScrollbar class="profile-gallery-scrollbar profile-feed-sidebar-scroll" v-once :settings="settings">
      <white-box :title="'Gallery Overview'" :isLoading="profileSummary.length > 0 ? false : true">
        <ThumbnailGrid :thumbnails="[]"></ThumbnailGrid>
        <!-- <ThumbnailGrid :thumbnails="profileSummary && profileSummary.galleryOverview && profileSummary.galleryOverview.length > 0 ? profileSummary.galleryOverview : []"></ThumbnailGrid>
        <MoreInfo v-if="profileSummary.galleryOverview.length > 0" :label="'View gallery'"/> -->
      </white-box>
      <white-box :title="'Trending services'" :isLoading="profileSummary.length > 0 ? false : true">
        <div v-if="profileSummary.length > 0">
          <ul class="sidebar-top-projects-ul">
            <li v-for="(userTrending, index) in profileSummary.userTrendings" v-bind:key="index">
              <div class="project-thumbnail" v-bind:style="{ backgroundImage: `url(`+userTrending.thumbnail+`)` }"></div>
              <div class="sidebar-project-content-holder">
                <p class="sidebar-project-title">{{userTrending.title}}</p>
                <Rates :rates="userTrending.rating"></Rates>
                <p class="sidebar-content-desc project-desc">
                  {{userTrending.description}}
                </p>
              </div>
            </li>
          </ul>
          <MoreInfo :label="'View all items'"/>
        </div>
        <content-placeholders :rounded="true" v-else>
          <content-placeholders-heading :img="true" v-for="trend in 3" :key="trend"/>
        </content-placeholders>
      </white-box>
      <!-- <white-box :title="'Gayan\'s Calendar'">
        <v-calendar>
        </v-calendar>
      </white-box> -->
      </VuePerfectScrollbar>
    </div>
  </div>
</template>


<script>
import Vue from 'vue'
// import VCalendar from 'v-calendar';
// import 'v-calendar/lib/v-calendar.min.css'
// https://docs.vcalendar.io/#installation
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import VueContentPlaceholders from 'vue-content-placeholders'

import WhiteBox from '@/components/Boxes/WhiteBox'
import Freelancers from '@/components/Includes/Freelancers'
import Categories from '@/components/Includes/Categories'
import Services from '@/components/Includes/Services'
import MoreInfo from '@/components/Inputs/MoreInfo'
import PostCard from '@/components/Post/PostCard'
import PostPublisher from '@/components/Post/PostPublisher'
import InputEndorse from '@/components/Inputs/InputEndorse'
import InputReview from '@/components/Inputs/InputReview'
import ThumbnailGrid from '@/components/Includes/ThumbnailGrid'
import Rates from '@/components/Includes/Rates'
import PostCardPlaceholder from '@/components/Post/PostCardPlaceholder'
// import {EventBus} from './../../event-bus.js'

Vue.use(VueContentPlaceholders)

export default {
  name: 'profile-timeline',
  components: {
    'white-box': WhiteBox,
    'freelancers-overview': Freelancers,
    'categories-overview': Categories,
    'services-overview': Services,
    MoreInfo,
    'post-card': PostCard,
    'post-publisher': PostPublisher,
    InputEndorse,
    InputReview,
    ThumbnailGrid,
    Rates,
    // VCalendar,
    VuePerfectScrollbar,
    'post-card-placeholder': PostCardPlaceholder,
  },
  data () {
    return {
      isSticky: false,
      leftBar: {
        left: undefined,
        width: undefined
      },
      rightBar: {
        left: undefined,
        width: undefined
      },
      newsFeed: {
        left: undefined
      },
      settings: {
        wheelSpeed: 0.5,
        wheelPropagation: true
      }
    }
  },
  props: {
    eventBus: undefined,
    comments: {
      type: Array
    },
    posts: {
      type: Array,
      default () {
        return []
      }
    },
    topRatedFreelancers: {
      type: Array,
      default () {
        return []
      }
    },
    topCategories: {
      type: Array,
      default () {
        return []
      }
    },
    topServices: {
      type: Array,
      default () {
        return []
      }
    },
    profileBanner: {
      type: Object
    },
    profileSummary: {
      type: Object
    },
    isMobile: {
      type: Boolean
    }
  },
  methods: {
    handleProfileScroll (event) {
      var windowY = window.scrollY
      var profileBannerHeight = this.profileBanner.height
      var totalOffset = profileBannerHeight + 20

      var profileLeftSidebar = this.$refs.profileLeftSidebar
      var profileRightSidebar = this.$refs.profileRightSidebar
      if (profileLeftSidebar && profileRightSidebar) {
        var profileLeftSidebarLeft = profileLeftSidebar.offsetLeft
        var profileRightSidebarLeft = profileRightSidebar.offsetLeft
        
        var profileLeftSidebarWidth = profileLeftSidebar.clientWidth
        var profileRightSidebarWidth = profileRightSidebar.clientWidth

        if (windowY >= totalOffset) {
          this.isSticky = true
          this.leftBar.left = profileLeftSidebarLeft + 'px'
          this.leftBar.width = profileLeftSidebarWidth + 'px'
          this.rightBar.left = profileRightSidebarLeft + 'px'
          this.rightBar.width = profileRightSidebarWidth + 'px'
          this.newsFeed.left = (profileLeftSidebarWidth + 0) + 'px' 
        } else {
          this.isSticky = false
          this.leftBar.left = undefined
          this.leftBar.width = undefined
          this.rightBar.left = undefined
          this.rightBar.width = undefined
          this.newsFeed.left = undefined 
        }
      }
    }
  },
  mounted() {
  },
  created () {
    window.addEventListener('scroll', this.handleProfileScroll)
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleProfileScroll)
  }
}
</script>

<style scoped>
.white-box-sub-section:last-child {
  border-bottom: none;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.sidebar-top-projects-ul >>> .rating-block {
  display: inline-block;
  width: 100%;
  height: 20px;
  margin: 4px 0px 5px -1px;
}
.sidebar.is-sticky {
  position: fixed;
  top: 85px;
}
.profile-feed-sidebar-scroll {
  margin: -15px -15px 0px -15px;
  padding: 15px 15px 0px 15px;
}
.profile-feed-sidebar-scroll >>> .ps__scrollbar-y-rail {
  height: calc(100% - 15px) !important;
  margin: 15px 0px 0px 0px !important;
}
</style>