<template>
  <div class="profile-feed-container feed-container">
    <div class="row">
      <div v-if="topServices && topServices.length > 0 ? false : true">
        <content-placeholders class="col-md-3" :rounded="true" v-for="(item, index) in 4" :key="index">
          <content-placeholders-text :lines="2"/>
        </content-placeholders>
      </div>
      <div v-else class="services-page-item-wrapper">
        <div class="services-page-loop-wrapper col-md-3" v-for="(topService, topServicesIndex) in topServices" v-bind:key="topServicesIndex">
          <services-overview :topService="topService"></services-overview>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import VueContentPlaceholders from 'vue-content-placeholders'
import Services from '@/components/Includes/Services'

Vue.use(VueContentPlaceholders)

export default {
  name: 'services-page',
  components: {
    'services-overview': Services,
  },
  data () {
    return {
      topServices: [
        {
          userDp: '1',
          username: 'user-1',
          serviceTitle: 'Fix pipes',
          serviceRating: 4,
          servicePrice: 540
        },
        {
          userDp: '2',
          username: 'user-2',
          serviceTitle: 'Cut hairs',
          serviceRating: 1,
          servicePrice: 1500
        },
        {
          userDp: '3',
          username: 'user-3',
          serviceTitle: 'develop apps',
          serviceRating: 3,
          servicePrice: 15000
        },
        {
          userDp: '1',
          username: 'user-1',
          serviceTitle: 'Fix pipes',
          serviceRating: 4,
          servicePrice: 540
        },
        {
          userDp: '2',
          username: 'user-2',
          serviceTitle: 'Cut hairs',
          serviceRating: 1,
          servicePrice: 1500
        },
        {
          userDp: '3',
          username: 'user-3',
          serviceTitle: 'develop apps',
          serviceRating: 3,
          servicePrice: 15000
        },
        {
          userDp: '1',
          username: 'user-1',
          serviceTitle: 'Fix pipes',
          serviceRating: 4,
          servicePrice: 540
        },
        {
          userDp: '2',
          username: 'user-2',
          serviceTitle: 'Cut hairs',
          serviceRating: 1,
          servicePrice: 1500
        },
        {
          userDp: '3',
          username: 'user-3',
          serviceTitle: 'develop apps',
          serviceRating: 3,
          servicePrice: 15000
        }
      ]
    }
  },
  props: {
    eventBus: undefined,
    profileSummary: {
      type: [Object, Array]
    }
  },
  methods: {
    
  },
  mounted() {
  },
  created () {
  },
  destroyed () {
  }
}
</script>

<style scoped>

.services-page-item-wrapper {
  display: inline-block;
  width: 100%;
}
.services-page-item-wrapper .services-page-loop-wrapper {
  margin-bottom: 20px;
}
.services-page-item-wrapper .services-page-loop-wrapper >>> .services-overview-container {
  background-color: #fff;
}
</style>