.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 320px) {
  .container {
    width: 100%;
  }
  .news-feed-container {
    width: calc(100% - 0px);
    margin: 0px 0px 0px 0px;
  }
  .post-slide {
    height: 50vw;
  }
}
@media (max-width: 576px) {
  .who-else-liked-wrapper {
    max-width: calc(100% - 46px) !important;
  }
  .post-card-response-container>.post-card-response-like-container {
    max-width: calc(100% - 120px);
  }
  .post-card-response-container .post-card-response-like-wrapper i.material-icons {
    margin: 0px 0px 0px 0px !important;
  }
  .who-else-liked-wrapper {
    margin: 10px 0px 0px 10px !important;
  }
  .post-card-response-container .post-card-response-like-wrapper {
    position: relative;
    display: inline-block;
  }
  .post-card-comment-actions-wrapper {
    top: -5px;
  }
  .profile-banner-content-block {
    min-height: 210px !important;
    margin: 0px 0px -102px 0px !important;
  }
  .profile-banner-content-block-list-wrapper {
    left: 0px !important;
    width: 100% !important;
    bottom: -85px !important;
  }
  .profile-banner-content-block-list {
    margin: 0px;
  }
  .profile-banner-content-block-list:after {
    display: none;
  }
  .feed-section.profile-feed-section {
    margin-top: 40px;
  }
  .post-card-container .freelancer-name {
    line-height: 20px;
  }
  .header-container .user-widget-container {
    height: 50px !important;
  }
  .header-container .logo-wrapper {
    box-sizing: border-box;
    height: 50px;
    margin: 0px 30px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .header-container .logo-wrapper img.logo-img {
    width: 42px !important;
  }
  .feed-container {
    margin: 50px 0px 0px 0px;
  }
  .login-navigate-container {
    float: left !important;
  }
  .margin-top-header {
    margin: 50px 0px 0px 0px;
  }
  .profile-banner-freelancer-avatar .freelancer-name > span {
    display: none;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .news-feed-container {
    width: calc(100% - 0px);
    margin: 0px 0px 0px 0px;
  }
  .post-slide {
    height: 400px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .sidebar {
    width: 230px;
  }
  .news-feed-container {
    width: calc(100% - 500px);
    margin: 0px 20px 0px 20px;
  }
  .freelancers-overview-container .freelancer-name,
  .freelancers-overview-container .freelancer-title,
  .categories-overview-container .categories-name {
    text-overflow: ellipsis;
    width: 80px;
    overflow: hidden;
    white-space: nowrap;
  }
  .categories-overview-container .categories-name {
    width: 90px;
  }
  .publish-methods p {
    margin: 0px 10px 3px 0px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .sidebar {
    width: 270px;
  }
  .news-feed-container {
    width: calc(100% - 580px);
    margin: 0px 20px 0px 20px;
  }
}