/* @import url('https://fonts.googleapis.com/css?family=Philosopher:400,400i,700,700i|Roboto:100,100i,300,300i,400i,500,500i,700,700i,900,900i'); */

@font-face {
  font-family: 'Roboto';
  src: url('./../font/Roboto-ThinItalic.woff2') format('woff2'),
    url('./../font/Roboto-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('./../font/RobotoCondensed-Bold.woff2') format('woff2'),
    url('./../font/RobotoCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./../font/Roboto-Black.woff2') format('woff2'),
    url('./../font/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./../font/Roboto-Italic.woff2') format('woff2'),
    url('./../font/Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('./../font/Roboto-Thin.woff2') format('woff2'),
    url('./../font/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./../font/Roboto-Light.woff2') format('woff2'),
    url('./../font/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./../font/Roboto-BoldItalic.woff2') format('woff2'),
    url('./../font/Roboto-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('./../font/RobotoCondensed-Light.woff2') format('woff2'),
    url('./../font/RobotoCondensed-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./../font/Roboto-Regular.woff2') format('woff2'),
    url('./../font/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('./../font/RobotoCondensed-Regular.woff2') format('woff2'),
    url('./../font/RobotoCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('./../font/RobotoCondensed-LightItalic.woff2') format('woff2'),
    url('./../font/RobotoCondensed-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('./../font/Roboto-LightItalic.woff2') format('woff2'),
    url('./../font/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('./../font/Roboto-BlackItalic.woff2') format('woff2'),
    url('./../font/Roboto-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('./../font/Roboto-Bold.woff2') format('woff2'),
    url('./../font/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('./../font/RobotoCondensed-Italic.woff2') format('woff2'),
    url('./../font/RobotoCondensed-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('./../font/Roboto-Medium.woff2') format('woff2'),
    url('./../font/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./../font/Roboto-MediumItalic.woff2') format('woff2'),
    url('./../font/Roboto-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('./../font/RobotoCondensed-BoldItalic.woff2') format('woff2'),
    url('./../font/RobotoCondensed-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

:root {
  --main-bg-color: #0b1247;
  --main-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
span,
input,
button,
select,
textarea,
div,
a {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #fafafa;
}

input,
button,
textarea,
select,
a {
  text-decoration: none !important;
  outline: none !important;
}

input[type='submit']:hover,
input[type='button']:hover,
button:hover {
  cursor: pointer;
}

.header-container {
  background-color: var(--main-bg-color);
  /* background: linear-gradient(to right, #0b1247 0%, #1e3c72); */
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 999;
  box-shadow: 0px 0px 30px 0px rgba(11, 18, 71, 0.75);
}

.logo-wrapper,
.search-block {
  float: left;
}

.header-container .logo-wrapper {
  margin: 10px 30px 9px 0px;
}

.notifier-section {
  float: right;
}

.user-widget-container {
  float: left;
}

.banner-narration-title {
  position: relative;
  font-weight: 300;
  font-size: 20px;
  padding: 20px 0px 20px 0px;
  display: block;
}

.banner-narration-title:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-color: #8e91ac;
}

.home-banner-wrapper {
  position: relative;
  width: 100%;
  height: calc(400px - 0px);
  margin-top: 56px;
  left: 0px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.banner-content-area {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 0px 0px;
  transition: 1s;
  height: calc(100% - 0px);
  position: relative;
  top: 0px;
  overflow: hidden;
}

.banner-heading {
  /* font-family: 'Philosopher', sans-serif; */
  text-align: center;
  color: var(--main-bg-color);
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: initial;
}

span.line-breaker {
  display: block;
}

.banner-main-direct-button-block {
  text-align: center;
  display: block;
}

.button-container-inline {
  display: inline-block;
}

.main-btn {
  display: block;
  padding: 10px 20px;
  color: #fff;
  font-size: 14px;
  box-shadow: var(--main-shadow);
  margin: 0px 2px;
  text-align: center;
  font-weight: 400;
  border-radius: 4px;
  transition: 0.3s;
  min-width: 150px;
}

.main-btn:hover {
  cursor: pointer;
  color: #fff;
}

.green-btn {
  background-color: #26a65b;
}

.cancel-button {
  background-color: #a3aea8;
}

.register-button {
  background-color: #e53935;
}

.banner-main-search-block {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  margin: 30px 0px;
}

.banner-main-search-block .search-block {
  display: inline-block;
  width: 100%;
  box-shadow: var(--main-shadow);
  background-color: rgba(255, 255, 255, 0.5) !important;
  border-radius: 50px;
}

.banner-main-search-block .search-block input.search-field {
  width: calc(100% - 56px);
  box-sizing: border-box;
}

.banner-main-search-block button.search-button:hover {
  color: var(--main-bg-color) !important;
}

.feed-container {
  margin: 65px 0px 0px 0px;
  display: inline-block;
  width: 100%;
  padding-top: 20px;
}

.sidebar {
  width: 270px;
  float: left;
  box-sizing: border-box;
}

.white-box {
  position: relative;
  background-color: #fff;
  box-shadow: var(--main-shadow);
  margin-bottom: 20px;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 4px;
}

.news-feed-container {
  position: relative;
  float: left;
  width: calc(100% - 580px);
  height: 100px;
  padding: 0px 0px 0px 0px;
  margin: 0px 20px 0px 20px;
  box-sizing: border-box;
}

/* .profile-feed-container .news-feed-container {
  float: left;
  width: calc(100% - 640px);
  height: 100px;
  padding: 0px 0px 0px 0px;
  margin: 0px 20px 0px 20px;
  box-sizing: border-box;
} */

/* post card */

.post-card-container .freelancer-img {
  width: 42px;
  height: 42px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
}

.post-card-container .post-published-time-block {
  position: relative;
  margin: 0px 0px 0px 15px;
  width: 100%;
  display: inline-block;
}

.post-card-container .freelancer-name {
  font-family: 'Roboto', sans-serif;
  color: #646992;
  font-size: 14px;
  font-weight: 400;
  margin: 0px;
  line-height: 8px;
}

.post-card-container .freelancer-name>p {
  text-transform: none;
}

.post-card-container .post-published-time {
  font-style: italic;
  color: #646992;
  font-size: 12px;
  margin: 0px 0px 0px 0px;
}

.post-card-container .post-expiration-indicator {
  text-align: right;
  float: right;
}

.post-card-container .freelancers-overview-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;
  margin: 0px 0px 0px 0px;
  box-sizing: border-box;
  border-radius: 4px;
  transition: 0.2s;
}

.post-card-container .publisher-container .freelancer-name>p {
  display: inline-block;
  color: #646992;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.post-card-container .publisher-container .freelancer-name>p>span {
  font-weight: 500;
}

.post-card-container .post-card-header-container:after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 50%;
  height: 2px;
  background-color: #ef5350;
}

.post-more-btn-container {
  position: absolute;
  top: -5px;
  right: -3px;
  z-index: 1;
}

.post-more-btn-container:hover {
  cursor: pointer;
}

.post-more-btn>i {
  color: #646992;
  line-height: 1;
  font-size: 26px;
}

.post-card-header-container {
  position: relative;
  padding: 0px 0px 10px 0px;
  margin: 0px 0px 15px 0px;
}

.post-card-body-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.post-card-body-container.on-top {
  z-index: 1;
}

.post-card-post-type-text-wrapper {
  display: inline-block;
  color: #646992;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
  line-height: 1.4;
}

.post-card-post-type-text>.big-o {
  font-size: 22px;
  letter-spacing: -3px;
}

.post-card-post-type-text>.all-caps {
  text-transform: uppercase;
  display: inline-block;
}

.post-card-post-type-text b {
  font-weight: 600;
}

.post-card-post-type-text i {
  font-style: italic;
}

.post-card-post-type-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.post-text-read-more-btn {
  color: #0b1247;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  margin: 15px 0px 0px 0px;
}

.post-text-read-more-btn:hover {
  cursor: pointer;
}

.post-card-post-type-text.post-text-visible {
  overflow: initial;
  display: inline-block;
  width: 100%;
  -webkit-line-clamp: initial;
  -webkit-box-orient: initial;
}

.post-card-container {
  padding: 15px 20px;
  overflow: hidden;
}

.post-card-container.selected-post {
  z-index: 1;
}

.post-card-post-type-textImage {
  display: inline-block;
  width: 100%;
  color: #646992;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 0px 0px 5px 0px;
  margin: 0px;
  line-height: 1.4;
}

.post-card-post-type {
  margin: 0px 0px 20px 0px;
  display: inline-block;
  width: 100%;
}

.post-card-post-type:last-child {
  margin: 0px 0px 0px 0px;
}

.post-slide {
  position: relative;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  border-radius: 10px;
  overflow: hidden;
}

.post-slider {
  box-shadow: var(--main-shadow);
  margin: 20px 0px 0px 0px;
  border-radius: 10px;
  background-color: #fafafa;
  overflow: hidden;
}

.slider-navigation {
  position: relative;
  top: 5px;
  color: #fff;
}

.post-slider>.VueCarousel-navigation>.VueCarousel-navigation-prev {
  left: 0px;
  transition: 0.3s;
  opacity: 0;
}

.post-slider>.VueCarousel-navigation>.VueCarousel-navigation-next {
  right: 0px;
  transition: 0.3s;
  opacity: 0;
}

.post-slider:hover>.VueCarousel-navigation>.VueCarousel-navigation-prev {
  left: 40px;
  transition: 0.3s;
  opacity: 1;
}

.post-slider:hover>.VueCarousel-navigation>.VueCarousel-navigation-next {
  right: 40px;
  transition: 0.3s;
  opacity: 1;
}

.service-post-description-container {
  color: #646992;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service-post-startin-price {
  text-transform: uppercase;
  font-size: 16px;
  color: var(--main-bg-color);
}

.service-post-startin-price>span {
  font-weight: 600;
}

.service-post-button {
  position: relative;
  border: none;
  outline: none !important;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1px;
  color: #fff;
  padding: 0px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #28b17b;
  transition: 0.5s;
}

.service-post-description-container .service-post-button {
  padding: 15px;
}

.service-post-button:hover {
  background-color: #23a571;
  transition: 0.5s;
}

.service-post-button>span {
  position: relative;
  z-index: 2;
}

.service-post-button:before {
  content: '';
  position: absolute;
  /* background-color: #3ac78f; */
  background-color: #17a06a;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: 0.5s;
}

.service-post-button:after {
  content: '';
  position: absolute;
  background-color: #28b17b;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
  transition: 0.5s;
}

.service-post-button:hover:after {
  content: '';
  position: absolute;
  background-color: #2fb580;
  top: 0px;
  right: -50%;
  width: 100%;
  height: 100%;
  z-index: 0;
  transition: 0.5s;
  transform: rotate(45deg) scale(2);
}

.service-post-description-wrapper {
  width: calc(100% - 190px);
  padding: 0px 10px 0px 0px;
  box-sizing: border-box;
}

.service-post-button:hover:before {
  content: '';
  position: absolute;
  background-color: #3ac78f;
  top: 0px;
  left: -110%;
  width: 200%;
  height: 150%;
  z-index: 1;
  transform: rotate(45deg) scale(2);
  transition: 0.5s;
}

/* red begins */
.service-post-button.red,
.service-post-button.red:after {
  background-color: #e53935;
}

.service-post-button.red:hover {
  background-color: #e53935;
}

.service-post-button.red:before,
.service-post-button.red:hover:before {
  background-color: #ef4845;
}

.service-post-button.red:hover:after {
  background-color: #c32e2b;
}
/* red ends */

.post-card-response-container {
  display: inline-block;
  width: 100%;
}

.post-card-response-container>.post-card-response-like-container {
  float: left;
}

.post-card-response-container>.post-card-response-comment-share-container {
  float: right;
}

.post-card-response-comment-trigger-container,
.post-card-response-share-trigger-container,
.post-card-response-save-trigger-container {
  display: inline-block;
}

/* post card */

/* columns */
.col-50 {
  width: 50%;
  float: left;
}

.banner-main-form-block.register-form-block>.col-50 {
  padding: 0px 10px;
  box-sizing: border-box;
}

/* columns */

/* validation */
.form-input-wrapper {
  position: relative;
}

.is-invalid {
  border: 1px solid #e53935 !important;
}

span.required-msg {
  background-color: var(--main-bg-color);
  color: #fff;
  font-size: 13px;
  display: inline-block;
  line-height: 1.2;
  letter-spacing: 1.5;
  padding: 10px 10px;
  border-radius: 5px;
  font-weight: 300;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9;
  box-shadow: var(--main-shadow);
  width: 100%;
  max-width: 200px;
  white-space: normal;
  border: 0.5px solid #fff;
}

span.required-msg.required-msg-password {
  left: calc(100% + 10px);
  top: 120px;
}

/* span.required-msg.required-msg-username {
} */

span.required-msg.required-msg-usernameEmail {
  left: calc(100% + 10px);
  top: 20px;
}

.header-container .freelancer-img:hover {
  cursor: pointer;
}

.margin-top-header {
  margin: 55px 0px 0px 0px;
}

.container {
  width: 100%;
  max-width: 1170px;
  display: block;
}

.no-after-border:after {
  display: none;
}

/* checkbox */

.checkbox-wrapper {
  display: inline-block;
}
.checkbox {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.checkbox span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
}
.checkbox span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid var(--main-bg-color);
  transition: all 0.2s ease;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.checkbox span:first-child svg {
  position: absolute;
  top: 4px;
  left: 3px;
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
}
.checkbox span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #28b17b;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}
.checkbox:hover span:first-child {
  border-color: var(--main-bg-color);
}

.inputcheck:checked + .checkbox span:first-child {
  background: #28b17b;
  border-color: #28b17b;
  animation: wave 0.4s ease;
}
.inputcheck:checked + .checkbox span:first-child svg {
  stroke-dashoffset: 0;
}
.inputcheck:checked + .checkbox span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}

.checkbox-label {
  color: #8588a3;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 300;
  margin: 0px 0px 0px 5px;
}
/* checkbox */

.white-box-sub-title {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  width: 100%;
  margin: 0px 0px 15px 0px;
  padding: 0px;
  text-transform: capitalize;
  color: var(--main-bg-color);
}
.white-box-description {
  display: inline-block;
  color: #646992;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding: 0px;
  margin: -5px 0px 0px 0px;
  line-height: 1.6;
}

.white-box-sub-section {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #b3b4bf;
  padding: 0px 0px 10px 0px;
  margin: 0px 0px 20px 0px;
}


/*material button medium beings*/
.material-btn-click-md {
  position: relative;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}
.material-btn-click-md::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  width: 60px;
  height: 60px;
  background: rgba(255,255,255,0.5);
  transform-origin: center left;
  transform: scale(0) translateX(-50%);
  border-radius: 50%;
}
.material-btn-click-md.after::after {
  animation: expandMedium 1s ease;
}
.material-btn-click-md:hover {
  cursor: pointer;
}
@keyframes expandMedium {
  0%{
      opacity: 1;
      transform: scale(0) translateX(-50%);
  }
  100%{
      opacity: 0;
      transform: scale(4) translateX(-50%);
  }
}
/*material button medium ends*/

/*material button large beings*/
.material-btn-click-lg {
  position: relative;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}
.material-btn-click-lg::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  width: 200px;
  height: 200px;
  background: rgba(255,255,255,0.5);
  transform-origin: center left;
  transform: scale(0) translateX(-50%);
  border-radius: 50%;
}
.material-btn-click-lg.after::after {
  animation: expandLarge 1.5s ease;
}
.material-btn-click-lg:hover {
  cursor: pointer;
}
@keyframes expandLarge {
  0%{
      opacity: 1;
      transform: scale(0) translateX(-50%);
  }
  100%{
      opacity: 0;
      transform: scale(4) translateX(-50%);
  }
}
/*material button large ends*/

ul.experience-ul {
  padding: 0px;
  margin: 0px 0px 5px 0px;
  list-style: none;
}
ul.experience-ul > li {
  display: block;
}
ul.experience-ul > li > a {
  margin: 0px 0px 5px 0px;
  display: inline-block;
  padding: 0px;
  line-height: 1.6;
  color: #646992;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.sidebar-content-desc-block p {
  margin: 0px;
}
.sidebar-content-desc-block p {
  margin: 0px;
}

ul.share-profile-ul {
  padding: 0px;
  margin: 0px 0px 10px 0px;
  list-style: none;
  display: inline-block;
  width: 100%;
}
ul.share-profile-ul > li {
  display: inline-block;
  color: #8588a3;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 300;
  padding: 0px;
  line-height: 1.3;
  margin: 0px 5px 0px 0px;
}
ul.share-profile-ul > li > a {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 42px;
  height: 42px;
  font-size: 18px;
}
.fb {
  background-color: #4e71a8;
}
.twitter {
  background-color: #1cb7eb;
}
.gplus {
  background-color: #e3411f;
}
.linkedin {
  background-color: #087fab;
}

.sidebar-top-projects-ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: inline-block;
  width: 100%;
}
.sidebar-top-projects-ul li {
  display: inline-block;
  margin: 0px -10px;
  padding: 0px 10px 0px 10px;
  transition: 0.3s;
}
.sidebar-top-projects-ul li:not(:last-child) {
  padding: 0px 10px 15px 10px;
}
.project-thumbnail {
  width: 70px;
  height: 50px;
  float: left;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.sidebar-project-content-holder {
  width: calc(100% - 80px);
  float: right;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
}
p.sidebar-project-title {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
  text-transform: capitalize;
  color: var(--main-bg-color);
}
p.sidebar-content-desc.project-desc {
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #646992;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight: 400;
  padding: 0px;
  margin: 0px 0px 0px 0px;
  line-height: 1.3;
  display: inline-block;
}

.margin-right-main {
  margin-right: 20px;
}

/* .profile-feed-container .sidebar {
  width: 270px;
} */

.profile-summary-scrollbar,
.profile-gallery-scrollbar,
.profile-feed-scrollbar {
  max-height: calc(100vh - 80px);
  box-sizing: border-box;
}
.ps__scrollbar-y-rail {
  z-index: 9;
}

.widget-more-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9;
}
.widget-more-wrapper {
  position: absolute;
  top: 30px;
  right: 0px;
  width: auto;
  z-index: 10;
}
.widget-more-wrapper ul {
  margin-bottom: 0px;
}
/* .widget-more-wrapper ul li {
} */
.widget-more-wrapper ul li,
.widget-more-wrapper ul li a {
  font-family: "Roboto", sans-serif;
  color: #646992;
  font-size: 14px;
  font-weight: 400;
  margin: 0px;
  line-height: 1;
  text-transform: capitalize;
  text-align: left;
  justify-content: flex-start;
  user-select: none;
}
.widget-more-wrapper ul li {
  cursor: pointer;
}

.delete-animation {
  overflow: hidden;
  animation: deleteAnimation 1s;
}

@keyframes deleteAnimation {
  0% {
    opacity: 1;
    height: 100%;
    width: 100%;
    left: 0%;
  }
  60% {
    opacity: 1;
    height: 0px;
    width: 100%;
    left: 0%;
  }
  100% {
    opacity: 0;
    height: 0%;
    width: 0px;
    left: 50%;
  }
}

.comment-delete-animation {
  overflow: hidden;
  animation: commentDeleteAnimation 1s;
}

@keyframes commentDeleteAnimation {
  0% {
    opacity: 1;
    height: 100%;
  }
  60% {
    opacity: 1;
    height: 0px;
  }
  100% {
    opacity: 0;
    height: 0%;
  }
}

.no-overflow {
  overflow: hidden;
}

/* fixed feed begins */
/* .fixed-feed-section .sidebar {
  position: fixed;
  top: 75px;
}
.fixed-feed-section .sidebar:nth-child(1) {
  left: calc(1170px - 300px);
} */
/* fixed feed ends */

.input-wrapper label {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  width: 100%;
  margin: 0px 0px 5px 0px;
  padding: 0px;
  text-transform: capitalize;
  color: var(--main-bg-color);
}

.input-wrapper input {
  display: inline-block;
  width: 100%;
  padding: 10px 10px;
  box-sizing: border-box;
  border-radius: 4px 4px 0px 0px;
  border: none;
  border-bottom: 1px solid #8588a3;
  color: #646992;
  font-size: 14px;
  font-weight: 400;
  margin: 0px;
  line-height: normal;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.125);
}