<template>
  <div class="banner-main-form-block">
    <div class="form-wrapper">
      <div class="form-input-wrapper">
        <input class="form-input" placeholder="username or email" autofocus type="text" v-model="user.emailUsername" v-validate="{ required: true, regex: /^[^<>%?=/ ,$&]*$/ }" name="emailUsername"
          :class="{ 'is-invalid': submitted && errors.has('emailUsername') || notSupport }"/>
        <span v-if="submitted && errors.has('emailUsername') && !notSupport" class="required-msg required-msg-usernameEmail">
          This cannot keep empty and the following patterns are not allowed <br/>
          Doe, Jon | Jon.Doe | &lt;&gt;,;:&quot;?/ | %\$#@!
        </span>
        <span v-if="submitted && errors.has('emailUsername') || notSupport" class="required-msg required-msg-usernameEmail">
          This cannot keep empty and the following patterns is not allowed <br/>
          Jon.Doe
        </span>
      </div>
      <div class="form-input-wrapper">
        <input class="form-input" placeholder="Password (1B2a345@#$%)" type="text" v-model="user.password"
        v-validate="{ required: true, regex: /(?=^.{8,255}$)((?=.*\d)(?=.*[A-Z])(?=.*[a-z])|(?=.*\d)(?=.*[^A-Za-z0-9])(?=.*[a-z])|(?=.*[^A-Za-z0-9])(?=.*[A-Z])(?=.*[a-z])|(?=.*\d)(?=.*[A-Z])(?=.*[^A-Za-z0-9]))^.*/ }" name="password"
        :class="{ 'is-invalid': submitted && errors.has('password') }"/>
        <span v-if="submitted && errors.has('password')" class="required-msg required-msg-password" style="white-space: normal; line-height: 1.2">
          Password should contain at least 8 characters, at least one upper uppercase character, lowercase charater, number and special character.</span>
      </div>
      <div class="form-input-wrapper">
        <InputButtonAsync class="service-post-button" :label="loginButtonLabel" :clickEvent="login" :buttonState="isLoginButtonDisabled"/>
      </div>
      <div class="form-input-wrapper">
        <label>I don't have an account</label>
        <a class="main-btn green-btn material-btn-click-md register-button" v-on:click="goToRegister">Register</a>
      </div>
      <div class="form-input-wrapper">
        <a class="main-btn green-btn material-btn-click-md cancel-button" v-on:click="backToHomeSearch">Cancel</a>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import VeeValidate from 'vee-validate'

import InputButtonAsync from '@/components/Inputs/InputButtonAsync'

import { login } from './../../utils/auth.js'

Vue.use(VeeValidate)

export default {
  name: 'login',
  components: {
    InputButtonAsync
  },
  data () {
    return {
      loginButtonLabel: 'login',
      isLoginButtonDisabled: false,
      user: {
        emailUsername: '',
        password: ''
      },
      submitted: false,
      notSupport: false
    }
  },
  props: {
    loginForm: {
      type: Object,
      required: true
    }
  },
  methods: {
    loginEvent: function () {
      this.submitted = true
      this.$validator.validate().then(valid => {
        if (valid) {
          var emailRegex = /^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
          var usernameRegex = /^([a-zA-Z '-]+)$/;
          var foundEmail = this.user.emailUsername.match(emailRegex);
          var foundUsername = this.user.emailUsername.match(usernameRegex);
          if (foundEmail) {
            this.notSupport = false
            this.setLoginReq(1)
          } else if (foundUsername) {
            this.notSupport = false
            this.setLoginReq(2)
          } else {
            this.notSupport = true
          }
        }
      })
    },
    backToHomeSearch: function () {
      if (this.loginForm.active !== 0) {
        this.$set(this.loginForm, 'active', 0)
      }
    },
    goToRegister: function () {
      if (this.loginForm.active !== 2) {
        this.$set(this.loginForm, 'active', 2)
      }
    },
    setLoginReq: function (type) {
      if (type === 1) {
        // email
        alert(`it's an email`)
        this.$set(this.loginForm, 'loggedin', true)
        this.$set(this.loginForm, 'active', 0)
      } else if (type === 2) {
        // username
        alert(`it's an username`)
        this.$set(this.loginForm, 'loggedin', true)
        this.$set(this.loginForm, 'active', 0)
      }
    },
    login: function () {
      login()
      // this.loginEvent()
    }
  }
}
</script>

<style scoped>
.banner-main-form-block {
  width: 250px;
}
.form-input-wrapper {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}
.form-input-wrapper:not(:last-child) {
  margin: 0px 0px 20px 0px;
}
.form-input-wrapper .input-button-container {
  position: relative;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 50px;
  box-shadow: var(--main-shadow);
}
.form-input-wrapper input.form-input {
  display: inline-block;
  width: 100%;
  box-shadow: var(--main-shadow);
  background-color: rgba(255, 255, 255, 0.5) !important;
  border-radius: 50px;
  border: none;
  outline: none;
  padding: 12px 20px;
  box-sizing: border-box;
  color: #868aa6;
}
.form-input-wrapper input.form-input::placeholder {
  color: #868aa6;
}
.form-input-wrapper .input-button-container >>> .input-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  z-index: 2;
  padding: 15px;
}
.form-input-wrapper > label {
  color: #646992;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  display: block;
  margin: -5px 0px 10px 0px;
  padding: 10px 0px 0px 0px;
  border-top: 1px solid #646992;
}
</style>