<template>
  <div class="banner-main-form-block register-form-block">
    <div class="col-50">
      <div class="form-wrapper">
        <div class="form-input-wrapper">
          <input class="form-input" placeholder="Firstname" autofocus type="text" v-model="user.firstname" v-validate="{ required: true, regex: /^([a-zA-Z '-]+)$/ }" name="firstname" :class="{ 'is-invalid': submitted && errors.has('firstname') }"/>
          <span v-if="submitted && errors.has('firstname')" class="required-msg">{{ errors.first('firstname') }}</span>
        </div>
        <div class="form-input-wrapper">
          <input class="form-input" placeholder="Lastname" autofocus type="text" v-model="user.lastname" v-validate="{ regex: /^([a-zA-Z '-]+)$/ }" name="lastname" :class="{ 'is-invalid': submitted && errors.has('lastname') }"/>
          <span v-if="submitted && errors.has('lastname')" class="required-msg">{{ errors.first('lastname') }}</span>
        </div>
        <div class="form-input-wrapper">
          <input class="form-input" placeholder="email" type="email" v-model="user.email" v-validate="'email'" name="email"
          :class="{ 'is-invalid': submitted && errors.has('email') || atleastOne }" v-on:keyup="checkEmail"/>
          <span v-if="submitted && errors.has('email')" class="required-msg">{{ errors.first('email') }}</span>
          <span v-if="atleastOne" class="required-msg">Please fill at least email or telephone number</span>
        </div>
        <div class="form-input-wrapper">
          <input class="form-input" placeholder="Telephone (0331234567)" type="telephone" v-model="user.telephone" v-validate="{ regex: /(^1300\d{6}$)|(^1800|1900|1902\d{6}$)|(^0[2|3|7|8]{1}[0-9]{8}$)|(^13\d{4}$)|(^04\d{2,3}\d{6}$)/ }" name="telephone"
          :class="{ 'is-invalid': submitted && errors.has('telephone') || atleastOne }" v-on:keyup="checkTelephone"/>
          <span v-if="submitted && errors.has('telephone')" class="required-msg">{{ errors.first('telephone') }}</span>
        </div>
        <div class="form-input-wrapper">
          <input class="form-input" placeholder="Password (1B2a345@#$%)" type="text" v-model="user.password"
          v-validate="{ required: true, regex: /(?=^.{8,255}$)((?=.*\d)(?=.*[A-Z])(?=.*[a-z])|(?=.*\d)(?=.*[^A-Za-z0-9])(?=.*[a-z])|(?=.*[^A-Za-z0-9])(?=.*[A-Z])(?=.*[a-z])|(?=.*\d)(?=.*[A-Z])(?=.*[^A-Za-z0-9]))^.*/ }" name="password"
          :class="{ 'is-invalid': submitted && errors.has('password') }"/>
          <span v-if="submitted && errors.has('password')" class="required-msg required-msg-password" style="white-space: normal; line-height: 1.2">
            Password should contain at least 8 characters, at least one upper uppercase character, lowercase charater, number and special character.</span>
        </div>
        <div class="form-input-wrapper">
          <input class="form-input" placeholder="Confirm password" v-model="user.repassword" v-validate="{ required: true }" name="repassword" :class="{ 'is-invalid': submitted && errors.has('repassword') }" v-on:keyup="checkRePassword"/>
          <span v-if="passwordMismatch" class="required-msg">Password and confirm password are not matching</span>
          <span v-if="submitted && errors.has('repassword')" class="required-msg">Confirm password is required</span>
        </div>
      </div>
    </div>
    <div class="col-50">
      <div class="form-wrapper">
        <div class="form-input-wrapper">
          <input class="form-input" placeholder="Username" type="text" v-model="user.username" v-validate="{ required: true, regex: /^([a-zA-Z])[a-zA-Z_-]*[\w_-]*[\S]$|^([a-zA-Z])[0-9_-]*[\S]$|^[a-zA-Z]*[\S]$/ }" name="username" :class="{ 'is-invalid': submitted && errors.has('username') }"/>
          <span v-if="submitted && errors.has('username')" class="required-msg required-msg-username">
            Username should match with one of the following patterns <br/>
            username | user123 |user_123 | user-123 | user-name | username123_type
          </span>
        </div>
        <div class="form-input-wrapper">
          <InputButtonAsync class="service-post-button register-account-button" :label="loginButtonLabel" :clickEvent="registerEvent" :buttonState="isLoginButtonDisabled"/>
        </div>
        <div class="form-input-wrapper">
          <label>I already have an account</label>
          <a class="main-btn green-btn material-btn-click-md login-button" v-on:click="goToLogin">Login</a>
        </div>
        <div class="form-input-wrapper">
          <!-- <label>I already have an account</label> -->
          <a class="main-btn green-btn material-btn-click-md fb-button">Login via Facebook</a>
        </div>
        <div class="form-input-wrapper">
          <a class="main-btn green-btn material-btn-click-md cancel-button" v-on:click="backToHomeSearch">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import VeeValidate from 'vee-validate'

import InputButtonAsync from '@/components/Inputs/InputButtonAsync'

Vue.use(VeeValidate)

export default {
  name: 'register',
  components: {
    InputButtonAsync
  },
  data () {
    return {
      loginButtonLabel: 'Register',
      isLoginButtonDisabled: false,
      user: {
        username: '',
        firstname: '',
        lastname: '',
        email: '',
        telephone: '',
        password: '',
        repassword: ''
      },
      submitted: false,
      atleastOne: false,
      passwordMismatch: false
    }
  },
  props: {
    loginForm: {
      type: Object,
      required: true
    }
  },
  methods: {
    registerEvent: function () {
      this.submitted = true
      this.$validator.validate().then(valid => {
        if (valid) {
          if (this.user.password === this.user.repassword) {
            if ((this.user.email.length !== 0) || this.user.telephone.length !== 0) {
              alert('SUCCESS!!')
            } else if ((this.user.email.length === 0) || this.user.telephone.length === 0) {
              this.atleastOne = true
            } else {
              this.atleastOne = false
            }
          } else {

          }
        }
      })
    },
    backToHomeSearch: function () {
      if (this.loginForm.active) {
        this.$set(this.loginForm, 'active', 0)
      } else {
        this.$set(this.loginForm, 'active', 0)
      }
    },
    goToLogin: function () {
      if (this.loginForm.active !== 1) {
        this.$set(this.loginForm, 'active', 1)
      }
    },
    checkEmail: function () {
      if (this.user.email.length !== 0) {
        this.atleastOne = false
      } else {
        this.atleastOne = true
      }
    },
    checkTelephone: function () {
      if (this.user.telephone.length !== 0) {
        this.atleastOne = false
      } else {
        this.atleastOne = true
      }
    },
    checkRePassword: function () {
      if (this.user.repassword) {
        if (this.user.password === this.user.repassword) {
          this.passwordMismatch = false
        } else {
          this.passwordMismatch = true
        }
      } else {
        this.passwordMismatch = false
      }
    }
  }
}
</script>

<style scoped>
.banner-main-form-block {
  width: 250px;
}
.form-input-wrapper {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}
.form-input-wrapper:not(:last-child) {
  margin: 0px 0px 20px 0px;
}
.form-input-wrapper .input-button-container {
  position: relative;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 50px;
  box-shadow: var(--main-shadow);
}
.form-input-wrapper input.form-input {
  display: inline-block;
  width: 100%;
  box-shadow: var(--main-shadow);
  background-color: rgba(255, 255, 255, 0.5) !important;
  border-radius: 50px;
  border: none;
  outline: none;
  padding: 12px 20px;
  box-sizing: border-box;
  color: #868aa6;
}
.form-input-wrapper input.form-input::placeholder {
  color: #868aa6;
}
.form-input-wrapper .input-button-container >>> .input-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  z-index: 2;
  padding: 15px;
}
.form-input-wrapper > label {
  color: #646992;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  display: block;
  margin: -5px 0px 10px 0px;
  padding: 10px 0px 0px 0px;
  border-top: 1px solid #646992;
}
.register-account-button {
  background-color: #e53935;
}
.register-account-button:before {
  background-color: #f95754;
}
.register-account-button:after {
  background-color: #f54743;
}
.fb-button {
  background-color: #3B5998;
}
.banner-main-form-block.register-form-block {
  width: 500px;
}
</style>