<template>
  <div class="login-navigator-screen" @click.stop="removeRegister(false)" v-bind:class="{'email-selected': isEmailSelected}">
    <div class="login-navigator-wrapper">
      <div class="login-navigator-inner-wrapper" @click.stop="nullHandle">
        <h4 class="login-direct-button-wrapper form-title" v-bind:class="{'tada': registerAnimate.item1}">Register via</h4>
        <div class="login-direct-button-wrapper" v-bind:class="{'tada': registerAnimate.item1}" @click="fbAuth">
          <div class="login-direct-button">
            <span class="ti-facebook"></span>
            <label>Facebook</label>
          </div>
        </div>
        <div class="login-direct-button-wrapper" v-bind:class="{'tada': registerAnimate.item2}">
          <div class="login-direct-button">
            <span class="ti-google"></span>
            <label>Google</label>
          </div>
        </div>
        <div class="login-direct-button-wrapper login-email-btn-wrapper" v-bind:class="{'tada': registerAnimate.item3}" @click="selectEmailLogin">
          <div class="login-direct-button">
            <span class="ti-email"></span>
            <label>Email <span @click.stop="setEmailLoginForm(false)" class="link not-visible" v-if="emailAnimate.item0" v-bind:class="{'visible': emailAnimate.item4}">or other login options</span></label>
          </div>
        </div>
        <div class="login-direct-button-wrapper no-account-yet" v-bind:class="{'tada': registerAnimate.item4}" @click="registerFormState(false)">
          <div class="login-direct-button">
            <!-- <span class="ti-hand-stop"></span> -->
            <label>I have an account, <span class="link">Login</span></label>
          </div>
        </div>
      </div>
      <div class="email-login-form" v-if="isEmailForm" @click.stop="nullHandle">
        <div class="login-direct-button-wrapper" v-bind:class="{'tada': emailAnimate.item0}">
          <input class="form-input" autofocus placeholder="Type your username" type="text" v-model="user.username" v-validate="{ required: true, regex: /^[^<>%?=/ ,$&]*$/ }" name="username" :class="{ 'is-invalid': submitted && errors.has('username') || notSupport }"/>
        </div>
        <span v-if="isUsernameExists" class="required-msg existing-msg-username">
          {{user.username + ' is already exists.'}}<br/>
          try with a different username
        </span>
        <div class="login-direct-button-wrapper" v-bind:class="{'tada': emailAnimate.item1}">
          <input class="form-input" autofocus placeholder="Type your email" type="text" v-model="user.email" v-validate="{ required: true, regex: /^[^<>%?=/ ,$&]*$/ }" name="email" :class="{ 'is-invalid': submitted && errors.has('email') || notSupport }"/>
        </div>
        <span v-if="submitted && errors.has('email') || notSupport" class="required-msg required-msg-usernameEmail">
          This cannot keep empty and the following patterns is not allowed <br/>
          Jon.Doe
        </span>
        <span v-if="isEmailExists" class="required-msg required-msg-usernameEmail">
          {{user.email + ' is already exists.'}}<br/>
          try with a different email
        </span>
        <div class="login-direct-button-wrapper" v-bind:class="{'tada': emailAnimate.item2}">
          <input class="form-input" placeholder="Password (1B2a345@#$%)" type="text" v-model="user.password"
        v-validate="{ required: true, regex: /(?=^.{8,255}$)((?=.*\d)(?=.*[A-Z])(?=.*[a-z])|(?=.*\d)(?=.*[^A-Za-z0-9])(?=.*[a-z])|(?=.*[^A-Za-z0-9])(?=.*[A-Z])(?=.*[a-z])|(?=.*\d)(?=.*[A-Z])(?=.*[^A-Za-z0-9]))^.*/ }" name="password"
        :class="{ 'is-invalid': submitted && errors.has('password') }"/>
        </div>
        <div class="login-direct-button-wrapper" v-bind:class="{'tada': emailAnimate.item3}">
          <input class="form-input" placeholder="Confirm password" type="text" v-model="user.repassword"
        v-validate="{ required: true }" name="password" :class="{ 'is-invalid': submitted && errors.has('repassword') }" v-on:keyup="checkRePassword"/>
        </div>
        <span v-if="submitted && errors.has('password')" class="required-msg required-msg-password" style="white-space: normal; line-height: 1.2">
          Password should contain at least 8 characters, at least one upper uppercase character, lowercase charater, number and special character.
        </span>
        <span v-if="passwordMismatch" class="required-msg required-msg-repassword">Password and confirm password are not matching</span>
        <div class="login-direct-button-wrapper service-post-button red" v-bind:class="{'tada': emailAnimate.item4}" @click="register">
          <div class="login-button">
            <!-- <span class="svg-icon exit-icon"></span> -->
            <label>Register</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import VeeValidate from 'vee-validate'
import axios from 'axios'
import VueAxios from 'vue-axios'

import firebase from 'firebase'
import db from './../firebaseInit'

//import FirebaseAuth from 'firebase/firebase-auth'

import InputButtonAsync from '@/components/Inputs/InputButtonAsync'

import { login } from './../../utils/auth.js'

Vue.use(VeeValidate)
Vue.use(VueAxios, axios)

export default {
  name: 'register',
  components: {
    InputButtonAsync
  },
  data () {
    return {
      isEmailSelected: false,
      user: {
        username: '',
        email: '',
        password: '',
        repassword: ''
      },
      submitted: false,
      notSupport: false,
      isEmailForm: false,
      emailAnimate: {
        'item0': false,
        'item1': false,
        'item2': false,
        'item3': false,
        'item4': false,
      },
      passwordMismatch: false,
      createUserApiUrl: this.apiBaseUrl + '/api/Freelancer/CreateFreelancer',
      data: {
        username: 'savindid2',
        email: 'savindi@gmaill.com',
        password: 'abc123@@@'
      },
      headers: {
        'Content-Type': 'text/plain;charset=utf-8'
      },
      isEmailExists: true,
      isUsernameExists: true,
      userParams: {
        email: '',
        username: ''
      }
    }
  },
  props: {
    eventBus: undefined,
    isLogin: {
      type: Boolean,
      default: false
    },
    registerAnimate: {
      type: Object
    },
    apiBaseUrl: {
      type: String
    }
  },
  methods: {
    removeRegister: function (state) {
      this.eventBus.$emit('is-register', state)
    },
    selectEmailLogin: function () {
      let buttonLoopIterationDelay = 200
      this.$set(this.registerAnimate, 'item1', false)
      setTimeout(() => {
        this.$set(this.registerAnimate, 'item2', false)
        setTimeout(() => {
          this.isEmailSelected = true
          setTimeout(() => {
            this.isEmailForm = true
            setTimeout(() => {
              this.setEmailLoginForm(true)
            }, 1000)
          }, 0)
        }, 300)
      }, buttonLoopIterationDelay)
    },
    unselectEmailLogin: function () {
      let buttonLoopIterationDelay = 200
      this.isEmailForm = false
      this.isEmailSelected = false
      setTimeout(() => {
        this.$set(this.registerAnimate, 'item2', true)
        setTimeout(() => {
          this.$set(this.registerAnimate, 'item1', true)
          setTimeout(() => {
            this.removeRegister()
          }, 750)
        }, buttonLoopIterationDelay)
      }, buttonLoopIterationDelay)
    },
    nullHandle: function () {},
    setEmailLoginForm: function (state) {
      if (state) {
        let buttonLoopIterationDelay = 200
        this.emailAnimate.item0 = true
        setTimeout(() => {
          this.emailAnimate.item1 = true
          setTimeout(() => {
            this.emailAnimate.item2 = true
            setTimeout(() => {
              this.emailAnimate.item3 = true
              setTimeout(() => {
                this.emailAnimate.item4 = true
              }, buttonLoopIterationDelay)
            }, buttonLoopIterationDelay)
          }, buttonLoopIterationDelay)
        }, buttonLoopIterationDelay)
      }
      if (!state) {
        let buttonLoopIterationDelay = 200
        this.emailAnimate.item4 = false
        setTimeout(() => {
          this.emailAnimate.item3 = false
          setTimeout(() => {
            this.emailAnimate.item2 = false
            setTimeout(() => {
              this.emailAnimate.item1 = false
              this.$set(this.registerAnimate, 'item1', true)
              setTimeout(() => {
                this.$set(this.registerAnimate, 'item2', true)
                this.emailAnimate.item0 = false
                this.isEmailSelected = false
                this.isEmailForm = false
              }, buttonLoopIterationDelay)
            }, buttonLoopIterationDelay)
          }, buttonLoopIterationDelay)
        }, buttonLoopIterationDelay)
      }
    },
    register: function () {
      this.registerEvent()
    },
    removeEmailLoginForm: function () {
      let buttonLoopIterationDelay = 200
      this.emailAnimate.item2 = true
      setTimeout(() => {
        this.emailAnimate.item3 = true
        setTimeout(() => {
          this.emailAnimate.item2 = false
          setTimeout(() => {
            this.emailAnimate.item1 = false
            setTimeout(() => {
              this.emailAnimate.item0 = false
              setTimeout(() => {
                this.unselectEmailLogin()
              }, buttonLoopIterationDelay)
            }, buttonLoopIterationDelay)
          }, buttonLoopIterationDelay)
        }, buttonLoopIterationDelay)
      }, buttonLoopIterationDelay)
    },
    // registerUserApi () {
    //   debugger
    //   let createUserApiUrl = this.apiBaseUrl + '/api/Freelancer/CreateFreelancer'
    //   let data = {
    //     username: this.user.username,
    //     email: this.user.email,
    //     password: this.user.password
    //   }
    //   let headers = {
    //     'Content-Type': 'application/x-www-form-urlencoded',
    //     'Accept': 'application/json'
    //   }
    //   axios.post(createUserApiUrl, data).then(response => {
    //     debugger
    //     if (response === -1) {
    //       // username already exists
    //       this.isUsernameExists = true
    //     } else if (response === -2) {
    //       // email already exists
    //       this.isEmailExists = true
    //     } else if (response === -10) {
    //       // server error

    //     } else {

    //     }
    //   })
    //   .catch(e => {
    //     debugger
    //     this.errors.push(e)
    //   })
    // },
    registerUserApi () {
      let self = this
      firebase.auth().createUserWithEmailAndPassword(this.user.email, this.user.password)
        .then((user) => {
          alert(`tada... ${user.user.email}`)
          try{
            debugger
            //this.userParams.id = firebase.auth().getInstance().getCurrentUser().getUid();
            // self.userParams.id = firebase.auth().currentUser.uid
            self.userParams.username = self.user.username
            self.userParams.email = firebase.auth().currentUser.email
            self.eventBus.$emit('save-user', self.userParams)
            self.removeRegister(false)
            self.$router.push({ name: 'ProfileCompletion', params: { user: self.userParams } })
          }catch(e){
            debugger
            //var user = firebase.auth().currentUser;

              firebase.auth().currentUser.delete().then(function() {
              alert("Oops! We could not complete your profile. Try next time :-(")
              self.$router.push( {name: 'Home'})
              self.removeRegister(false)
              }).catch(function(error) {
                console.log(error);
              });
          }
        },
        (err) => {
          alert(err.message) 
        })
    },
    // saveUser () {
    //   db.collection("Users").doc(firebase.auth().currentUser.uid).set(this.userParams)
    // },
    registerEvent: function () {
      this.registerUserApi()
      // this.submitted = true
      // this.$validator.validate().then(valid => {
      //   if (valid) {
      //     if (this.user.password === this.user.repassword) {
      //       if (this.user.email.length !== 0) {
      //         // alert('SUCCESS!!')
      //         this.setEmailLoginForm(false)
      //         this.eventBus.$emit('is-register', false)
      //       } else if (this.user.email.length === 0) {
      //       } else {
      //       }
      //     } else {
      //     }
      //   }
      // }).catch(valid => {
      // })
    },
    registerFormState: function (state) {
      this.eventBus.$emit('is-register', state)
      setTimeout(() => {
        this.eventBus.$emit('is-login', !state)
      }, 1000)
    },
    checkRePassword: function () {
      if (this.user.repassword) {
        if (this.user.password === this.user.repassword) {
          this.passwordMismatch = false
        } else {
          this.passwordMismatch = true
        }
      } else {
        this.passwordMismatch = false
      }
    },
    fbAuth () {
      this.eventBus.$emit('fb-auth')
    }
  },
  watch: {
    tagAdd: {
      immediate: true,
      handler: function (val, oldVal) {
        this.isUsernameExists = false
        this.isEmailExists = false
      },
      deep: true
    }
  }
}
</script>

<style scoped>
.login-navigator-screen {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    filter: blur(100px);
    opacity: 0;
    transition: 0.3s;
}
.login-navigator-screen.login-activated {
    filter: blur(0px);
    opacity: 1;
    transition: 1s;
}
.login-navigator-screen:before {
    position: absolute;
    top: -20px;
    left: -20px;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    content: '';
    z-index: -1;
    /* background-image: linear-gradient(to bottom right, #0063B1 50%, #0078D7); */
    background: linear-gradient(to right, #0b1247, #1e3c72);
    filter: blur(10px);
}

.login-direct-button label {
    margin: 0px;
    line-height: initial;
    letter-spacing: 1px;
    font-weight: 400;
}

.login-navigator-inner-wrapper {
    position: relative;
    box-shadow: var(--main-shadow);
    background-color: var(--main-bg-color);
    display: inline-block;
    width: 100%;
    padding: 20px;
    border-radius: 4px;
    overflow: hidden;
    min-height: 218px;
    transition: 0.2s;
}
/* 
.login-navigator-screen.email-selected .login-navigator-inner-wrapper {
    min-height: 340px;
    transition: 0.2s;
} */

.login-navigator-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 300px;
    padding: 0px 15px;
}
.login-direct-button-wrapper {
    position: relative;
    width: 100%;
    border: 1px solid #fff;
    color: #fff;
    padding: 0px 20px;
    border-radius: 50px;
    min-height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transform: translateX(100%);
    opacity: 0;
    transition: 0.5s;
    overflow: hidden;
}

.login-direct-button-wrapper * {
    cursor: pointer;
}

.login-direct-button-wrapper:not(:last-child) {
    margin-bottom: 10px;
}

.login-direct-button > span {
    width: 30px;
    display: inline-block;
}
.login-direct-button-wrapper.tada {
    transform: translateX(0%);
    opacity: 1;
    transition: 0.5s;
}
.login-direct-button-wrapper.no-account-yet {
    padding: 0px;
    min-height: auto;
    border: none;
    margin-top: 20px;
    display: inline-block;
    width: 100%;
}
.login-navigator-screen.email-selected .login-navigator-inner-wrapper .login-direct-button-wrapper.no-account-yet {
    margin-top: 80px;
}
.login-direct-button {
    font-size: 12px;
}
.login-direct-button span, .login-direct-button label {
    font-weight: 300;
}
/* login animation begins */
.login-navigator-screen.email-selected > .login-navigator-wrapper > .login-navigator-inner-wrapper > .login-email-btn-wrapper {
    transform: translateY(-140px);
    animation-name: email-button-transform;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}
.login-navigator-screen.email-selected .login-direct-button-wrapper.login-email-btn-wrapper.tada .login-direct-button,
.login-navigator-screen.email-selected .login-direct-button-wrapper.login-email-btn-wrapper.tada .login-direct-button *:not(.link) {
  cursor: default !important;
}
@keyframes email-button-transform {
  10% {
    border: 1px solid rgba(255, 255, 255, 0);
  }
  100% {
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 0px;
    min-height: 0px;
    margin-bottom: 60px;
  }
}
.login-navigator-screen.email-selected > .login-navigator-wrapper > .login-navigator-inner-wrapper > .login-email-btn-wrapper > .login-direct-button > span {
  animation-name: email-button-transform-2;
  animation-duration: 0.75s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes email-button-transform-2 {
  100% {
    opacity: 0;
    width: 0px;
    overflow: hidden;
  }
}
/* login animation ends */
/* email form begins */

.email-login-form {
  position: absolute;
  top: 0px;
  left: 15px;
  width: calc(100% - 30px);
  height: 100%;
  padding: 0px 20px 20px 20px;
  margin-top: 50px;
  box-sizing: border-box;
}
.login-navigator-screen.email-selected .email-login-form {
  top: 0px;
  height: calc(100% - 100px);
  transition: 0.3s;
}
.login-direct-button-wrapper > input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: transparent !important;
  border: none !important;
  color: #fff;
  padding: 0px 20px;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
  box-sizing: border-box;
}
.login-direct-button-wrapper > input::placeholder {
  color: #fff;
}
.login-button {
  position: relative;
  z-index: 1;
  text-align: center;
  width: 100%;
}
.login-button > label {
  font-weight: 300;
  margin: 0px;
  font-size: 12px;
}
/* email form ends */
.login-direct-button-wrapper.form-title {
  margin: 0px 0px 10px 0px !important;
  padding: 0px 0px 5px 0px;
  min-height: initial;
  border: none;
  border-radius: 0px;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  font-weight: 300;
  cursor: default;
}
.login-direct-button-wrapper > input {
  cursor: text !important;
}
.link {
  text-decoration: underline;
  cursor: pointer;
}
.not-visible {
  opacity: 0;
  transition: 0.2s;
}
.visible {
  opacity: 1;
  transition: 0.2s;
}
.login-direct-button-wrapper.service-post-button {
  border: none;
}
.required-msg.required-msg-repassword {
  top: 160px;
  left: -210px;
}
span.required-msg.existing-msg-username {
  left: -210px;
}
</style>