<template>
  <div class="settings-page">
    <settings-header></settings-header>
    <div class="container">
      <div class="row white-box settings-page-inner-wrapper">
        <div class="settings-list">
          <div class="search-settings">
            <search-chat></search-chat>
              <div class="settings-single-item-list-wrapper">
                Profile Settings
              </div>
              <div class="settings-single-item-list-wrapper">
                Privacy Settings
              </div>
              <div class="settings-single-item-list-wrapper">
                Security Settings
              </div>
              <div class="settings-single-item-list-wrapper">
                Account Settings
              </div>
          </div>
        </div>
        <component class="settings-item-details-wrapper" v-bind:is="currentTabComponent"></component>
      </div>
    </div>
  </div>
</template>

<script>
import vue from 'vue'
import axios from 'axios'
import router from 'vue-router'
import db from '@/components/firebaseInit'
import Header from '@/components/Includes/Header'
import HomeBanner from '@/components/Banners/HomeBanner'
import Feed from '@/components/Pages/Feed'
import Search from "@/components/Includes/Search";
import ProfileSettings from "@/components/Pages/Settings/Sub-Settings/Profile-Settings";
import { log } from 'util';
export default {
  name: 'Home',
  components: {
    Header,
    HomeBanner,
    Feed,
    "search-chat": Search,
    "settings-header":Header,
    ProfileSettings
  },
  data () {
    return {
      leaderBoardApiUrl: this.apiBaseUrl + '/api/LeaderBoard/LeaderBoard',
      homePostsFeedApiUrl: this.apiBaseUrl + '/api/HomePostsFeed/Feeds',
      data: {},
      headers: {
        'Content-Type': 'application/json'
      },
      topRatedFreelancers: [],
      topCategories: [],
      topServices: [],
      posts: [],
      homeBanner: {
        'height': 0
      },
      currentTabComponent: 'ProfileSettings'
    }
  },
  props: {
    eventBus: undefined,
    comments: {
      type: Array
    },
    isLoggedIn: {
      type: Boolean
    },
    apiBaseUrl: {
      type: String
    },
    isHomeBannerScrolled: {
      type: Boolean
    },
    isMobile: {
      type: Boolean
    }
  },
  methods: {
    gotoMyProfile: function () {
      this.$router.push('Profile')
    },
  },
  computed: {
  },
  mounted () {
    if (this.eventBus) {
      this.eventBus.$emit('check-login')
    }
  },
  created() {
    axios.get(this.leaderBoardApiUrl, this.data, this.headers).then(response => {
      this.topRatedFreelancers = response.data.topFreelancers
      this.topCategories = response.data.topCategories
      this.topServices = response.data.topServices
    })
    .catch(e => { 
      this.errors.push(e)
    })
    axios.get(this.homePostsFeedApiUrl, this.data, this.headers).then(response => {
      this.posts = response.data
    })
    .catch(e => { 
      this.errors.push(e)
    })
  }
}
</script>

<style scoped>
.settings-page {
    margin-top: 80px;
}
.settings-list{
  width: 295px;
  display: inline-flex;
  font-size: 10px;
  border-right: 1px solid #e7e7ed;
  min-height: calc(100vh - 110px);
}
.search-settings .search-block {
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.search-settings >>> .search-block input.search-field {
  width: 100%;
  max-width: 224px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #c4c4c4;
  padding: 18px 20px 18px 0px;
}
.setting-item-header .search-settings >>> .search-block .search-button {
  justify-content: flex-end;
}
.settings-single-item-list-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 40px;
  box-sizing: border-box;
  transition: 0.2s;
  height: 60px;
  font-size: 10px;
  color: #0b1247;
  font-weight: bold;
}
.settings-item-details-wrapper{
  float: right;
  width: calc(100% - 295px);
  font-size: 10px;
  padding: 0px 40px 20px 40px;
}
.settings-page-inner-wrapper {
  padding: 0px;
  display: flex;
}
</style>
