<template>
  <ul>
    <li>asdasfg</li>
  </ul>
</template>

<script>
export default {
  name: 'Requests',
  data () {
    return {
    }
  },
  props: {
  },
  methods: {
  },
  computed: {
  }
}
</script>

<style scoped>
</style>