<template>
    <div class="post-card-response-container">
      <Like :likeEvent="likePost" :likeState="likeState" :likeCount="likeCount" :whoElseLiked="whoElseLiked"/>
      <div class="post-card-response-comment-share-container">
        <CommentTrigger :togglePostComment="togglePostComment" :commentCount="commentCount"/>
        <ShareTrigger :toggleShareEvent="toggleShareEvent" :shareTriggerState="shareTriggerState" :shareCount="shareCount"/>
        <saveTrigger :saveEvent="savePost" :saveState="saveState"/>
      </div>
    </div>
</template>

<script>
import Like from '@/components/Includes/Like'
import CommentTrigger from '@/components/Includes/CommentTrigger'
import ShareTrigger from '@/components/Includes/ShareTrigger'
import SaveTrigger from '@/components/Includes/SaveTrigger'
export default {
  name: 'post-response',
  components: {
    Like,
    CommentTrigger,
    ShareTrigger,
    SaveTrigger
  },
  data () {
    return {
      whoElseLiked: true
    }
  },
  props: {
    togglePostComment: undefined,
    likePost: undefined,
    likeCount: {
      type: Number,
      default: 0
    },
    likeState: {
      type: Boolean,
      default: false
    },
    commentCount: {
      type: Number
    },
    toggleShareEvent: undefined,
    shareTriggerState: {
      type: Boolean,
      default: false
    },
    shareCount: {
      type: Number
    },
    savePost: undefined,
    saveState: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    // likePost: function () {
    //   console.log('this.post')
      // if(this.likeState) {
      //   this.likeState = false
      //   this.likeCount -= 1
      // } else {
      //   this.likeState = true
      //   this.likeCount += 1
      // }
    // }
  },
  mounted () {
    // console.log(this.likeCount)
  }
}
</script>

<style scoped>
.post-card-response-like-wrapper {
  position: relative;
  display: inline-block;
  font-size: 12px;
}
.post-card-response-like-wrapper > .not-liked,
.post-card-response-like-wrapper > .liked,
.post-card-response-like-wrapper > .unliked {
  margin: 10px 10px 0px 0px;
  user-select: none;
}
.post-card-response-like-wrapper > .not-liked:hover,
.post-card-response-like-wrapper > .liked:hover,
.post-card-response-like-wrapper > .unliked:hover {
  cursor: pointer;
}
.post-card-response-like-wrapper > .not-liked {
  text-shadow: 0px 0px 10px rgba(11, 18, 71, 0.75);
  color: #fff;
}
.post-card-response-like-wrapper > .liked,
.post-card-response-like-wrapper > .unliked {
  color: var(--main-bg-color);
  text-shadow: 0px 0px 10px rgba(11, 18, 71, 0.75);
}
.post-card-response-like-count {
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: right;
  color: #646992;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.who-else-liked-wrapper {
  width: 100%;
  max-width: 150px;
  line-height: 15px;
  margin: 0px 0px 0px 10px;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  position: relative;
  bottom: 0px;
  color: #646992;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  overflow: hidden;
  display: -webkit-inline-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
</style>