<template>
  <div class="post-card-container white-box">
    <div class="post-card-header-container">
      <content-placeholders :rounded="true">
        <content-placeholders-heading :img="true" />
      </content-placeholders>
    </div>
    <div class="post-card-body-container">
      <div class="post-card-post-type post-card-post-type-multimedia" v-if="postType === 1">
        <content-placeholders :rounded="true">
          <content-placeholders-text />
          <content-placeholders-img />
        </content-placeholders>
      </div>
      <div class="post-card-post-type post-card-post-type-plain-text" v-if="postType === 2">
        <content-placeholders :rounded="true">
          <content-placeholders-text />
        </content-placeholders>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import VueContentPlaceholders from 'vue-content-placeholders'
Vue.use(VueContentPlaceholders)

export default {
  name: 'post-card-placeholder',
  components: {
  },
  props: {
    postType: {
      type: Number
    }
  },
  data () {
    return {
    }
  },
  methods: {
  },
  computed: {
  },
  mounted() {
    // console.log(this.post)
  }
}
</script>

<style scoped>
.post-card-footer-container:empty {
  display: none;
}
.post-card-footer-container {
  position: relative;
  display: inline-block;
  width: calc(100% + 40px);
  box-sizing: border-box;
  margin: 20px -20px -20px -20px;
  background-color: #f9f9f9;
  overflow: hidden;
  /* box-shadow: inset 0px 5px 10px 0px rgba(11,18,71,0.125); */
}
.post-card-footer-container:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 0px;
  background-color: transparent;
  top: -1px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 1);
}
.service-post-text-container {
  margin: 10px 0px 0px 0px;
}
</style>