<template>
  <div class="post-card-post-type-text-wrapper">
    <div class="post-card-post-type-text-inner">
      <div class="post-card-post-type-text" v-bind:class="{'post-text-visible': postReadability}" v-if="postDescription" v-html="postDescription">
        <!-- <span class="big-o">L</span>
        orem ipsum dolor sit amet, <b>consectetuer</b> adipiscing elit. 
        <i>Aenean</i> commodo ligula eget dolor. Aenean massa. Cum sociis natoque <u>penatibus</u> 
        et magnis dis parturient montes, nascetur ridiculus mus. <div class="all-caps">Donec</div> 
        quam felis, <div class="all-caps"><b>ultricies</b></div> nec. imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis
        Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. DONEC quam felis, ULTRICIES nec. imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis -->
      </div>
      <div class="post-text-read-more-btn" v-on:click="togglePostReadability">Read {{postReadabilityBtnText}}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'post-text',
  data () {
    return {
      postReadability: false,
      postReadabilityBtnText: 'more'
    }
  },
  props: {
    postDescription: {
      type: String
    }
  },
  methods: {
    togglePostReadability: function () {
      if(this.postReadability) {
        this.postReadability = false
        this.postReadabilityBtnText = 'more'
      } else {
        this.postReadability = true
        this.postReadabilityBtnText = 'less'
      }
    }
  }
}
</script>

<style scoped>
</style>