<template>
    <li v-bind:class="{'comment-delete-animation': isDeleteAnimation}">
      <div class="post-card-comment">
        <div class="post-card-comment-head">
          <div class="post-more-btn-container" v-on:click="toggleCommentMore">
            <span class="post-more-btn">
              <i class="material-icons">more_horiz</i>
            </span>
          </div>
          <!-- post more window -->
          <div class="widget-more-overlay" v-on:click="toggleCommentMore" v-if="isCommentMore"></div>
          <div class="widget-more-wrapper white-box" v-if="isCommentMore">
            <ul>
              <li v-on:click="deleteComment(comment.commentId, commentIndex)">Delete</li>
            </ul>
          </div>
          <!-- post more window -->
          <div class="freelancers-overview-container">
            <div class="freelancer-img-block">
              <div class="freelancer-img" v-bind:style="{ backgroundImage: `url(${require('./../../assets/img/' + comment.userDp)})` }"></div>
            </div>
            <div class="post-published-time-block">
              <div class="freelancer-name">{{comment.firstname + ' ' + comment.lastname}}</div>
              <!-- <div class="post-published-time">Commented {{replyTime}} hours ago -->
              <div class="post-published-time">{{replyTime}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="post-card-comment-body">
        <div class="post-card-comment-text" v-html="comment.comment">
        </div>
        <div class="post-card-comment-actions-wrapper">
          <!-- <div class="post-card-comment-action" v-if="comment.reply"> -->
          <div class="post-card-comment-action">
            <div class="post-card-response-reply-count" v-bind:style="[replyCount > 99 ? {'right': '-7px'} : {'right': '0px'}]" v-if="replyCount != 0">{{replyCount > 99 ? '99+' : replyCount}}</div>
            <i class="material-icons post-card-comment-action-reply" v-on:click="toggleReplies">reply</i>
          </div>
          <div class="post-card-comment-action">
            <Like :likeEvent="likeComment" :likeState="comment.liked" :likeCount="comment.totalLikes"/>
          </div>
        </div>
      </div>
      <div v-if="showReplyBox">
        <div class="post-card-comment-ul-reply-li">
          <InputComment :setComment="addReply" :label="replyButtonLabel" :isButtonDisabled="isReplyButtonDisabled"/>
        </div>
        <div class="reply-comment-box-wrapper" v-for="(reply, replyCommentindex) in comment.reply" v-bind:key="replyCommentindex">
          <post-comment-ul class="reply-comment-box" :comments="comment.reply" :commentIndex="replyCommentindex" :comment="reply"></post-comment-ul>
        </div>
      </div>
    </li>
</template>

<script>
import InputComment from '@/components/Inputs/InputComment'
import Like from '@/components/Includes/Like'

import {goodTimeDiff} from './../../customFunctions/good-time.js'

export default {
  name: 'post-comment-ul',
  components: {
    InputComment,
    Like
  },
  data () {
    return {
      userImage: 'user.jpg',
      // replyCount: 12,
      showReplyBox: false,
      replyButtonLabel: 'reply',
      isReplyButtonDisabled: false,
      isCommentMore: false,
      isDeleteAnimation: false
    }
  },
  props: {
    comment: Object,
    comments: {
      type: Array,
      required: true
    },
    commentIndex: {
      type: Number,
      required: true
    }
  },
  methods: {
    toggleReplies: function () {
      if (this.showReplyBox) {
        this.showReplyBox = false
      } else {
        this.showReplyBox = true
      }
    },
    likeComment: function () {
      if (this.comment.liked) {
        this.comment.liked = false
        if (this.comment.totalLikes) {
          this.comment.totalLikes -= 1
        } else {
          this.comment.totalLikes = 0
        }
      } else {
        this.comment.liked = true
        if (this.comment.totalLikes) {
          this.comment.totalLikes += 1
        } else {
          this.comment.totalLikes = 1
        }
      }
    },
    addReply: function (replyModel) {
      var today = new Date()
      var replyObject = {
        'postId': this.comment.postId,
        'commentId': 1,
        'userId': 1,
        'username': 'g.sandamal',
        'firstname': 'gayan',
        'lastname': 'sandamal',
        'liked': true,
        'totalLikes': 5,
        'comment': replyModel,
        'time': today,
        'userDp': 'user.jpg',
      }
      this.replyButtonLabel = 'replying...'
      this.isReplyButtonDisabled = true
      setTimeout(() => {
        this.replyButtonLabel = 'reply'
        this.isReplyButtonDisabled = false
        if (this.comment.reply) {
          this.comment.reply.push(replyObject)
        } else {
          var replyArray = [replyObject]
          this.$set(this.comment, 'reply', replyArray)
        }
      }, 1000)
    },
    toggleCommentMore: function () {
      if (this.isCommentMore) {
        this.isCommentMore = false
      } else {
        this.isCommentMore = true
      }
    },
    deleteComment: function (id, index) {
      this.toggleCommentMore()
      var self = this
      this.isDeleteAnimation = true
      setTimeout(() => {
        self.comments.splice(index, 1)
        self.isDeleteAnimation = false
      }, 1200)
    }
  },
  computed: {
    replyCount: function () {
      if (this.comment.reply) {
        return this.comment.reply.length
      } else {
        return 0
      }
    },
    replyTime: function () { 
      var time = this.comment.time
      var timeSettings = {
        'from': undefined,
        'to': time,
        'prefix': 'Commented',
        'suffix': 'ago'
      }
      var timeDiff = goodTimeDiff(timeSettings)
      return timeDiff
    }
  },
  mounted() {
    // console.log(a)
  }
}
</script>

<style scoped>
.post-card-comment-head {
  position: relative;
}
.post-card-comment-ul {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}
.post-card-comment-ul .post-card-comment-body {
  margin: 20px 0px 20px 0px;
}
.post-card-comment-ul > li {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 20px 20px 0px 20px;
  box-sizing: border-box;
  border-left: 1px solid #cac6c6;
}
.reply-comment-box > li {
  padding: 20px 0px 0px 20px;
}
.post-card-comment-text {
  color: #646992;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding: 0px;
  margin: 0px 0px 0px 0px;
  line-height: 1.4;
  width: calc(100% - 90px);
}
.post-card-comment-text, .post-card-comment-actions-wrapper {
  display: inline-block;
}
.post-card-comment-action {
  position: relative;
  float: left;
  width: 40px;
  height: 40px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.post-card-comment-body {
  position: relative;
  margin: 20px 0px 0px 0px;
}
.post-card-comment-actions-wrapper {
  position: absolute;
  top: -11px;
  right: 0px;
}
.post-card-response-like-container {
  position: relative;
  top: -4px;
  right: 0px;
}
.post-card-comment-action-reply {
  user-select: none;
  color: var(--main-bg-color);
  text-shadow: 0px 0px 10px rgba(11, 18, 71, 0.25);
  font-size: 26px;
  cursor: pointer;
}
.reply-comment-box-wrapper {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 0px 0px 20px;
  border-left: 1px solid #cac6c6;
}
.post-card-comment-action:not(:last-child) {
  margin: 0px 10px 0px 0px;
}
.post-card-response-reply-count {
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: right;
  color: #646992;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.post-card-comment-ul .post-card-comment-ul-reply-li {
  padding: 0px;
}
.post-card-comment-ul .post-card-comment-ul-reply-li > .post-card-input-comment-container {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 20px 0px;
}
</style>