<template>
  <div class="post-card-container white-box">
    <div class="post-card-header-container no-after-border">
      <div class="publisher-container">
        <div class="freelancers-overview-container">
          <UserImage :userImage="profilePicture"/>
          <div class="publish-methods-wrapper">
            <div class="publish-methods">
              <p>publish</p>
              <ul>
                <li v-bind:class="{'selected': publishType === 'post'}" v-on:click="selectPublishType('post')">a Post</li>
                <li v-bind:class="{'selected': publishType === 'service'}" v-on:click="selectPublishType('service')">a Service</li>
                <!-- <li>an Advertisement</li> -->
                <li v-bind:class="{'selected': publishType === 'offer'}" v-on:click="selectPublishType('offer')">an Offer</li>
                <li v-bind:class="{'selected': publishType === 'achievement'}" v-on:click="selectPublishType('achievement')">an Achievement</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="post-card-body-container">
      <textarea class="post-publish-input-textarea" :placeholder="placeholderText" autofocus v-model="publishContent" v-bind:style="{'height': textareaMinHeight + 'px'}"></textarea>
      <input style="display: none;"  type="file"/>
      <div class="post-publish-controllers">
        <!-- <InputCheckbox :eventBus="eventBus" v-model="isPostExpire" :checkboxLabel="isPostExpire ? 'This will expire in ' : 'Make this expire'"></InputCheckbox> -->
        <div class="expire-checkbox-wrapper">
          <div class="checkbox-wrapper">
            <input class="inputcheck" id="expireCheckbox" type="checkbox" v-model="isPostExpire" style="display: none;"/>
            <label class="checkbox" for="expireCheckbox">
              <span>
                <svg width="12px" height="10px" viewbox="0 0 12 10">
                  <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                </svg>
              </span>
              <span class="checkbox-label">{{isPostExpire && date !== '' ? 'This will expire on ' : 'Make this expire'}}</span>
            </label>
          </div>
          <!-- https://github.com/mariomka/vue-datetime -->
          <datetime v-model="date" :type="'datetime'" :input-id="'setPostExpire'" :input-class="'set-post-expire'" :min-datetime="nowInISOString" ref="fileInput"></datetime>
        </div>
        <button class="post-publish-button service-post-button"><span>Publish</span></button>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import VueContentPlaceholders from 'vue-content-placeholders'
import { Datetime } from 'vue-datetime'
import UserImage from '@/components/Includes/UserImage'
import InputCheckbox from '@/components/Inputs/InputCheckbox'
import 'vue-datetime/dist/vue-datetime.css'

Vue.use(VueContentPlaceholders)

export default {
  name: 'post-publisher',
  components: {
    UserImage,
    InputCheckbox,
    datetime: Datetime
  },
  data () {
    return {
      publishType: 'post',
      publishContent: '',
      placeholderText: 'Share your thoughts with us...',
      isPostExpire: false,
      date: ''
    }
  },
  props: {
    eventBus: {
      type: undefined
    },
    profilePicture: {
      type: String
    }
  },
  methods: {
    selectPublishType: function (type) {
      this.publishType = type
      if (this.publishType === 'post') {
        this.placeholderText = 'Share your thoughts with us...'
      } else if (this.publishType === 'service') {
        this.placeholderText = 'Great! Let everyone know about your service'
      } else if (this.publishType === 'offer') {
        this.placeholderText = 'Wow! by giving an offer you can easily gain customers'
      } else if (this.publishType === 'achievement') {
        this.placeholderText = 'Yay... a celebration'
      } else {}
    },
    handleMove (event) {
      var elementExists = document.getElementsByClassName('vdatetime-overlay')
      if (elementExists.length === 0) {
        if (this.date === "") {
          document.getElementById('expireCheckbox').checked = false
          this.isPostExpire = false
        }
      } else {

      }
    }
  },
  computed: {
    textareaMinHeight: function () {
      var enteredText = this.publishContent
      var numberOfLineBreaks = (enteredText.match(/\n/g)||[]).length
      if (numberOfLineBreaks > 0) {
        return 30 + (20 * numberOfLineBreaks)
      } else {
        return 35
      }
    },
    nowInISOString: function () {
      var d = new Date()
      var n = d.toISOString()
      return n
    }
  },
  mounted() {
  },
  created () {
    window.addEventListener('mousemove', this.handleMove)
  },
  destroyed () {
    window.removeEventListener('mousemove', this.handleMove)
  },
  watch: {
    isPostExpire: {
      handler: function (val, oldVal) {
        var self = this
        var event = new Event('click')
        var element = document.getElementById('setPostExpire')
        if (val) {
          element.dispatchEvent(event)
          element.classList.add('show')
        } else {
          element.classList.remove('show')
        }
      },
      deep: true
    }
  }
}
</script>

<style scoped>
.post-publish-controllers {
  margin: 10px 0px 0px 0px;
}
.publish-methods-wrapper {
  float: left;
  width: calc(100% - 36px);
}
.publish-methods p, .publish-methods ul {
  float: left;
}
.publish-methods ul {
  display: block;
  margin-bottom: 0px;
}
.publish-methods ul li {
  float: left;
  font-family: 'Roboto', sans-serif;
  color: var(--main-bg-color);
  font-size: 13px;
  font-weight: 400;
  margin: 0px 10px 0px 0px;
  line-height: 1;
  text-transform: capitalize;
  transition: 0.3s;
}
.publish-methods ul li.selected {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.3s;
}
.publish-methods ul li:hover {
  cursor: pointer;
}
.publish-methods ul li:not(:last-child):after {
  content: '|';
  display: inline-block;
  margin: 0px 0px 0px 10px;
  position: relative;
  top: -1px;
  cursor: default;
}
.publish-methods p {
  font-family: 'Roboto', sans-serif;
  color: #646992;
  font-size: 13px;
  font-weight: 400;
  margin: 0px;
  line-height: 1;
  text-transform: capitalize;
  margin: 0px 10px 0px 0px;
}
.publish-methods {
  display: inline-block;
  margin: 0px 0px 0px 15px;
}
.post-publish-input-textarea {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #8588a3;
  padding: 0px 0px;
  min-height: 40px;
  margin: 0px 0px 15px 0px;
  resize: none;
}
.post-card-header-container {
  margin: 0px 0px 0px 0px;
}
.post-publish-controllers {
  color: #8588a3;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.expire-checkbox-wrapper {
  display: flex;
  align-items: center;
}

.post-expiration-bar,
.post-card-body-container >>> .set-post-expire {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #283074;
  font-weight: 400;
  margin: 0px 0px 0px 5px;
  border: none;
}

.post-card-body-container >>> .vdatetime .vdatetime-popup__header,
.post-card-body-container >>> .vdatetime .vdatetime-calendar__month__day--selected > span > span, .vdatetime-calendar__month__day--selected:hover > span > span {
  background-color: var(--main-bg-color)
}
.post-card-body-container >>> .vdatetime .vdatetime-popup__actions__button,
.post-card-body-container >>> .vdatetime .vdatetime-time-picker__item--selected {
  color: var(--main-bg-color)
}
.post-card-body-container >>> .set-post-expire {
  display: none;
}
.post-card-body-container >>> .set-post-expire.show {
  display: block;
}
.post-publish-button {
  padding: 15px;
}
button.post-publish-button.service-post-button:before {
  width: 200%;
  left: 0%;
}
button.post-publish-button.service-post-button:hover:before {
  left: -170%;
}
button.post-publish-button.service-post-button:hover:after {
  width: 100%;
  right: -100%;
}
</style>