<template>
  <div class="post-card-comment-container" v-if="togglePostCommentState">
    <InputComment :setComment="addComment" :label="commentButtonLabel" :isButtonDisabled="isCommentButtonDisabled"/>
    <div class="post-card-comment-wrapper">
    <ul class="post-card-comment-ul">
      <PostCommentUl v-for="(comment, index) in comments" v-bind:key="index" :comments="comments" :commentIndex="index" :comment="comment"/>
    </ul>
    </div>
  </div>
</template>

<script>
import InputComment from '@/components/Inputs/InputComment'
import PostCommentUl from './PostCommentUl'
export default {
  name: 'post-comment',
  components: {
    InputComment,
    PostCommentUl
  },
  data () {
    return {
      userImage: 'user.jpg',
      commentButtonLabel: 'comment',
      isCommentButtonDisabled: false
    }
  },
  props: {
    postId: {
      type: Number,
      default: 0
    },
    togglePostCommentState: {
      type: Boolean,
      required: true,
      default: false
    },
    comments: {
      type: Array
    }
  },
  methods: {
    addComment: function (commentModel) {
      // console.log(commentModel)
      var today = new Date()
      var commentObject = {
        'postId': 1,
        'commentId': 1,
        'userId': 1,
        'username': 'g.sandamal',
        'firstname': 'gayan',
        'lastname': 'sandamal',
        'liked': true,
        'totalLikes': 5,
        'comment': commentModel,
        'time': today,
        'userDp': 'user.jpg',
      }
      this.commentButtonLabel = 'sending...'
      this.isCommentButtonDisabled = true
      setTimeout(() => {
        this.commentButtonLabel = 'comment'
        this.isCommentButtonDisabled = false
        this.comments.push(commentObject)
      }, 1000)
    }
  },
  mounted() {
  }
}
</script>

<style scoped>
.post-card-comment-container {
}
.post-card-comment-container:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-color: #646992;
}
.post-card-comment-wrapper {
  padding: 20px 0px 20px 20px;
}
</style>