<template>
  <div v-bind:id="'post-id-'+post.postId" v-if="isPostExpired" class="post-card-container white-box" v-bind:class="{'selected-post': onTop, 'delete-animation': isDeleteAnimation}" v-bind:style="{postSize}">
    <div class="post-card-header-container">
      <div class="publisher-container">
        <div class="freelancers-overview-container">
          <UserImage :userImage="post.user.userDp + '.jpg'"/>
          <div class="post-published-time-block">
            <div class="freelancer-name">{{post.user.username}} <p>published <span>a {{postTypeName}}</span></p></div>
            <div class="post-published-time">{{publishedTime}}
            <p class="post-expiration-indicator">{{expireTime}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="post-more-btn-container" v-on:click="togglePostMore">
        <span class="post-more-btn">
          <i class="material-icons">more_horiz</i>
        </span>
      </div>
      <!-- post more window -->
      <div class="widget-more-overlay" v-on:click="togglePostMore" v-if="isPostMore"></div>
      <div class="widget-more-wrapper white-box" v-if="isPostMore">
        <ul>
          <li v-on:click="deletePost(post.post.postId, postIndex)">Delete</li>
        </ul>
      </div>
      <!-- post more window -->
    </div>
    <div class="post-card-body-container" v-bind:class="{'on-top': onTop}">
      <div class="post-card-post-type post-card-post-type-plain-text" v-if="parseInt(post.post.postType) === 1">
        <PostText :postDescription="post.post.description"/>
      </div>
      <div class="post-card-post-type post-card-post-type-multimedia" v-if="parseInt(post.post.postType) === 2">
        <PostText :postDescription="post.post.description"/>
        <carousel  class="post-slider"
          :navigationEnabled="true"
          :paginationEnabled="false" 
          :autoplay="true"
          :loop="true"
          :autoplayTimeout=4000
          :perPage="1" 
          :navigationNextLabel='`<div class="slider-navigation slider-navigation-next"><i class="material-icons">chevron_right</i></div>`'
          :navigationPrevLabel='`<div class="slider-navigation slider-navigation-prev"><i class="material-icons">chevron_left</i></div>`'>
          <slide v-for="(sliderImage, index) in post.post.slider" v-bind:key="index">
            <div class="post-slide" v-bind:id="'post-slide-' + index" :style="{'background-image': `url(${require('./../../assets/img/' + sliderImage + '.jpg')})`}"></div>
          </slide>
        </carousel>
      </div>
      <div class="post-card-post-type post-card-post-type-service" v-if="parseInt(post.post.postType) === 3">
        <div class="service-post-description-container">
          <div class="service-post-description-wrapper">
            <div class="service-post-description">I will {{post.post.serviceTitle}}</div>
            <div class="service-post-startin-price">starting at <span>Rs.{{post.post.servicePrice}}</span></div>
          </div>
          <button class="service-post-button"><span>Send your best offer</span></button>
        </div>
        <PostText class="service-post-text-container" v-if="post.post.description" :postDescription="post.post.description"/>
        <carousel  class="post-slider"
          :navigationEnabled="true"
          :paginationEnabled="false" 
          :autoplay="true"
          :loop="true"
          :autoplayTimeout=4000
          :perPage="1" 
          :navigationNextLabel='`<div class="slider-navigation slider-navigation-next"><i class="material-icons">chevron_right</i></div>`'
          :navigationPrevLabel='`<div class="slider-navigation slider-navigation-prev"><i class="material-icons">chevron_left</i></div>`'>
          <slide v-for="(sliderImage, index) in post.post.slider" v-bind:key="index">
            <div class="post-slide" v-bind:id="'post-slide-' + index" :style="{'background-image': `url(${require('./../../assets/img/' + sliderImage + '.jpg')})`}"></div>
          </slide>
        </carousel>
      </div>
      <PostResponse
      :togglePostComment="togglePostComment"
      :likePost="likePost"
      :likeCount="post.totalLikes"
      :likeState="post.liked"
      :commentCount="post.totalComments"
      :shareTriggerState="triggerShare"
      :shareCount="post.totalShares"
      :toggleShareEvent="toggleShareEvent"
      :savePost="savePost"
      :saveState="post.saved"
      />
    </div>
    <div class="post-card-footer-container">
      <PostComment :postId="post.post.postId" :togglePostCommentState="togglePostCommentState" :comments="comments"/>
    </div>
  </div>
</template>

<script>
import UserImage from '@/components/Includes/UserImage'
import PostText from '@/components/Post/PostText'
import PostResponse from '@/components/Post/PostResponse'
import PostComment from '@/components/Post/PostComment'
import { Carousel, Slide } from "vue-carousel"
import bulmaCarousel from "bulma-carousel"

import {goodTimeDiff} from './../../customFunctions/good-time.js'

export default {
  name: 'post-card',
  components: {
    PostText,
    PostResponse,
    PostComment,
    UserImage
  },
  data () {
    return {
      userImage: 'user.jpg',
      toggleComment: false,
      togglePostCommentState: false,
      triggerShare: false,
      onTop: false,
      isPostMore: false,
      postSize: undefined,
      isDeleteAnimation: false
    }
  },
  props: {
    comments: {
      type: Array
    },
    posts: {
      type: Array,
      required: true
    },
    post: {
      type: Object,
      required: true
    },
    postIndex: {
      type: Number,
      required: true
    }
  },
  methods: {
    togglePostComment: function () {
      if(this.togglePostCommentState) {
        this.togglePostCommentState = false
      } else {
        this.togglePostCommentState = true
      }
    },
    toggleShare: function () {
      if (this.triggerShare) {
        this.triggerShare = false
        this.onTop = false
      } else {
        this.triggerShare = true
        this.onTop = true
      }
    },
    toggleShareEvent: function () {
      this.toggleShare()
    },
    likePost: function () {
      if (this.post.liked) {
        this.post.liked = false
        if (this.post.totalLikes) {
          this.post.totalLikes -= 1
        } else {
          this.post.totalLikes = 0
        }
      } else {
        this.post.liked = true
        if (this.post.totalLikes) {
          this.post.totalLikes += 1
        } else {
          this.post.totalLikes = 1
        }
      }
    },
    savePost: function () {
      if (this.post.saved) {
        this.post.saved = false
      } else {
        this.post.saved = true
      }
    },
    togglePostMore: function () {
      if (this.isPostMore) {
        this.isPostMore = false
      } else {
        this.isPostMore = true
      }
    },
    deletePost: function (id, index) {
      this.togglePostMore()
      var self = this
      let getPost = document.getElementById('post-id-'+id)
      this.postSize = {
        width: getPost.clientWidth + 'px',
        height: getPost.clientWidth + 'px'
      }
      this.isDeleteAnimation = true
      setTimeout(() => {
        self.posts.splice(index, 1)
        self.postSize = undefined
        self.isDeleteAnimation = false
      }, 1200)
    }
  },
  computed: {
    postTypeName: function () {
      if (parseInt(this.post.post.postType) === 1) {
        return 'post'
      } else if (parseInt(this.post.post.postType) === 2) {
        return 'post'
      } else if (parseInt(this.post.post.postType) === 3) {
          return 'service'
      }
    },
    publishedTime: function () {
      var time = this.post.post.time
      var timeSettings = {
        'from': undefined,
        'to': time,
        'prefix': 'Published',
        'suffix': 'ago'
      }
      var timeDiff = goodTimeDiff(timeSettings)
      return timeDiff
    },
    expireTime: function () {
      if (this.post.post.expireTime !== undefined) {
        var expireTime = this.post.post.expireTime
        var timeSettings = {
          'from': undefined,
          'to': expireTime,
          'prefix': 'This will expire after '
        }
        var timeDiff = goodTimeDiff(timeSettings)
        return timeDiff
      }
    },
    isPostExpired: function () {
      if (this.post.expireTime !== undefined) {
        let expireTime = new Date(this.post.expireTime)
        let checkValidity = new Date() - expireTime
        if (checkValidity >= 0) {
          return false
        } else {
          return true
        }
      } else {
        return true
      }
    }
  },
  mounted() {
    // console.log(this.post)
  }
}
</script>

<style scoped>
.post-card-footer-container:empty {
  display: none;
}
.post-card-footer-container {
  position: relative;
  display: inline-block;
  width: calc(100% + 40px);
  box-sizing: border-box;
  margin: 20px -20px -20px -20px;
  background-color: #f9f9f9;
  overflow: hidden;
  /* box-shadow: inset 0px 5px 10px 0px rgba(11,18,71,0.125); */
}
.post-card-footer-container:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 0px;
  background-color: transparent;
  top: -1px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 1);
}
.service-post-text-container {
  margin: 10px 0px 0px 0px;
}
</style>