<template>
  <div id="app" v-bind:class="{'no-overflow': isLogin}">
    <meta http-equiv="Cache-control" content="public">
    <router-view
    :eventBus="eventBus"
    :comments="dummyPostComments"
    :posts="dummyPosts"
    :isLoggedIn="isLoggedIn"
    :apiBaseUrl="apiBaseUrl"
    :isHomeBannerScrolled="isHomeBannerScrolled"
    :isMobile="isMobile"
    :isMenuExpanded="isMenuExpanded"
    />
    <Menu v-if="eventBus" :eventBus="eventBus" :isMobile="isMobile" :isLoggedIn="isLoggedIn" :isMenuExpanded="isMenuExpanded"/>
    <Login v-if="isLogin" v-bind:class="{'login-activated': isLoginActivated}" :eventBus="eventBus" :loginAnimate="loginAnimate" :apiBaseUrl="apiBaseUrl"/>
    <Register v-if="isRegister" v-bind:class="{'login-activated': isLoginActivated}" :eventBus="eventBus" :registerAnimate="registerAnimate" :apiBaseUrl="apiBaseUrl"/>
    <!-- <ProfileCompletion/> -->
  </div>
</template>

<script>
import {EventBus} from './event-bus.js'
// import {login, isLoggedIn, logout, token} from './utils/auth.js'
import {dummyComments} from './Api/postCommentsApi.js'
import {dummyPosts} from './Api/postsApi.js'

import Login from '@/components/Authorizations/Login'
import Register from '@/components/Authorizations/Register'
import Menu from '@/components/Mobile/Menu'
// import ProfileCompletion from '@/components/pages/ProfileCompletion/ProfileCompletion'

import firebase from 'firebase'
import db from './components/firebaseInit'
import { debug } from 'util';

export default {
  name: 'App',
  components: {
    Login,
    Register,
    Menu
    // ProfileCompletion
  },
  data () {
    return {
      apiBaseUrl: 'https://localhost:5001',
      dummyPostComments: [],
      dummyPosts: [],
      isLoggedIn: false,
      eventBus: undefined,
      isLogin: false,
      isRegister: false,
      isLoginActivated: false,
      loginAnimate: {
        'item1': false,
        'item2': false,
        'item3': false,
        'item4': false
      },
      registerAnimate: {
        'item1': false,
        'item2': false,
        'item3': false,
        'item4': false
      },
      isHomeBannerScrolled: false,
      isMobile: false,
      isMenuExpanded: false
    }
  },
  computed: {
  },
  methods: {
    loginEvent: function (state) {
      this.isLoggedIn = state
      this.setIsLogin(false)
    },
    checkLogin: function () {
      if (firebase.auth().currentUser) {
        this.loginEvent(true)
      } else {
        this.loginEvent(false)
      }
    },
    logoutNow: function () {
      firebase.auth().signOut()
        .then(() => {    
          this.isLoggedIn = false
          this.eventBus.$emit('check-auth')
        })
    },
    setIsLogin: function (state) {
      let buttonLoopIterationDelay = 200
      if (!this.isLogin) {
        this.isLogin = state
        setTimeout(() => {
          this.isLoginActivated = true
          setTimeout(() => {
            this.$set(this.loginAnimate, 'item1', true)
            setTimeout(() => {
              this.$set(this.loginAnimate, 'item2', true)
              setTimeout(() => {
                this.$set(this.loginAnimate, 'item3', true)
                setTimeout(() => {
                  this.$set(this.loginAnimate, 'item4', true)
                }, buttonLoopIterationDelay)
              }, buttonLoopIterationDelay)
            }, buttonLoopIterationDelay)
          }, 1000)
        }, 50)
      } else {
        this.$set(this.loginAnimate, 'item4', false)
        setTimeout(() => {
          this.$set(this.loginAnimate, 'item3', false)
          setTimeout(() => {
            this.$set(this.loginAnimate, 'item2', false)
            setTimeout(() => {
              this.$set(this.loginAnimate, 'item1', false)
              setTimeout(() => {
                this.isLoginActivated = false
                setTimeout(() => {
                  this.isLogin = state
                }, 300)
              }, buttonLoopIterationDelay)
            }, buttonLoopIterationDelay)
          }, buttonLoopIterationDelay)
        }, buttonLoopIterationDelay)
      }
    },
    setIsRegister: function (state) {
      let buttonLoopIterationDelay = 200
      if (!this.isRegister) {
        this.isRegister = state
        setTimeout(() => {
          this.isLoginActivated = true
          setTimeout(() => {
            this.$set(this.registerAnimate, 'item1', true)
            setTimeout(() => {
              this.$set(this.registerAnimate, 'item2', true)
              setTimeout(() => {
                this.$set(this.registerAnimate, 'item3', true)
                setTimeout(() => {
                  this.$set(this.registerAnimate, 'item4', true)
                }, buttonLoopIterationDelay)
              }, buttonLoopIterationDelay)
            }, buttonLoopIterationDelay)
          }, 1000)
        }, 50)
      } else {
        this.$set(this.registerAnimate, 'item4', false)
        setTimeout(() => {
          this.$set(this.registerAnimate, 'item3', false)
          setTimeout(() => {
            this.$set(this.registerAnimate, 'item2', false)
            setTimeout(() => {
              this.$set(this.registerAnimate, 'item1', false)
              setTimeout(() => {
                this.isLoginActivated = false
                setTimeout(() => {
                  this.isRegister = state
                }, 300)
              }, buttonLoopIterationDelay)
            }, buttonLoopIterationDelay)
          }, buttonLoopIterationDelay)
        }, buttonLoopIterationDelay)
      }
    },
    setBodyOverflowState: function (state) {
      let body = document.querySelector('body')
      if (body) {
        if (state) {
          body.classList.add('no-overflow')
        } else {
          body.classList.remove('no-overflow')
        }
      }
    },
    setHomeBannerScrolled: function (state) {
      if (this.isHomeBannerScrolled !== state) {
        this.isHomeBannerScrolled = state
      }
    },
    checkMobile () {
      if (screen.width <= 992) {
        this.isMobile = true
      } else {
        this.isMobile = false
      }
    },
    fbAuth () {
      let self = this
      // Facebook signin
      var provider = new firebase.auth.FacebookAuthProvider()
      provider.setCustomParameters({
        'display': 'popup'
      })
      firebase.auth().signInWithPopup(provider).then(function(result) {
        debugger
        let profilePicture = result.additionalUserInfo.profile.picture.data.url
        // This gives you a Facebook Access Token. You can use it to access the Facebook API.
        let token = result.credential.accessToken
        // The signed-in user info.
        let isNewUser = result.additionalUserInfo.isNewUser || false
        let user = result.user
        let userParams = {
          id: firebase.auth().currentUser.uid,
          username: result.additionalUserInfo.profile.name.trim(),
          email: result.additionalUserInfo.profile.email,
          profile_picture: profilePicture
        }
        if (isNewUser) {
          self.saveUser(userParams)
        }
        self.checkLogin()
      }).catch(function(error) {
        debugger
        // Handle Errors here.
        var errorCode = error.code
        var errorMessage = error.message
        // The email of the user's account used.
        var email = error.email
        // The firebase.auth.AuthCredential type that was used.
        var credential = error.credential
        // ...
        self.checkLogin()
      })
    },
    setMenuState () {
      this.isMenuExpanded = !this.isMenuExpanded
    },
    saveUser (userParams) {
      debugger
      db.collection('Users').doc(firebase.auth().currentUser.uid).set(userParams)
      this.$router.push({ name: 'ProfileCompletion', params: { user: userParams } })
      this.setIsRegister(false)
    }
  },
  watch: {
  },
  mounted () {
    this.checkMobile()
    this.eventBus = EventBus
    this.checkLogin()
    this.eventBus.$on('login-event', this.loginEvent)
    this.eventBus.$on('logout-event', this.logoutNow)
    this.eventBus.$on('check-login', this.checkLogin)
    this.eventBus.$on('is-login', this.setIsLogin)
    this.eventBus.$on('is-register', this.setIsRegister)
    this.eventBus.$on('set-homeBannerScrolled', this.setHomeBannerScrolled)
    this.eventBus.$on('mobile-menu-state', this.setMenuState)
    this.eventBus.$on('fb-auth', this.fbAuth)
    this.eventBus.$on('save-user', this.saveUser)
    this.dummyPostComments = dummyComments()
    this.dummyPosts = dummyPosts()
  },
  beforeDestroy () {
    this.eventBus.$off('login-event', this.loginEvent)
    this.eventBus.$off('logout-event', this.logoutNow)
    this.eventBus.$off('check-login', this.checkLogin)
    this.eventBus.$off('is-login', this.setIsLogin)
    this.eventBus.$off('is-register', this.setIsRegister)
    this.eventBus.$off('set-homeBannerScrolled', this.setHomeBannerScrolled)
    this.eventBus.$off('fb-auth', this.fbAuth)
    this.eventBus.$off('mobile-menu-state', this.setMenuState)
    this.eventBus.$off('save-user', this.saveUser)
  },
  created () {
    this.checkLogin()
    window.addEventListener('resize', this.checkMobile)
  },
  destroyed() {
    window.removeEventListener('resize', this.checkMobile)
  }
}
</script>

<style>
 @import './assets/css/reset.css';
 @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
 @import './assets/css/bootstrap-3.7.css';
 @import './assets/css/style.css';
 @import './assets/css/responsive.css';
 @import './assets/themify-icons/themify-icons.css';
</style>
