<template>
  <div class="home-banner-wrapper" ref="homeBanner" v-bind:style="{ backgroundImage: `url(${require('./../../assets/img/home-banner-1.jpg')})` }">
    <div class="banner-content-area">
      <div class="banner-dynamic-content-block">
        <div class="banner-content-container">
          <div class="banner-heading-block" id="banner-heading-block">
            <h1 class="banner-heading">
              <span class="line-breaker">Sri Lanka’s first and best</span><span class="line-breaker">online market place to find services</span><span class="line-breaker">from anywhere at anytime</span>
            </h1>
          </div>
          <div class="banner-main-search-block">
            <Search/>
          </div>
          <div class="banner-main-direct-button-block">
            <div class="button-container-inline">
              <a class="main-btn green-btn material-btn-click-md" id="looking_for_a_service_btn">I'm looking for a service</a>
            </div>
            <div class="button-container-inline">
              <a class="main-btn green-btn material-btn-click-md" id="looking_for_a_job_btn" v-on:click="getaJob">I'm looking for a job</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Search from '@/components/Includes/Search'
export default {
  name: 'HomeBanner',
  components: {
    Search
  },
  data () {
    return {
    }
  },
  props: {
    eventBus: undefined,
    homeBanner: {
      type: Object
    }
  },
  computed: {
  },
  methods: {
    getaJob: function () {
      alert('getaJob')
    }
  },
  mounted() {
    this.$set(this.homeBanner, 'height', this.$refs.homeBanner.clientHeight)
  }
}
</script>

<style scoped>
/* .banner-content-container {
} */
.banner-dynamic-content-block {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-content-container.come-init {
  transition: 0.5s;
  transform: translateX(0%);
  opacity: 1;
}
</style>