<template>
  <div ref="profileBanner"
    class="profile-banner-wrapper"
    v-bind:style="{ backgroundImage: `url(${require('./../../assets/img/profile-banner-1.jpg')})` }"
  >
    <div class="profile-banner-content-area container">
      <div class="profile-banner-content-block">
        <div class="profile-banner-content-block-list-wrapper" v-if="!isMobile">
          <ul class="profile-banner-content-block-list">
            <li>
              <a class="router-link-exact-active" v-bind:class="{'current' : profileSelectedTab.value === 0}" @click="selectProfileTab(0)">Overview</a>
            </li>
            <li>
              <a v-bind:class="{'current' : profileSelectedTab.value === 1}" @click="selectProfileTab(1)">Services</a>
            </li>
            <li>
              <a v-bind:class="{'current' : profileSelectedTab.value === 2}" @click="selectProfileTab(2)">Connections</a>
            </li>
            <!-- <li>
              <a v-bind:class="{'current' : profileSelectedTab.value === 3}" @click="selectProfileTab(3)">Bio</a>
            </li>
            <li>
              <a v-bind:class="{'current' : profileSelectedTab.value === 4}" @click="selectProfileTab(4)">Portfolio</a>
            </li> -->
          </ul>
        </div>
      </div>
      <div class="profile-banner-freelancer-avatar">
        <UserImage :userImage="profilePicture"/>
        <div class="freelancer-title-block">
          <div class="freelancer-name">
            Gayan sandamal
            {{profilePicture}}
            <span>(ux engineer)</span>
          </div>
          <!-- <div class="freelancer-title">ux engineer</div> -->
        </div>
      </div>
    </div>
    <div class="profile-banner-content-block-list-wrapper" v-if="isMobile">
      <ul class="profile-banner-content-block-list">
        <li>
          <a class="router-link-exact-active" v-bind:class="{'current' : profileSelectedTab.value === 0}" @click="selectProfileTab(0)">Overview</a>
        </li>
        <li>
          <a v-bind:class="{'current' : profileSelectedTab.value === 1}" @click="selectProfileTab(1)">Services</a>
        </li>
        <li>
          <a v-bind:class="{'current' : profileSelectedTab.value === 2}" @click="selectProfileTab(2)">Connections</a>
        </li>
        <!-- <li>
          <a v-bind:class="{'current' : profileSelectedTab.value === 3}" @click="selectProfileTab(3)">Services</a>
        </li>
        <li>
          <a v-bind:class="{'current' : profileSelectedTab.value === 4}" @click="selectProfileTab(4)">Connections</a>
        </li> -->
      </ul>
    </div>
  </div>
</template>

<script>
import UserImage from "./../Includes/UserImage";
export default {
  name: "ProfileBanner",
  components: {
    UserImage
  },
  data() {
    return {
      // userImage: "user.jpg"
    };
  },
  props: {
    eventBus: undefined,
    profileBanner: {
      type: Object
    },
    profileSelectedTab: {
      type: Object
    },
    profilePicture: {
      type: String
    },
    isMobile: {
      type: Boolean
    }
  },
  computed: {},
  methods: {
    selectProfileTab: function (value) {
      this.$set(this.profileSelectedTab, 'value', value)
    }
  },
  mounted() {
    this.$set(this.profileBanner, 'height', this.$refs.profileBanner.clientHeight)
  }
};
</script>

<style scoped>
.profile-banner-wrapper {
  position: relative;
  top: 0px;
  left: 0px;
  display: inline-block;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px 0px 0px 0px;
  box-shadow: var(--main-shadow);
}
.profile-banner-content-block {
  position: relative;
  display: inline-block;
  width: 100%;
  min-height: 250px;
  margin: 0px 0px -102px 0px;
}
.profile-banner-freelancer-avatar >>> .freelancer-img,
.profile-banner-freelancer-avatar >>> .freelancer-img-block .vue-content-placeholders-img {
  width: 120px;
  height: 120px;
  margin: 0px 0px -30px 0px;
  border: 4px solid #fff;
  box-shadow: var(--main-shadow);
}
.profile-banner-freelancer-avatar {
  position: relative;
  display: inline-block;
}
.profile-banner-freelancer-avatar .freelancer-title-block {
  position: absolute;
  bottom: -25px;
  left: 100%;
  display: inline-block;
  white-space: nowrap;
  padding: 0px 0px 0px 15px;
}
.profile-banner-freelancer-avatar .freelancer-title-block > .freelancer-name {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
  text-transform: capitalize;
  color: var(--main-bg-color);
}
.profile-banner-freelancer-avatar
  .freelancer-title-block
  > .freelancer-name
  > span {
  font-style: italic;
  color: #646992;
  font-size: 11px;
  margin: 0px 0px 0px 0px;
  text-transform: uppercase;
}
.profile-banner-content-block-list-wrapper {
  position: absolute;
  bottom: -2px;
  left: 128px;
  width: calc(100% - 128px);
}
.profile-banner-content-block-list {
  display: inline-block;
  position: relative;
}
.profile-banner-content-block-list > li {
  float: left;
  position: relative;
  z-index: 1;
}
.profile-banner-content-block-list > li > a {
  position: relative;
  display: block;
  padding: 15px 15px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.profile-banner-content-block-list > li > a:hover {
  cursor: pointer;
}
.profile-banner-content-block-list:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(to right, white 60%, transparent 100%);
  height: 100%;
  width: calc(100% + 200px);
  z-index: 0;
}
.profile-banner-content-block-list > li > a.current,
.profile-banner-content-block-list > li > a.current.router-link-exact-active {
  position: relative;
}
.profile-banner-content-block-list > li > a:after {
  content: "";
  position: absolute;
  background-color: #ef5350;
  bottom: 5px;
  right: 0px;
  width: 0%;
  height: 2px;
  transition: 0.3s;
}
.profile-banner-content-block-list > li > a:hover:after {
  content: "";
  position: absolute;
  background-color: #ef5350;
  bottom: 5px;
  right: 0px;
  width: 50% ;
  height: 2px;
  transition: 0.3s;
}
.profile-banner-content-block-list > li > a.current:after,
.profile-banner-content-block-list > li > a.current.router-link-exact-active:after {
  content: "";
  position: absolute;
  background-color: #ef5350;
  bottom: 5px;
  right: 0px;
  width: 50%;
  height: 2px;
  transition: 0.3s;
}
.profile-banner-content-block-list > li > a.current:before,
.profile-banner-content-block-list > li > a.current.router-link-exact-active:before {
  content: "";
  position: absolute;
  background-color: #ef5350;
  bottom: 5px;
  right: 0px;
  width: 2px;
  height: 50%;
  transition: 0.3s;
}
/* .profile-banner-content-block-list > li > a:hover:after {
} */
</style>