<template>
  <div>
    <div class="setting-item-header">
      <div class="setting-item-name">
        Profile Settings
      </div>
      <div class="search-settings">
        <search-chat></search-chat>
      </div>
    </div>
    <div class="profile-settings-content-wrapper">
      <div class="profile-settings-item">
        <div class="title">Username</div>
        <div class="value">g.sandamal</div>
        <a href="" class="profile-settings-button-edit">Edit</a>
      </div>
      <div class="profile-settings-item">
        <div class="title">First name</div>
        <div class="value">Gayan</div>
        <a href="" class="profile-settings-button-edit">Edit</a>
      </div>
      <div class="profile-settings-item">
        <div class="title">Last name</div>
        <div class="value">Sandamal</div>
        <a href="" class="profile-settings-button-edit">Edit</a>
      </div>
      <div class="profile-settings-item">
        <div class="title">Email</div>
        <div class="value">gayansandamal94@gmail.com</div>
        <a href="" class="profile-settings-button-edit">Edit</a>
      </div>
      <div class="profile-settings-button-wrapper">
        <button class="profile-settings-button profile-settings-btn-cancel">Cancel</button>
        <button class="profile-settings-button profile-settings-btn-save">Save</button>
      </div>
    </div>
  </div>
</template>
<script>
  import Search from "@/components/Includes/Search";
    export default{
      components:{
        "search-chat": Search,
         },
      }
</script>
<style>
.setting-item-header {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  padding: 0px;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #e7e7ed;
}
.setting-item-header .search-block {
  background-color: #fff;
  display: inline-block;
}
.setting-item-name {
  margin: 0px 0px 0px 0px;
  font-size: 10px;
  color: #0b1247;
  font-weight: bold;
}
.setting-item-header .search-settings .search-block .search-button {
  justify-content: flex-end;
}
.setting-item-header .search-settings .search-block .search-field {
  padding: 21px 20px;
}
.profile-settings-button-edit {
  text-align: right;
}
.profile-settings-item {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding: 0px;
  box-sizing: border-box;
  transition: 0.2s;
  height: 60px;
}
.profile-settings-item .value {
  width: 70%;
  font-weight: 500;
  font-size: 10px;
  color: #0B1247;
  opacity: 0.5;
}
.profile-settings-item .title {
  width: 20%;
  font-size: 10px;
  color: #0b1247;
  font-weight: bold;
}
.profile-settings-button-edit{
  float: inline-start;
  align-content: flex-end;
  width: 10%;
}
.profile-settings-button {
  width: 112px;
  height: 40px;
  border: none;
  border: 1px solid #17A06A;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.07em;
}
.profile-settings-btn-save {
  color: #FFFFFF;
  background: #17A06A;
}
.profile-settings-btn-cancel {
  color: #17A06A;
  border: 1px solid #17A06A;
  background-color: #fff;
  margin-right: 10px;
}
.search-settings .search-block >>> .search-field::placeholder {
  color: transparent;
}
.profile-settings-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 20px 0px 0px 0px;
}
</style>