<template>
  <div class="mobile-menu-wrapper" v-bind:class="{'menu-expanded': isMenuExpanded}">
    <div v-if="isMobile" class="mobile-menu-icon-wrapper" @click="setMenuState">
      <i v-if="isMenuExpanded" class="mobile-menu-icon material-icons">close</i>
      <i v-if="!isMenuExpanded" class="mobile-menu-icon material-icons">menu</i>
    </div>
    <ul>
      <li>
        <UserWidget v-if="isLoggedIn" :eventBus="eventBus" :gotoProfile="gotoProfile" :isMobile="!isMobile" :isMore="false"/>
      </li>
    </ul>
    <div class="bottom-buttons">
      <div class="post-card-add-comment-button-wrapper service-post-button">
        <InputButtonAsync class="" :label="'Logout'" :clickEvent="logoutbtn"/>
      </div>
    </div>
  </div>
</template>

<script>
import UserWidget from './../Includes/UserWidget'
import InputButtonAsync from './../Inputs/InputButtonAsync'

export default {
  name: 'mobile-menu',
  components: {
    UserWidget,
    InputButtonAsync
  },
  data () {
    return {
    }
  },
  props: {
    eventBus: undefined,
    isMobile: {
      type: Boolean
    },
    isLoggedIn: {
      type: Boolean
    },
    isMenuExpanded: {
      type: Boolean
    }
  },
  methods: {
    logoutbtn: function() {
      this.eventBus.$emit('logout-event')
    },
    gotoProfile () {
      this.$router.push('Profile')
    },
    setMenuState () {
      this.eventBus.$emit('mobile-menu-state')
    }
  },
  mounted() {
  },
  beforeDestroy () {
  }
}
</script>

<style scoped>
.mobile-menu-wrapper {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 260px;
  height: 100vh;
  background-color: #fff;
  z-index: 9999;
  box-shadow: var(--main-shadow);
  transform: translateX(260px);
  transition: 0.2s;
}
.mobile-menu-wrapper.menu-expanded {
  transform: translateX(0px);
  transition: 0.2s;
}
.mobile-menu-wrapper ul {
  display: inline-block;
  box-sizing: border-box;
  padding: 0px 20px 20px 20px;
  margin-bottom: 0px;
  width: 100%;
}
.mobile-menu-wrapper ul > li {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: var(--main-bg-color);
  font-size: 13px;
  font-weight: 400;
  margin: 0px 0px 0px 0px;
  line-height: 1;
}
.mobile-menu-icon-wrapper {
  width: 40px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.mobile-menu-icon {
  color: var(--main-bg-color);
  margin: 0px !important;
  float: right;
}
.bottom-buttons {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: inline-block;
  width: 100%;
}
.bottom-buttons >>> .input-button {
  position: relative !important;
}
.service-post-button {
  height: 40px;
  width: 220px;
  left: 0px;
}
.mobile-menu-wrapper >>> .user-widget-container {
  margin-left: 0px;
}
.mobile-menu-wrapper >>> .user-widget-container .freelancer-name,
.mobile-menu-wrapper >>> .user-widget-container .freelancer-title {
  color: var(--main-bg-color);
  font-weight: 500;
}
.mobile-menu-wrapper >>> .user-widget-container .freelancer-img-block {
  margin-right: 20px;
}
</style>
